<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label class="form-label" for="address-line-1">Address Line 1<b style="color:red">*</b></label>
        <div class="controls">
            <input type="text" class="form-control" id="address-line-1" name="addressLine1" ng-model="vm.address_1" required>
        </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label class="form-label" for="address-line-2">Address Line 2</label>
        <div class="controls">
            <input type="text" class="form-control" id="address-line-2" name="addressLine2" ng-model="vm.address_2" >
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label class="form-label" for="city">City<b style="color:red">*</b></label>
        <div class="controls">
            <input type="text" class="form-control" id="city" name="city" ng-model="vm.city" required>
        </div>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label class="form-label" for="zip-code">Zip Code<b style="color:red">*</b></label>
        <div class="controls">
            <input type="text" class="form-control" id="zip-code" name="zipCode" ng-model="vm.zip_code" required>
        </div>
    </div>
</div>
