<!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->
<perfect-scrollbar class="page-sidebar-wrapper" id="main-menu-wrapper" menuheight wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20">
    <!-- USER INFO - START -->
    <div class="profile-info" ng-show="app.settings.menuProfile">
        <div class="profile-image col-md-12 col-sm-12 col-xs-12 text-center">
            <a ui-sref="app.profile">
                <img src="{{profileImagePath ? profileImagePath : 'data/profile-image.png'}}" class="img-responsive">
                <span class="profile-status available"></span>
            </a>
        </div>
        <div class="profile-details col-md-12 col-sm-12 col-xs-12">
            <h3>
                <a ui-sref="app.profile">{{profileData.first_name}} {{profileData.last_name}}</a>
                <!-- Available statuses: online, idle, busy, away and offline -->
            </h3>
            <p class="profile-title">{{profileData.title}}</p>
        </div>
    </div>
    <!-- USER INFO - END -->
    <!-- nav -->
    <nav ui-nav ng-include="'partials/components/nav.html'" ng-controller="NavController"></nav>
    <!-- nav -->
    <!--<div class="sidebar-graphs col-md-12">
    <h5>
      New Orders
      <span class="pull-right">70%</span>
    </h5>
    <uib-progressbar value="70" class="progress progress-sm primary"></uib-progressbar>
    <h5>
      New Customers
      <span class="pull-right">60%</span>
    </h5>
    <uib-progressbar value="60" class="progress progress-sm warning"></uib-progressbar>
  </div>-->
</perfect-scrollbar>
<!-- MAIN MENU - END -->
<!--  SIDEBAR - END -->