<!-- list -->
<ul class="wraplist wrapper-menu">
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Dashboard</span>
        </a>
  </li>
  <!--Warehouse Manipulation; Only For Super Admin-->
  <li href class="auto" ui-sref-active="active">
    <a ui-sref=".warehouse.list" class="nosub">
            <i class="fa fa-bank"></i>
            <span class="title">Warehouses</span>
        </a>
  </li>
  <!--User Creation; Only For Super Admin-->
  <li href class="auto" ng-if="isSuperAdmin">
    <a ui-sref="app.users.list" ui-sref-active="active" class="nosub">
            <i class="material-icons">people</i>
            <span class="title">Users</span>
        </a>
  </li>
  <!--Vendor Menu; Only For Super Admin and Privileged Users-->
  <li href class="auto" ng-if="isSuperAdmin || hasVendorPrivilege" ui-sref-active="active">
    <a ui-sref="app.vendors" class="nosub">
            <i class="fa fa-users"></i>
            <span class="title">Vendor Setup</span>
        </a>
  </li>
  <!--Customer Menu; Only For Super Admin and Privileged Users-->
  <li href class="auto" ng-if="isSuperAdmin || hasCustomerPrivilege">
    <a ui-sref="app.customers" ui-sref-active="active" class="nosub">
            <i class="fa fa-users"></i>
            <span class="title">Customer</span>
        </a>
  </li>
  <!--Item Setup; Only For Super Admin and Privileged Users-->
  <li href class="auto" ng-if="isSuperAdmin || hasItemSetupPrivilege">
    <a ui-sref="app.items.list" ui-sref-active="active" class="nosub">
            <i class="fa fa-shopping-cart"></i>
            <span class="title">Item Setup</span>
        </a>
  </li>
  <!--Purchasing; Only for Super Admin and Privileged Users-->
  <li href class="auto" ng-if="isSuperAdmin || hasPurchasingPrivilege">
    <a ui-sref-active="active">
            <i class="fa fa-shopping-cart"></i>
            <span class="title">Purchasing</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
    <ul class="wraplist wraplist-sub sub-menu dk">
      <li ui-sref-active="active">
        <a ui-sref="app.purchasing.po-list">Purchase Order</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.asn">ASN</a>
      </li>
    </ul>
  </li>
  <!--Inventory Management-->
  <li href class="auto" ng-if="isSuperAdmin || hasInventoryPrivilege">
    <a ui-sref="app.inventory.dashboard">
            <i class="fa fa-archive"></i>
            <span class="title">Inventory Management</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
    <ul class="wraplist wraplist-sub sub-menu dk">
      <li ui-sref-active="active">
        <a ui-sref="app.inventory.live">View Live Inventory</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.inventory.adjustments">Adjustments</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.inventory.movement">Inventory Movements</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.inventory.quick_transfer">Inventory Quick Transfer</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.inventory.ownership">Ownership Transfer</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.inventory.receving">Item Receiving</a>
      </li>
      <!-- <li ui-sref-active="active">
        <a>Cycle Count<span class="arrow material-icons">keyboard_arrow_right</span></a>
        <ul class="wraplist wraplist-sub sub-menu dk">
          <li ui-sref-active="active">
            <a ui-sref="app.inventory.blindcount">Blind Counts</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="app.inventory.systemcount">System Generated Count Sheet</a>
          </li>
        </ul> -->
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.inventory.pallet">Pallet Id</a>
      </li>
  </li>
  </ul>
  </li>

  <li href class="auto" ng-if="isSuperAdmin || hasOrderManagementPrivilege">
    <a ui-sref="app.order.order-list" class="cursor-pointer">
            <i class="material-icons">dashboard</i>
            <span class="title">Order Mangement</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
    <ul class="wraplist wraplist-sub sub-menu dk">
      <li ui-sref-active="active">
        <a ui-sref="app.order.order-list">Orders</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.order.pick-list">Pick List</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.order.picking">Order Picking</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.order.packship">Order Packing</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.order.shipping">Order Shipping</a>
      </li>
      <!-- <li ui-sref-active="active">
        <a ui-sref="app.order.packship">Pick and Pack</a>
      </li> -->
    </ul>
    <li href class="auto" ng-if="isSuperAdmin">
      <a ui-sref="app.shipstation" ui-sref-active="active" class="nosub">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <span class="title">ShipStation</span>
            </a>
    </li>
    <li href class="auto" ng-if="isSuperAdmin">
      <a class="nosub" ui-sref="app.report" ui-sref-acctive="active">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <span class="title"   >Reporting</span>
        </a>
</li>
    <!--
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list" class="nosub">
      <i class="material-icons">mail</i>
      <span class="title">Billing Center</span>
    </a>
  </li>
  <li href class="auto" ng-if="isSuperAdmin || hasReportsPrivilege">
    <a href="javascript:;">
      <i class="material-icons">equalizer</i>
      <span class="title">Reports</span>
      <span class="arrow material-icons">keyboard_arrow_right</span>
    </a>
    <ul class="wraplist wraplist-sub sub-menu dk">
      <li ui-sref-active="active">
        <a ui-sref="app.eco-report-site">Site</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.eco-report-visitors">Visitors</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.eco-report-statistics">Statistics</a>
      </li>
    </ul>
  </li>-->
    <!--<li href class="auto">
    <a href="javascript:;">
      <i class="material-icons">device_hub</i>
      <span class="title">Reports</span>
      <span class="arrow material-icons">keyboard_arrow_right</span>
    </a>
    <ul class="wraplist wraplist-sub sub-menu dk">
      <li ui-sref-active="active">
        <a ui-sref="app.eco-categories">Product Categories</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.eco-category-add">Add Product Category</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.eco-category-edit">Edit Product Category</a>
      </li>
    </ul>
  </li>-->
    <!--<li href class="auto">
    <a href="javascript:;">
      <i class="material-icons">label</i>
      <span class="title">Product Tags</span>
      <span class="arrow material-icons">keyboard_arrow_right</span>
    </a>
    <ul class="wraplist wraplist-sub sub-menu dk">
      <li ui-sref-active="active">
        <a ui-sref="app.eco-tags">All Product Tags</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.eco-tag-add">Add Product Tag</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.eco-tag-edit">Edit Product Tag</a>
      </li>
    </ul>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.eco-account-settings" class="nosub">
      <i class="material-icons">settings</i>
      <span class="title">Settings</span>
    </a>
  </li>-->
</ul>
<!-- / list -->
