<!-- START TOPBAR -->
<div class='logo-area'>
</div>
<div class='quick-area'>
    <div class='pull-left slantit'>
        <ul class="info-menu left-links list-inline list-unstyled">
            <li class="sidebar-toggle-wrap">
                <!-- <a href data-toggle="sidebar" class="sidebar_toggle" ng-click="app.settings.menuFolded = !app.settings.menuFolded; menuChatToggle('menu',app.settings.menuFolded) "> -->
                <a href data-toggle="sidebar" class="sidebar_toggle" ng-click="app.settings.menuFolded = !app.settings.menuFolded">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="pull-left pagetitle">
        <span class='line'></span>
        <h1>{{app.settings.pagetitle}}</h1>
        <div></div>
    </div>

    <!-- <div class="pull-left quickleft" style=''>
        <ul class="info-menu right-links list-inline list-unstyled">
            <li class="dropdown tab " uib-dropdown>
                <a href class="dropdown-toggle toggle" uib-dropdown-toggle>
        {{selectedWarehouse.warehouse_name ? selectedWarehouse.warehouse_name : 'Select a warehouse'}}
        </a>
                <ul class="dropdown-menu  notifications animated fadeIn">
                    <li class="total">
                        <span class="small">Select a warehouse</span>
                    </li>
                    <li class="list">
                        <perfect-scrollbar wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" class='ps-scrollbar'>
                            <ul class="dropdown-menu-list list-unstyled">
                                <li class="cursor-pointer" ng-repeat="warehouse in warehouseList">
                                    <div ng-click="setWarehouse(warehouse.warehouse_id)">
                                        <span class="name"><h4>{{warehouse.warehouse_name}}</h4> -->
    <!-- <span class="time small">{{warehouse.address_1}},{{warehouse.address_2}},{{warehouse.city}}</span> -->
    <!-- </span>
                                    </div>
                                </li>
                            </ul>
                        </perfect-scrollbar>
                    </li>
                </ul>
            </li>

        </ul>
    </div> -->
    <!--
  <div class='pull-left searchbar'>
    <ul class="info-menu right-links list-inline list-unstyled">
      <li class="hidden-md hidden-sm hidden-xs searchform" searchgroup>
        <div class="input-group">
          <span class="input-group-addon input-focus">
                            <i class="material-icons">search</i>
                        </span>
          <form action="search-page.html" method="post">
            <input type="text" class="form-control animated fadeIn" placeholder="">
            <input type='submit' value="">
          </form>
        </div>
      </li>
    </ul>
  </div>
  <div class='pull-left' ng-show="hasVendorPrivilege && !isSuperAdmin">
    <ul class="info-menu left-links list-inline list-unstyled">
      <li class="dropdown profile tab" uib-dropdown>
        <a href class="dropdown-toggle toggle" uib-dropdown-toggle>

          <span class='hidden-sm hidden-md hidden-xs'>{{selectedWarehouse.warehouse_name}}</span>
          <i class="material-icons hidden-md hidden-sm hidden-xs">expand_more</i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right profile animated fadeIn">
          <li ng-repeat="warehouse in warehouseList" class="cursor-pointer" ng-click="setWarehouse($index)">
            <i class="material-icons">account_balance</i> {{warehouse.warehouse_name}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
-->
    <div class='pull-right quickright margin-right-40 padding-right-30'>
        <ul class="info-menu right-links list-inline list-unstyled">
            <li class="dropdown profile tab" uib-dropdown>
                <a href class="dropdown-toggle toggle" uib-dropdown-toggle>

                    <img src="{{profileImagePath ? profileImagePath : 'data/profile-image.png'}}" alt="user-image" class="img-circle img-inline">
                    <span class="profile-status available"></span>
                    <!-- <span class='hidden-sm hidden-md hidden-xs'>John Carter </span>  -->
                    <!-- <i class="material-icons hidden-md hidden-sm hidden-xs">expand_more</i> -->
                </a>
                <ul class="dropdown-menu dropdown-menu-right profile animated fadeIn">
                    <!--<li>
            <a ui-sref="app.dashboard">
              <i class="material-icons">settings</i> Settings
            </a>
          </li>

          <li>
            <a ui-sref="app.faq">
              <i class="material-icons">help</i> Help
            </a>
          </li>-->
                    <li ng-show="isSuperAdmin">
                        <a ui-sref="app.profile">
                            <i class="material-icons">person</i> Profile
                        </a>
                    </li>
                    <li>
                        <a class="cursor-pointer" ng-click="logout()">
                            <i class="material-icons">lock</i> Logout
                        </a>
                    </li>
                </ul>
            </li>
            <!--
      <li class="chat-toggle-wrapper chat-slant">
        <a href data-toggle="chatbar" class="toggle_chat" ng-click="app.settings.chatFolded = !app.settings.chatFolded; menuChatToggle('chat',app.settings.chatFolded) ">
          <i class="material-icons">chat_bubble</i>
        </a>
      </li>
      -->
        </ul>
    </div>
</div>
<!-- END TOPBAR -->