.module {
    background: #fff;
    border: solid 1px #979494;
    border-radius: 7px;
    margin: 10px 0px 10px 0px;
    padding: 0 !important;
    height: 100%;
}

.module .header {
    padding: 7px;
    border-radius: 7px 7px 0px 0px;
    border-bottom: solid 1px #979494;
    background: #EFFDEE;
}

.module table {
    width: 100%;
}

.module th {
    white-space: nowrap !important;
    width: 30px;
    padding-left: 10px;
    border-right: none;
    text-align: right;
    padding-right: 7px;
}

.module td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 130px;
    padding: 3px;
    text-align: left;
    padding-left: 7px;
}

.module .item-table th {
    text-align: left;
}

.modal-xlg {
    max-width: 1820px;
    min-width: 1300px;
}

.border-bottom-1 {
    border-bottom: solid 1px #979494 !important;
}
  .small-tag {
       color: white;
          line-height: 20px;
          text-decoration: none;
          padding: 0;    font-size: 13px;
          position: relative;
            margin-right: 3px;
          margin-left: 3px;
          white-space: nowrap;
          display: inline-block;
          width: 7px;    height: 17px;
          margin-bottom: -4px;
          border-radius: 13px;
        }
.hedline-border{
  border-bottom-style: solid !important;
  border-bottom-color: #979394 !important;
  border-bottom-width: 2px !important;
}

.table-headline{
  color: #3ea1d3 !important;

}
.click-icon{
cursor: pointer;
}
