<div class="col-lg-12 bgimg bg-primary error_page">
  <section class="box nobox">
    <div class="content-body">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1 class="page_error_code text-light">404</h1>
          <h1 class="page_error_info text-light">It seems, page you are looking for does not exist</h1>
        </div>
      </div>
    </div>
  </section>
</div>
