<div class="modal-header">
  <h4 class="modal-title text-center">{{warning.title}}</h4>
</div>
<div class="modal-body">
  {{warning.body}}
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()" ng-if="warning.showCancel">Cancel</button>
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
