<!-- dashboard-orders-days-count -->
<!-- <div class='content-wrapper' ng-init="app.settings.pagetitle = 'Dashboard'; "> -->
<!-- for quick transfer -->
    <!-- <section class="box nobox margin-top-15 margin-bottom-0">

        <div ng-if="isSuperAdmin || hasInventoryPrivilege" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
            <div class="r4_counter wid-stats db_box">
                <div class='stats-data'>
                    <i class="fa fa-exchange icon-primary pull-left"></i>
                    <div class="stats">
                        <a style="text-decoration:none;" ui-sref="app.inventory.quick_transfer">
                            <h3>Quick Transfer</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <div class="clearfix"></div>-->
<!-- /////////////////////////// -->




    <!-- <section ng-if="!isSuperAdmin" class="box ">
        <div class="content-body text-center">
            <h1>Welcome to WMS Portal</h1>

        </div>
    </section>
    <section ng-if="isSuperAdmin" class="box nobox margin-top-15 margin-bottom-0">

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>
                            <i class="fa fa-hourglass-half icon-primary pull-left"></i>
                            <div class="stats">
                                <h3>{{shipment_data.awaiting_shipment}}</h3>
                                <span>Awaiting Shipments</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>

                            <i class="fa fa-ship icon-primary pull-left"></i>
                            <div class="stats">
                                <h3>{{shipment_data.shipped}}</h3>
                                <span>Shipped</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                    <div class="r4_counter wid-stats db_box">
                        <div class='stats-data'>

                            <i class="fa fa-pause icon-primary pull-left"></i>
                            <div class="stats">
                                <h3>{{shipment_data.on_hold}}</h3>
                                <span>On-Hold</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div ng-if="isSuperAdmin" class="col-lg-12 col-md-12 col-xs-12 col-sm-12" >
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">{{whole_data.warehouse_name}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 wid-project-report">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                <div uib-tooltip={{whole_data.pallet_occupied_count}}/{{whole_data.pallet_total_count}} ui-jq="easyPieChart" ui-options="{
                      easing: 'easeOutBounce',
                      barColor: '{{app.color.primary}}',
                      trackColor: '#f5f5f5',
                      scaleColor: '#eaeaea',
                      lineCap: 'square',
                      lineWidth: 5,
                      size: 120,
                      animate: 1000,
                      percent: {{whole_data.pallet_total_count== 0 ? 0:(whole_data.pallet_occupied_count/whole_data.pallet_total_count)*100}}
                    }">
                                    <div>
                                        <span class="text-primary percent">{{whole_data.pallet_total_count== 0 ? 0:(whole_data.pallet_occupied_count/whole_data.pallet_total_count)*100 |number:0}}%</span>
                                    </div>
                                </div>
                                <h4 class="text-center margin-top-10 margin-bottom-10"uib-tooltip="Font Size">Pallet Utilization</h4>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                                <div uib-tooltip={{whole_data.shelf_occupied_count}}/{{whole_data.shelf_total_count}} ui-jq="easyPieChart" ui-options="{
                      easing: 'easeOutBounce',
                      barColor: '{{app.color.accent}}',
                      trackColor: '#f5f5f5',
                      scaleColor: '#eaeaea',
                      lineCap: 'square',
                      lineWidth: 5,
                      size: 120,
                      animate: 1000,
                      percent: {{whole_data.shelf_total_count== 0 ? 0 : (whole_data.shelf_occupied_count/whole_data.shelf_total_count)*100}}
                    }">
                                    <div>
                                        <span class="text-accent percent">{{whole_data.shelf_total_count== 0 ? 0 : (whole_data.shelf_occupied_count/whole_data.shelf_total_count)*100 | number:0}}%</span>
                                    </div>
                                </div>
                                <h4 class="text-center margin-top-10 margin-bottom-10">Shelf Utilization</h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>
</div> -->
<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Dashboard'">
    <section class="margin-top-15 margin-bottom-0">
        <div ng-click="close()" ng-if="!home" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padding-right-0 padding-left-0">
            <div class="r4_counter wid-stats db_box">
              <div class='stats-data'>
                <i style="color:#26c6da" class="fa fa-home  pull-left"></i>
              </div>
            </div>
          </div>
      <div ng-click="homepageToogle(1)" ng-if="show[0]" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
        <div class="r4_counter wid-stats db_box">
          <div class='stats-data'>
            <i class="fa fa-hourglass-half icon-primary pull-left"></i>
            <div class="stats">
              <h3>{{shipment_data.awaiting_shipment}}</h3>
              <span>Awaiting Shipments</span>
            </div>
          </div>
        </div>
      </div>
      <div ng-click="homepageToogle(2)" ng-if="show[1]" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
        <div class="r4_counter wid-stats db_box">
          <div class='stats-data'>
            <!-- <i class="material-icons icon-primary pull-left">people</i> -->
            <i class="fa fa-ship icon-primary pull-left"></i>
            <div class="stats">
              <h3>{{shipment_data.shipped}}</h3>
              <span>Shipped</span>
            </div>
          </div>
        </div>
      </div>
      <div ng-click="homepageToogle(3)" ng-if="show[2]" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
        <div class="r4_counter wid-stats db_box">
          <div class='stats-data'>

            <i class="fa fa-pause icon-primary pull-left"></i>
            <div class="stats">
              <h3>{{shipment_data.on_hold}}</h3>
              <span>On-Hold</span>
            </div>
          </div>
        </div>
      </div>


    </section>
    <div ng-if="home" class="col-lg-12 col-md-6 col-xs-12 col-sm-12" >

      <section class="">
        <div class="content-body">

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div ng-click="show_all(1)" class="tile-counter inverted text-success">
                <div class="content">
                  <i class='fa fa-arrow-down icon-lg'></i>
                  <h2 count-to={{whole_data.asn_count}} value="0" duration=".3" class="number_counter"></h2>
                  <div class="clearfix"></div>
                  <span>Incoming ASN</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12">
              <div ng-click="show_all(2)" class="tile-counter inverted text-info">
                <div class="content">
                  <i class='fa fa-product-hunt icon-lg'></i>
                  <h2 count-to={{whole_data.put_away_count}} value="0" duration=".3" class="number_counter"></h2>
                  <div class="clearfix"></div>
                  <span>Pending Put Away</span>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                              <div class="tile-counter inverted text-danger">
                                  <div class="content">
                                      <i class='fa fa-product-hunt icon-lg'></i>
                                      <h2 count-to="1001" value="0" duration="5" class="number_counter"></h2>
                                      <div class="clearfix"></div>
                                      <span>Incoming ASN</span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                              <div class="tile-counter inverted text-secondary">
                                  <div class="content">
                                      <i class='fa fa-product-hunt icon-lg'></i>
                                      <h2 count-to="1001" value="0" duration="5" class="number_counter"></h2>
                                      <div class="clearfix"></div>
                                      <span>Incoming ASN</span>
                                  </div>
                              </div>
                          </div> -->

            <div  class="col-md-12 col-sm-12 col-xs-12 wid-project-report">
              <div class="row">
                <div ng-click="show_all(3)" class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                  <div uib-tooltip={{whole_data.pallet_occupied_count}}/{{whole_data.pallet_total_count}} ui-jq="easyPieChart" ui-options="{
                            easing: 'easeOutBounce',
                            barColor: '{{app.color.primary}}',
                            trackColor: '#f5f5f5',
                            scaleColor: '#eaeaea',
                            lineCap: 'square',
                            lineWidth: 5,
                            size: 120,
                            animate: 1000,
                            percent: {{whole_data.pallet_total_count== 0 ? 0:(whole_data.pallet_occupied_count/whole_data.pallet_total_count)*100}}
                          }">
                    <div>
                      <span class="text-primary percent">{{whole_data.pallet_total_count== 0 ? 0:(whole_data.pallet_occupied_count/whole_data.pallet_total_count)*100
                        |number:0}}%
                      </span>
                    </div>
                  </div>
                  <h4 class="text-center margin-top-10 margin-bottom-10" uib-tooltip="Font Size">Pallet Utilization</h4>
                </div>

                <div ng-click="show_all(4)" class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                  <div uib-tooltip={{whole_data.shelf_occupied_count}}/{{whole_data.shelf_total_count}} ui-jq="easyPieChart" ui-options="{
                            easing: 'easeOutBounce',
                            barColor: '{{app.color.accent}}',
                            trackColor: '#f5f5f5',
                            scaleColor: '#eaeaea',
                            lineCap: 'square',
                            lineWidth: 5,
                            size: 120,
                            animate: 1000,
                            percent: {{whole_data.shelf_total_count== 0 ? 0 : (whole_data.shelf_occupied_count/whole_data.shelf_total_count)*100}}
                          }">
                    <div>
                      <span class="text-accent percent">{{whole_data.shelf_total_count== 0 ? 0 : (whole_data.shelf_occupied_count/whole_data.shelf_total_count)*100
                        | number:0}}%</span>
                    </div>
                  </div>
                  <h4 class="text-center margin-top-10 margin-bottom-10">Shelf Utilization</h4>
                </div>
              </div>


            </div>

          </div>
        </div>

      </section>

    </div>
    <div ng-if="home">
    <div class="clearfix"> &nbsp</div>
    <section  class="col-lg-6 col-sm-12 col-md-6 col-sx-12">
        <!-- <header class="panel_header">
            <h2 class="title pull-left">Bar</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle material-icons">expand_more</i>
                <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                <i class="box_close material-icons">close</i>
            </div>
        </header> -->
        <div class="content-body">
            <div class="content-body">
                <div class="row">
                  <h3>Open Orders Aging</h3>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div bar-chart  bar-data='barData' bar-x='y' bar-y='["a"]' bar-color="['#673AB7','#FF6E40','#66bd78']" click-fun="clickFun" bar-Label='labelData'></div>
                    </div>
                </div>
            </div>
        </div>

        </section>
        <section class="col-lg-6 col-sm-12 col-md-6 col-sx-12">
            <div class="content-body">
                <div class="content-body">
                    <div class="row">
                      <h3>Fulfillment Speed Report</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div bar-chart  bar-data='barDatashipped' bar-color="['#FBC02E','#673AB7','#FF6E40','#66bd78']" bar-x='y' bar-y='["a"]' click-fun="clickFun" bar-Label='labelData'></div>
                        </div>
                    </div>
                </div>
            </div>

            </section>
      </div>
  <div ng-if="home">
      <div class="clearfix"> &nbsp</div>
      <section class="col-lg-12 col-sm-12 col-md-12 col-sx-12">
          <div class="content-body">
              <div class="content-body">
                  <div class="row">
                    <h3>Orders Picked Per Hour</h3>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <div ui-jq="sparkline" ui-options="{{pick_sparkine_data}}, {
                      type: 'line',
                      width: '100%',
                      height: '200',
                      lineWidth: 2,
                      lineColor: '{{app.color.primary}}',
                      fillColor: 'rgba(55, 205, 251, 0.85)',
                      highlightSpotColor: '{{app.color.accent}}',
                      highlightLineColor: '#FF6E40',
                      spotRadius: 4,
                      }" class="sparkline inline">Loading...
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          </section>
    </div>
    <div ng-if="home">
        <div class="clearfix"> &nbsp</div>
        <section class="col-lg-12 col-sm-12 col-md-12 col-sx-12">
            <div class="content-body">
                <div class="content-body">
                    <div class="row">
                      <h3>Orders Shipped Per Hour</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div ui-jq="sparkline" ui-options="{{shiped_per_hour_sparkine_data}}, {
                        type: 'line',
                        width: '100%',
                        height: '200',
                        lineWidth: 2,
                        lineColor: '{{app.color.primary}}',
                        fillColor: 'rgba(55, 205, 251, 0.85)',
                        highlightSpotColor: '{{app.color.accent}}',
                        highlightLineColor: '#FF6E40',
                        spotRadius: 4,
                        }" class="sparkline inline">Loading...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </section>
      </div>
    <div ng-if="!home">
      <section class="nobox" ng-show="currentChart==2">
        <header class="panel_header">
          <!-- <h2 class="title pull-left">{{warehouse.warehouse_name}}</h2> -->
          <div class="actions panel_actions pull-right">
            <!-- <i class="box_toggle material-icons">expand_more</i> -->
            <!-- <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i> -->
            <!-- <i class="close material-icons" ng-click="close()">close</i> -->
          </div>
        </header>

        <div class="content-body"     style="background: white;">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="text-center">
                  <th>Age</th>
                  <th>Item Name</th>
                  <th>Item Sku</th>
                  <th>Store Name</th>
                  <th>Order#</th>
                  <th>Tags</th>
                  <th>Requested Service</th>
                  <th>Receipient</th>
                  <th>Order Date</th>
                  <th>Qnty</th>
                  <th>Order Total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="order in orderList track by $index" class="cursor-pointer" ng-click="viewOrderDetails(order.orderId)">
                  <td>{{order.age}}</td>
                  <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].name}}</td>
                  <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].sku}}</td>
                  <td>{{order.storeName}}</td>
                  <td>{{order.orderNumber}}</td>
                  <td>
                    <div ng-repeat="tag in order.tags">
                      <i class="small-tag tool-tip" popover-class="secondary" popover-placement="top" uib-popover="{{tag[0].name}}" popover-trigger="mouseenter"
                        ng-style="{'background-color':'{{tag[0].color}}' ,'border-color':'{{tag[0].color}}'}"></i>
                    </div>
                  </td>
                  <td>{{order.requestedShippingService}}</td>
                  <td>{{order.billTo.name}}</td>
                  <td>{{order.orderDate | date:"mediumDate" }}</td>
                  <td>{{order.items.length}}</td>
                  <td>{{order.orderTotal|currency}}
                </tr>
                <tr ng-if="orderList.length == 0" class="text-center">
                  <td colspan="11">No orders found</td>
                </tr>

              </tbody>

            </table>

          </div>
          <uib-pagination class="pull-left" ng-model="vm.currentPage" ng-change="homepageToogle(1)" total-items="vm.orderCount" items-per-page="vm.rowsPerPage "
          max-size="5" rotate="true" force-ellipses="true"> </uib-pagination>
        </div>

      </section>
      <section class="nobox" ng-show="currentChart==3">
          <header class="panel_header">
            <!-- <h2 class="title pull-left">{{warehouse.warehouse_name}}</h2> -->
            <div class="actions panel_actions pull-right">
              <!-- <i class="box_toggle material-icons">expand_more</i> -->
              <!-- <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i> -->
              <!-- <i class="close material-icons" ng-click="close()">close</i> -->
            </div>
          </header>

          <div class="content-body"     style="background: white;">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="text-center">
                    <th>Age</th>
                    <th>Item Name</th>
                    <th>Item Sku</th>
                    <th>Store Name</th>
                    <th>Order#</th>
                    <th>Tags</th>
                    <th>Requested Service</th>
                    <th>Receipient</th>
                    <th>Order Date</th>
                    <th>Qnty</th>
                    <th>Order Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in orderList track by $index" class="cursor-pointer" ng-click="viewOrderDetails(order.orderId)">
                    <td>{{order.age}}</td>
                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].name}}</td>
                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].sku}}</td>
                    <td>{{order.storeName}}</td>
                    <td>{{order.orderNumber}}</td>
                    <td>
                      <div ng-repeat="tag in order.tags">
                        <i class="small-tag tool-tip" popover-class="secondary" popover-placement="top" uib-popover="{{tag[0].name}}" popover-trigger="mouseenter"
                          ng-style="{'background-color':'{{tag[0].color}}' ,'border-color':'{{tag[0].color}}'}"></i>
                      </div>
                    </td>
                    <td>{{order.requestedShippingService}}</td>
                    <td>{{order.billTo.name}}</td>
                    <td>{{order.orderDate | date:"mediumDate" }}</td>
                    <td>{{order.items.length}}</td>
                    <td>{{order.orderTotal|currency}}
                  </tr>
                  <tr ng-if="orderList.length == 0" class="text-center">
                    <td colspan="11">No orders found</td>
                  </tr>

                </tbody>

              </table>

            </div>
            <uib-pagination class="pull-left" ng-model="vm.currentPage" ng-change="homepageToogle(1)" total-items="vm.orderCount" items-per-page="vm.rowsPerPage "
            max-size="5" rotate="true" force-ellipses="true"> </uib-pagination>
          </div>

        </section>
        <section class="nobox" ng-show="currentChart==1">
            <header class="panel_header">
              <!-- <h2 class="title pull-left">{{warehouse.warehouse_name}}</h2> -->
              <div class="actions panel_actions pull-right">
                <!-- <i class="box_toggle material-icons">expand_more</i> -->
                <!-- <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i> -->
                <!-- <i class="close material-icons" ng-click="close()">close</i> -->
              </div>
            </header>

            <div class="content-body"     style="background: white;">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr class="text-center">
                      <th>Age</th>
                      <th>Item Name</th>
                      <th>Item Sku</th>
                      <th>Store Name</th>
                      <th>Order#</th>
                      <th>Tags</th>
                      <th>Requested Service</th>
                      <th>Receipient</th>
                      <th>Order Date</th>
                      <th>Qnty</th>
                      <th>Order Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="order in orderList track by $index" class="cursor-pointer" ng-click="viewOrderDetails(order.orderId)">
                      <td>{{order.age}}</td>
                      <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].name}}</td>
                      <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].sku}}</td>
                      <td>{{order.storeName}}</td>
                      <td>{{order.orderNumber}}</td>
                      <td>
                        <div ng-repeat="tag in order.tags">
                          <i class="small-tag tool-tip" popover-class="secondary" popover-placement="top" uib-popover="{{tag[0].name}}" popover-trigger="mouseenter"
                            ng-style="{'background-color':'{{tag[0].color}}' ,'border-color':'{{tag[0].color}}'}"></i>
                        </div>
                      </td>
                      <td>{{order.requestedShippingService}}</td>
                      <td>{{order.billTo.name}}</td>
                      <td>{{order.orderDate | date:"mediumDate" }}</td>
                      <td>{{order.items.length}}</td>
                      <td>{{order.orderTotal|currency}}
                    </tr>
                    <tr ng-if="orderList.length == 0" class="text-center">
                      <td colspan="11">No orders found</td>
                    </tr>

                  </tbody>

                </table>

              </div>
              <uib-pagination class="pull-left" ng-model="vm.currentPage" ng-change="homepageToogle(1)" total-items="vm.orderCount" items-per-page="vm.rowsPerPage "
              max-size="5" rotate="true" force-ellipses="true"> </uib-pagination>
            </div>

          </section>
    </div>
