<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Advanced Shipping Notifications';">
<div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>Advanced Shipping Notifications</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Advanced Shipping Notifications</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-plus" ng-click="createASN()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpt" class="table table-striped">
              <thead>
                <tr class="dt-center">
                  <th>Asn Number</th>
                  <th>Customer</th>
                  <th>Ship Method</th>
                  <th>Ship Date</th>
                  <th>Item Codes</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
