<div class='content-wrapper'>
 <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a ui-sref="app.asn" class="collapsed">Advanced Shipping Notifications</a>
      </li>
      <li class="active">
        <strong>{{purchaseData.asn_number}}</strong>
      </li>

    </ol>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-init="init()">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">ADVANCED SHIPPING NOTIFICATIONS
        </h2>
      </header>
      <div class="content-body padding-bottom-0">

        <div class="row" id="printElement">
          <div  class="col-md-12 col-sm-12 col-xs-12 margin-left-10">
            <!-- start -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 col-xs-12">
                <img class="invoice-logo pull-right" src="img/drive_logo.png" width="200px">
                <br>
                <div class='pull-left'>
                  <strong>{{userData.company_details[0].name}}</strong> {{userData.company_details[0].website}}
                  <br> {{userData.company_details[0].email}}
                </div>
                <br>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="margin-bottom-10">ADVANCED SHIPPING NOTIFICATIONS
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4 text-left">
                <h5 class="">Customer</h5>{{purchaseData.customer_name}} </div>
              <div class="col-md-4 col-xs-4">
                <h5 class="">Ship To</h5>
                <div ng-show="purchaseData.close_po!=0" style="position: absolute;">
                  <img src='./img/close.png' />
                </div>
                <span>
                                    <h4 class="margin-bottom-5">{{purchaseData.address_1}}</h4>
                                    <span class="">{{purchaseData.address_2}}<br>{{purchaseData.city}}<br>{{purchaseData.zip_code}}</span>
                </span>

              </div>
              <div class="col-md-4 col-xs-4 text-left pull-right">
                <h5 class="">ASN NO : {{purchaseData.asn_number}}</h5>
                <h5>Date : {{purchaseData.ship_date | date:"mediumDate"}}</h5>
              </div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12">
              <hr>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
              <i>Ship Via : <b>{{shippingMethod}}</b></i>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                  <!-- <table ng-style=" background-image: item.close_po!=0 ?:'url('./img/close.jpg')' : 'url('')'; background-repeat:no-repeat;} : {background-color:'green'}" ; class="table table-bordered table-hover invoice-table"> -->
                  <table class="table table-bordered table-hover invoice-table">
                    <thead>
                      <tr>
                        <td>
                          <h4>Item</h4>
                        </td>
                        <td class="text-center">
                          <h4>Quantity</h4>
                        </td>
                        <td class="text-center">
                          <h4>Rate</h4>
                        </td>
                        <td class="text-right">
                          <h4>Amount</h4>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in itemData track by $index">
                        <td>{{item.item_sku}}</td>
                        <td class="text-center">{{item.quantity}}</td>
                        <td class="text-right">{{item.price | currency:"$":2}}</td>
                        <td class="text-right">{{ item.quantity * item.price | currency:"$":2}}</td>
                      </tr>
                      <tr>
                        <td class="no-line"></td>
                        <td class="no-line"></td>
                        <td class="no-line text-center">
                          <h4>Total</h4>
                        </td>
                        <td class="no-line text-right">
                          <h3 style='margin:0px;' class="text-primary">{{totalAmount | currency:"$":2}}</h3>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <!-- end -->
          </div>
        </div>

        <div class="row padding-bottom-10">
          <div class="col-md-12 col-sm-12 col-xs-12 text-right">
            <a class="btn btn-default btn-md" ng-print print-element-id="printElement"><i class="material-icons icon-sm">print</i>&nbsp; Print </a>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
