<!-- <div class='content-wrapper'>
  <div>
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Change Password</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <form name=changePassword>
        <div class="content-body ">
          <div class="row">
            <div class="form-controls">
              <input type="password" name="current_password" placeholder="Current Password">
            </div>
            <div class="form-controls">
              <input type="password" name="new_password" placeholder="New Password">
            </div>

            <div class="form-controls">
              <input type="password" name="confirm_password" placeholder="Repeat Password" />
            </div>
            <div>
              <button ng-cli="close()" class="btn pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
              <button href="#" class="btn btn-primary pull-left" id="password_modal_save">Save changes</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div> -->


<!--
  <div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Password Reset</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-10">
        <div class="row">
          <form role="form" name="passwordReset" novalidate>
            <div class="form-group">
              <label class="form-label" for="currentPassword">Name</label>
              <input type="password" class="form-control" id="currentPassword" ng-model="vm.currentPassword">
            </div>
            <div class="form-group">
              <label class="form-label" for="warehouse-name">Name</label>
              <input type="text" class="form-control" id="warehouse-name" ng-model="newPassword" value="{{vm.warehouse_name}}">
            </div>
            <div class="form-group">
              <label class="form-label" for="warehouse-name">Name</label>
              <input type="text" class="form-control" id="warehouse-name" ng-model="vm.newPassword" value="{{vm.warehouse_name}}">
            </div>
            <div class="form-group margin-bottom-0">
              <button class="btn btn-primary " data-ng-click="saveWarehouse()">Update</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div> -->
<div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Reset Password</h2>
        <span class="alert-danger" ng-show="password !== new_password&&reEnterTouched">&nbsp&nbsp&nbsp&nbspPassword mismatch</span>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-10">
        <div class="row">
          <form role="form" name="resetPassword">
            <div class="form-group col-lg-12">
              <input type="password" placeholder="Current Password" class="form-control" id="old_password" ng-model="old_password" required>
            </div>
            <div class="form-group col-lg-6">
              <input placeholder="Enter New Password" type="password" class="form-control" ng-model="password" required>
            </div>
            <div class="form-group pull-left col-lg-6">
              <input placeholder="Re-enter Password" ng-change="reEnterTouched=true" type="password" class="form-control" ng-model="new_password" required>
            </div>
            <button type="submit" ng-click="change()" class="btn pull-left btn-primary" ng-disabled="resetPassword.$invalid||password!==new_password">Update</button>
            <button type="submit" ng-click="cancel()" class="btn pull-right" >Cancel</button>


          </form>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
