<div class='content-wrapper' ng-init="init()">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Customer Basic Info</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-0">
        <div class="row">
          <form name="CustomerCreate" ng-submit="saveCustomer()">
            <!--Customer Name-->
            <div class="form-group">
              <label class="form-label" for="customer-name">Name <b style="color:red">*</b></label>
              <span class="desc"></span>
              <div class="controls">
                <input type="text" class="form-control" id="customer-name" name="customerName" ng-model="vm.customer_name" required>
              </div>
            </div>
            <!--Customer Address-->
            <div ng-include="'partials/components/address.html'"></div>
            <div class="row">
              <!--Customer Contact-->
              <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <label class="form-label" for="customer-contact">Contact <b style="color:red">*</b></label>
                <span class="desc"></span>
                <div class="controls">
                  <input type="text" class="form-control" id="customer-contact" name="customerContact" ng-model="vm.contact" required>
                </div>
              </div>
              <!--Customer Email-->
              <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <label class="form-label" for="customer-email">Email<b style="color:red">*</b></label>
                <span class="desc"></span>
                <div class="controls">
                  <input type="email" class="form-control" id="customer-email" name="customerEmail" ng-model="vm.email" required ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.[a-zA-z]{2,3})+$/">
                </div>
                <div class="alert-danger" ng-show="CustomerCreate.customerEmail.$error.pattern"> Invalid E-mail Format </div>
              </div>
            </div>
            <div class="row">
              <!--Customer Phone-->
              <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <label class="form-label" for="customer-phone">Phone<b style="color:red">*</b></label>
                <span class="desc"></span>
                <div class="controls">
                  <input type="text" id="customer-phone" name="customerPhone" class="form-control" required ng-model="vm.phone">
                </div>
              </div>
              <!--Customer Logo-->
              <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <label class="form-label" for="customer-logo">Logo</label>
                <span class="desc"></span>
                <div class="controls">
                  <input type="file" file="vm.logo" class="form-control" id="customer-logo" name="customerLogo" required>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
              <div class="text-left">
                <button type="button" class="btn btn-primary pull-left" ng-disabled="CustomerCreate.$invalid" ng-click="saveCustomer()">Save</button>
                <button type="button" class="btn pull-right" ng-click="cancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
   <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
