<div class='content-wrapper' ng-init="init()">
<div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
  <ol class="breadcrumb auto-hidden  border">
    <li>
      <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
    </li>
    <li>
      <a ui-sref="app.customers" class="collapsed">All Customers </a>
    </li>
    <li class="active">
      <strong>{{basicData.customer_name}}</strong>
    </li>

  </ol>
</div>
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
  <section class="box ">
    <header class="panel_header">
      <h2 class="title pull-left">{{basicData.customer_name}}</h2>
    </header>
    <div class="content-body">
      <div class="row">
        <uib-tabset justified="true" class="tab-container primary" active="tabIndex">
          <uib-tab select="setSelectedTab(0)">
            <uib-tab-heading>
              <i class="fa fa-home"></i>Baisc Info
            </uib-tab-heading>
            <!--Customer Info Table-->
            <div class="row padding-10">
              <button class="btn btn-primary pull-right" ng-click="basicInfoForm.$show()">Edit</button>
            </div>
            <table class="table">
              <thead>
                <th></th>
                <th>
                  <form editable-form name="basicInfoForm" onaftersave="updateCustomer('basic_info')" ng-show="basicInfoForm.$visible">
                    <button type="submit" ng-disabled="basicInfoForm.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                    <button type="button" ng-disabled="basicInfoForm.$waiting" ng-click="basicInfoForm.$cancel()" class="btn btn-xs btn-default">Cancel</button>
                  </form>
                </th>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td><span editable-text="basicData.customer_name" e-name="name" e-form="basicInfoForm">{{basicData.customer_name}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Address</th>
                  <td>
                    <span editable-text="basicData.address_1" e-name="address" e-form="basicInfoForm"></span>
                    <span editable-text="basicData.address_2" e-name="address" e-form="basicInfoForm"></span>
                    <span editable-text="basicData.city" e-name="address" e-form="basicInfoForm"></span>
                    <span editable-text="basicData.zip_code" e-name="address" e-form="basicInfoForm"></span>
                    <span ng-show="!basicInfoForm.$visible">{{basicData.address_1}},{{basicData.address_2}},{{basicData.city}},{{basicData.zip_code}}</span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Contact</th>
                  <td><span editable-text="basicData.contact" e-name="contact" e-form="basicInfoForm">{{basicData.contact}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Phone</th>
                  <td><span editable-text="basicData.phone" e-name="phone" e-form="basicInfoForm">{{basicData.phone}}</span></td>
                </tr>
                <tr>
                  <th scope="row">E-Mail</th>
                  <td><span editable-text="basicData.email" e-name="email" e-form="basicInfoForm">{{basicData.email}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Logo</th>
                  <td>
                    <!--<span editable-file="basicData.logo" e-name="logo" e-form="basicInfoForm" fileread="basicData.logo">-->
                    <span>
                      <input id="file" ng-show="basicInfoForm.$visible" name="file" type="file" e-name="logo" e-form="basicInfoForm"
                        file="basicData.logo" value="basicData.logo" />
                      <img width="100px" src="{{logoPath}}" ng-show="!basicInfoForm.$visible && basicData.logo" ></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </uib-tab>
          <uib-tab select="setSelectedTab(1)">
            <uib-tab-heading>
              <i class="fa fa-user"></i>Shipper Numbers
            </uib-tab-heading>
            <!--Shipper Numbers Table-->
            <div class="row padding-10">
              <button class="btn btn-primary pull-right" ng-click="shipperNumberForm.$show()">Edit</button>
            </div>
            <table class="table">
              <thead>
                <th></th>
                <th>
                  <form editable-form name="shipperNumberForm" onaftersave="updateCustomer('shipper')" ng-show="shipperNumberForm.$visible">
                    <button type="submit" ng-disabled="shipperNumberForm.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                    <button type="button" ng-disabled="shipperNumberForm.$waiting" ng-click="shipperNumberForm.$cancel()" class="btn btn-xs btn-default">Cancel</button>
                  </form>
                </th>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">UPS</th>
                  <td><span editable-text="shipperData.upc" e-name="upc" e-form="shipperNumberForm">{{shipperData.upc}}</span></td>
                </tr>
                <tr>
                  <th scope="row">FedEx</th>
                  <td><span editable-text="shipperData.fedex" e-name="fedex" e-form="shipperNumberForm">{{shipperData.fedex}}</span></td>
                </tr>
                <tr>
                  <th scope="row">USPS</th>
                  <td><span editable-text="shipperData.usps" e-name="usps" e-form="shipperNumberForm">{{shipperData.usps}}</span></td>
                </tr>
                <tr>
                  <th scope="row">DHL</th>
                  <td><span editable-text="shipperData.dhl" e-name="dhl" e-form="shipperNumberForm">{{shipperData.dhl}}</span></td>
                </tr>
              </tbody>
            </table>
          </uib-tab>
          <!--SKU List Table-->
          <!--<uib-tab select="setSelectedTab(2)">
              <uib-tab-heading>
                <i class="fa fa-user"></i>SKU List
              </uib-tab-heading>
              <div class="row padding-10">
                <button class="btn btn-primary pull-right" ng-click="skuListForm.$show()">Edit</button>
              </div>
              <table class="table">
                <thead>
                  <th></th>
                  <th>
                    <form editable-form name="skuListForm" onaftersave="updateCustomer('skulist')" ng-show="skuListForm.$visible">
                      <button type="submit" ng-disabled="skuListForm.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                      <button type="button" ng-disabled="skuListForm.$waiting" ng-click="skuListForm.$cancel()" class="btn btn-xs btn-default">Cancel</button>
                    </form>
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Each</th>
                    <td><span editable-text="skuData.eachs" e-name="eachs" e-form="skuListForm">{{skuData.eachs}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Cases</th>
                    <td><span editable-text="skuData.cases" e-name="cases" e-form="skuListForm">{{skuData.cases}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Pallet</th>
                    <td><span editable-text="skuData.pallet" e-name="pallet" e-form="skuListForm">{{skuData.pallet}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">box</th>
                    <td><span editable-text="skuData.box" e-name="box" e-form="skuListForm">{{skuData.box}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Master Case</th>
                    <td><span editable-text="skuData.master_case" e-name="master_case" e-form="skuListForm">{{skuData.master_case}}</span></td>
                  </tr>
                </tbody>
              </table>
            </uib-tab>
            -->
          <uib-tab select="setSelectedTab(2)">
            <uib-tab-heading>
              <i class="fa fa-user"></i>Fields For Billing
            </uib-tab-heading>
            <!--Billing Table-->
            <div class="row padding-10">
              <button class="btn btn-primary pull-right" ng-click="billingForm.$show()">Edit</button>
            </div>
            <table class="table">
              <thead>
                <th></th>
                <th>
                  <form editable-form name="billingForm" onaftersave="updateCustomer('billing')" ng-show="billingForm.$visible">
                    <button type="submit" ng-disabled="billingForm.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                    <button type="button" ng-disabled="billingForm.$waiting" ng-click="billingForm.$cancel()" class="btn btn-xs btn-default">Cancel</button>
                  </form>
                </th>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Pallet Receiving</th>
                  <td><span editable-text="billingData.pallet_receiving" e-name="pallet_receiving" e-form="billingForm">{{billingData.pallet_receiving  | currency :"$" : 3 }}</span></td>
                </tr>
                <tr>
                  <th scope="row">Box Receiving</th>
                  <td><span editable-textarea="billingData.box_receiving" e-name="box_receiving" e-form="billingForm">{{billingData.box_receiving | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Container Receiving</th>
                  <td><span editable-text="billingData.container_receiving" e-name="container_receiving" e-form="billingForm">{{billingData.container_receiving | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Storage Fees</th>
                  <td><span editable-text="billingData.storage_fees" e-name="storage_fees" e-form="billingForm">{{billingData.storage_fees | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Pick/Pack Fees</th>
                  <td><span editable-text="billingData.pick_pack_fee" e-name="pick_pack_fee" e-form="billingForm">{{billingData.pick_pack_fee | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Touch Fee</th>
                  <td><span editable-text="billingData.touch_fee" e-name="touch_fee" e-form="billingForm">{{billingData.touch_fee | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Item Fee</th>
                  <td><span editable-text="billingData.item_fee" e-name="item_fee" e-form="billingForm">{{billingData.item_fee | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Delivery Fee</th>
                  <td><span editable-text="billingData.delivery_fee" e-name="delivery_fee" e-form="billingForm">{{billingData.delivery_fee | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Pickup Fee</th>
                  <td><span editable-text="billingData.pickup_fee" e-name="pickup_fee" e-form="billingForm">{{billingData.pickup_fee | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Minimum Monthly Fee</th>
                  <td><span editable-text="billingData.monthly_fee" e-name="monthly_fee" e-form="billingForm">{{billingData.monthly_fee | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Print Fee</th>
                  <td><span editable-text="billingData.print_fee" e-name="print_fee" e-form="billingForm">{{billingData.print_fee | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Blank Fee</th>
                  <td><span editable-text="billingData.blank_fee" e-name="blank_fee" e-form="billingForm">{{billingData.blank_fee | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Neck Label Fee</th>
                  <td><span editable-text="billingData.neck_label_fee" e-name="neck_label_fee" e-form="billingForm">{{billingData.neck_label_fee | currency :"$" : 3}}</span></td>
                </tr>
                <tr>
                  <th scope="row">Shipping Markup</th>
                  <td><span editable-text="billingData.shipping_markup" e-name="shipping_markup" e-form="billingForm">{{billingData.shipping_markup }}%</span></td>
                </tr>
                <tr>
                  <th scope="row">Supplies Markup</th>
                  <td><span editable-text="billingData.supplies_markup" e-name="supplies_markup" e-form="billingForm">{{billingData.supplies_markup}}%</span></td>
                </tr>
              </tbody>
            </table>
          </uib-tab>
          <uib-tab select="setSelectedTab(3)">
            <uib-tab-heading>
              <i class="fa fa-user"></i>Notifications
            </uib-tab-heading>
            <!--Notification Table-->
            <div class="row padding-10">
              <button class="btn btn-primary pull-right" ng-click="notificationForm.$show()">Edit</button>
            </div>
            <table class="table">
              <thead>
                <th></th>
                <th>
                  <form editable-form name="notificationForm" onaftersave="updateCustomer('notification')" ng-show="notificationForm.$visible">
                    <button type="submit" ng-disabled="notificationForm.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                    <button type="button" ng-disabled="notificationForm.$waiting" ng-click="notificationForm.$cancel()" class="btn btn-xs btn-default">Cancel</button>
                  </form>
                </th>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Low Stock</th>
                  <td>
                    <div class="pull-left">
                      <span editable-select="notificationData.low_stock" e-name="low_stock" e-form="notificationForm" e-ng-options="s.value as s.text for s in assign">
                       <i class="fa fa-{{notificationData.low_stock == 1 ? 'check' : 'close' }}"></i>
                      </span>
                    </div>
                    <div class="pull-right" ng-show="notificationData.low_stock == 1">
                      <span ng-click="addLowStockEmails()" class="cursor-pointer"><i ng-if="!notificationData.lowstock_email" class="fa fa-plus-circle" aria-hidden="true"></i>
                        {{notificationData.lowstock_email ? 'View Emails' : 'Add Emails'}}
                        </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Receiving</th>
                  <td>
                    <div class="pull-left">
                      <span editable-select="notificationData.receiving" e-name="receiving" e-form="notificationForm" e-ng-options="s.value as s.text for s in assign">
                       <i class="fa fa-{{notificationData.receiving == 1 ? 'check' : 'close' }}"></i>
                      </span>
                    </div>
                    <div class="pull-right" ng-show="notificationData.receiving == 1">
                      <span ng-click="addReceivingEmails()" class="cursor-pointer"><i ng-if="!notificationData.receiving_email" class="fa fa-plus-circle" aria-hidden="true"></i>
                        {{notificationData.receiving_email ? 'View Emails' : 'Add Emails'}}
                        </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Summary Of Orders Shipped</th>
                  <td>
                    <div class="pull-left">
                      <span editable-select="notificationData.summary" e-name="summary" e-form="notificationForm" e-ng-options="s.value as s.text for s in assign">
                       <i class="fa fa-{{notificationData.summary == 1 ? 'check' : 'close' }}"></i>
                      </span>
                    </div>
                    <div class="pull-right" ng-show="notificationData.summary == 1">
                      <span ng-click="addSummaryEmails()" class="cursor-pointer"><i ng-if="!notificationData.summary_email" class="fa fa-plus-circle" aria-hidden="true"></i>
                        {{notificationData.summary_email ? 'View Emails' : 'Add Emails'}}
                        </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Adjustments</th>
                  <td>
                    <div class="pull-left">
                      <span editable-select="notificationData.adjustment" e-name="adjustments" e-form="notificationForm" e-ng-options="s.value as s.text for s in assign">
                       <i class="fa fa-{{notificationData.adjustment == 1 ? 'check' : 'close' }}"></i>
                      </span>
                    </div>
                    <div class="pull-right" ng-show="notificationData.adjustment == 1">
                      <span ng-click="addAdjustmentEmails()" class="cursor-pointer"><i ng-if="!notificationData.adjustment_email" class="fa fa-plus-circle" aria-hidden="true"></i>
                        {{notificationData.adjustment_email ? 'View Emails' : 'Add Emails'}}
                        </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </section>
</div>
<img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
