<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Visitor Reports';">



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Visitor Source</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="EcommerceAdmissionsCtrl">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Visitor Reviews on products</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="ProfessorCommunicationCtrl">

                        <div class="graph_axis_color">
                        <p><span class='bg-primary'></span> Clear Review</p>
                        <p><span class='bg-accent'></span> Partial Review</p>
                        <p><span class='bg-warning'></span> Recommended Review</p>
                        <p><span class='bg-success'></span> No Review</p>
                        </div>

                        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Users Spending Money</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="EcommerceBudgetCtrl">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>




    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Visitor Activity</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="EcommerceStudentActivityCtrl">


                        <div class="graph_axis_color">
                        <p><span class='bg-primary'></span> Summer</p>
                        <p><span class='bg-accent'></span> Winter</p>
                        <p><span class='bg-warning'></span> Monsoon</p>
                        </div>

                        <canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </div>
<img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />

</div>
