<div class='content-wrapper'>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Add {{location_type.type_name}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="fa fa-close" ng-click="cancel()"></i>
                </div>
            </header>
            <div class="content-body padding-bottom-10">
                <div class="row">
                    <form role="form" name="FloorAdd" novalidate>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 form-group">
                                <label for="warehouse-plan" class="form-label margin-left-20 margin-top-20"><b>{{warehouse_plan}} - </b></label>
                            </div>
                            <div class="form-group col-mg-2 col-mg-2 col-sm-6 col-xm-6">
                                <label for="section-name" class="form-label">Section Name</label>
                                <input type="text" class="form-control" id="section-name" name="section-name" ng-model="section_name" required></input>
                                <span class="alert-danger" ng-show="FloorAdd.section_name.$touched && FloorAdd.section_name.$error.required">Section name is required</span>
                            </div>
                        </div>
                        <button type="submit" ng-click="saveSection()" class="btn btn-primary" ng-disabled="FloorAdd.$invalid">Create</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
      <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
