<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Adjustments';">

  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>Make Adjustments</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-12">
    <!--Make adjustments section START-->
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Make Adjustments</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
        </div>
      </header>
      <div class="content-body">
        <form role="form" name="AdjustmentForm">
          <div class="row">
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
              <label class="form-label" for="from_location"> Location</label>
              <div class="input-group input-group-md">
                <input type="text" ng-model="vm.data.from_location_id" id="from_location" name="fromLocation" uib-typeahead="location.location_name as location.location_name for location in getLocationName($viewValue)"
                  typeahead-loading="loadingFromLoc" typeahead-no-results="noFromLoc" class="form-control" required focus-on="showFromLocation"
                  ng-keyup="$event.keyCode == 13 && transfer(false)">
                <i class="fa ng-show=" loadingFromLoc " fa-spinner" aria-hidden="true"></i>
                <i ng-show="noFromLoc" class="fa fa-exclamation-triangle" aria-hidden="true">No Locations Found</i>
              </div>
            </div>
            <button type="button" class="btn btn-primary" ng-disabled="!vm.data.from_location_id" ng-click="fetchItemData(vm.data.from_location_id)">Search </button>
          </div>
          <div class="row">
            <uib-alert ng-if="vm.location_type && locationList.length == 0" type="warning">This warehouse doesnt conatin any location with items occupied</uib-alert>
          </div>
          <div class="row " ng-if="locationName && itemData.length  > 0">
            <table class="table table-justified">
              <thead>
                <th>Description</th>
                <th>Sku</th>
                <th>UPC</th>
                <th>Qnty / Case </th>
                <th>Qnty / Pallet </th>
                <th>Quantity</th>
              </thead>
              <tbody>
                <tr ng-repeat="item in itemData">
                  <td>{{item.address}}</td>
                  <td>{{item.sku}}</td>
                  <td>{{item.upc}}</td>
                  <td>{{item.quality_case}}</td>
                  <td>{{item.quality_pallet}}</td>
                  <td> <input type="number" onkeypress="return event.charCode >= 48" ng-model="vm.qnty[item.id]" ng-value="item.quantity"
                      ng-change="change()" /> </td>
                  <td>
                    <button ng-disabled="flag" type="button" class="btn btn-xs" ng-click="updateItem(item.id,item.sku,item.location_id,item.quantity)">Update</button>                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </section>
    <!--Make adjustments section END-->
    <!--List Adjustments Section Start-->
    <!-- <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">All Adjustments</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped" id="adjustment" ui-jq="dataTable" ui-options="dataTableOpts">
                            <thead>
                                <tr>
                                    <th style="width:10%">Item Sku</th>
                                    <th style="width:15%">Quantity</th>
                                    <th style="width:50%">Changed By</th>
                                    <th style="width:10%">Changed On</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section> -->
    <!--List Adjustments Section END-->
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
