<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Inventory Movements';">
  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
    <ol class="breadcrumb auto-hidden  border ">
      <li>
        <a ui-sref="app.dashboard" class="collapsed">
          <i class="fa fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>Quick Transfer</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-12" ng-if="startPoint">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Quick Transfer</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
        </div>
      </header>
      <div class="content-body padding-bottom-30">
        <form name="InventoryTransferForm">
          <div class="row">
            <div ng-if="showSelection" class="form-group">
              <div class="radio">
                <label class="icheck form-label margin-left-30 margin-right-30">
                  <input type="radio" class="form-control" value="1" name="location" ng-model="quick_transfer.data.type">
                  <i></i>Location Transfer
                </label>
                <label class="icheck form-label">
                  <input type="radio" class="form-control" value="2" name="pallet" ng-model="quick_transfer.data.type">
                  <i></i>Pallet Transfer
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>

  <!-- ////////////////////////////////////////////for location transfer -->
  <div ng-if="quick_transfer.data.type == 1">
    <div class="col-lg-12" ng-if="scanStart">
      <!--Transfer Item Start-->
      <section class="box ">
        <header class="panel_header">
          <h2 class="title pull-left">Location Transfer</h2>
          <div class="actions panel_actions pull-right">
            <i class="box_toggle material-icons">expand_more</i>
          </div>
        </header>
        <div class="content-body padding-bottom-0">
          <form name="InventoryTransferForm">
            <div class="row">
              <div class="form-group col-md-12 col-sm-12 col-xs-12" ng-show="takeloc">
                <label class="form-label" for="from_location">From Location
                </label>
                <div class="input-group input-group-md">
                  <input type="text" ng-keypress="(!noFromLoc && $event.keyCode == 13) ?  scanNext(1): null" ng-model="vm.data.location_id"
                    id="from_location" name="fromLocation" uib-typeahead="location.location_name as location.location_name for location in getLocationName($viewValue)"
                    typeahead-loading="loadingFromLoc" typeahead-on-select="scanNext(1)" typeahead-no-results="noFromLoc" class="form-control"
                    required focus-on="showFromLocation" />
                  <i ng-show="loadingFromLoc" class="fa fa-spinner" aria-hidden="true"></i>
                  <i ng-show="noFromLoc" class="fa fa-exclamation-triangle" aria-hidden="true">No Locations Found</i>
                </div>

                <!-- <input type="text" class="form-control" name="fromLocation" id="from_location" ng-model="vm.data.from_location_id" focus-on="showFromLocation" ng-keyup="$event.keyCode == 13 && transfer(false)" required> -->
              </div>
              <div ng-show="takesku" class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="form-label" for="item_sku">Item SKU
                </label>
                <input type="text" class="form-control" id="item_sku" ng-model="vm.data.sku" ng-keypress="$event.keyCode == 13 ?  chack4AdditionalField() : null"
                  required focus-on="showItemSelection" />
                <!-- ng-keyup="$event.keyCode == 13 && transfer(false)" /> -->
              </div>

            </div>
          </form>
        </div>

      </section>
    </div>

    <div class="col-lg-12" ng-if="showResult">
      <section class="box">
        <header class="panel_header">
          <h2 class="title pull-left">Transfer Item</h2>
          <div class="actions panel_actions pull-right">
            <i class="box_toggle material-icons">expand_more</i>
          </div>
        </header>
        <div class="content-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr class="text-center">
                    <th></th>
                    <th>SKU</th>
                    <th>Quantity</th>
                    <th>Expiry date</th>
                    <th>RFID</th>
                    <th>Serial number</th>
                    <th>LOT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in itemList track by $index" class="cursor-pointer" ng-click="checkboxselection($index,item.id,item.quantity,item.receive_id)">
                    <td>
                      <label class="icheck">
                        <input ng-disabled="true" type="checkbox" id="{{$index}}" />
                        <i></i>
                      </label>
                      <td>{{item.item_id}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.expiry_date!=null? item.expiry_date : null}}</td>
                      <td>{{item.rfid_number!=''? item.rfid_number : null}}</td>
                      <td>{{item.serial_number!=''? item.serial_number : null}}</td>
                      <td>{{item.lot!=''? item.lot : null}}</td>
                  </tr>
                  <tr ng-if="itemList.length == 0" class="text-center">
                    <td colspan="11">No Item found</td>
                  </tr>
                </tbody>
              </table>
              <!-- <button type="button" class="btn btn-primary pull-right" ng-click="listAllItems()">Show</button> -->
              <div class="row">
                <button type="button" class="btn btn-primary pull-right" ng-click="ScanTo()">Next</button>
              </div>
            </div>

          </div>
        </div>

      </section>
    </div>
    <div class="col-lg-12" ng-show=takeFromloc>
      <section class="box">
        <header class="panel_header">
          <h2 class="title pull-left">Transfer Item</h2>
          <div class="actions panel_actions pull-right">
            <i class="box_toggle material-icons">expand_more</i>
          </div>
        </header>
        <div class="content-body padding-bottom-0">
          <form name="InventoryTransferForm2">
            <div class="row">
              <div ng-show="takeQuantity" class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="form-label" for="item_quantity">Quantity
                </label>
                <input type="number" class="form-control" id="item_quantity" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="vm.data.quantity" ng-keypress="$event.keyCode == 13 ?  check4Qty(): null"
                  required focus-on="showItemSelection" />
                <!-- ng-keyup="$event.keyCode == 13 && transfer(false)" /> -->
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12" ng-show='showfloc'>
                <label class="form-label" for="to_location">To Location
                </label>
                <div class="input-group input-group-md">
                  <input type="text" ng-model="vm.data.to_location_id" id="to_location" name="toLocation" uib-typeahead="location.location_name as location.location_name for location in getLocationName($viewValue)"
                    typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="scanNext(2)"
                    class="form-control" required focus-on="showToLocation" ng-keypress="(!noResults && $event.keyCode == 13) ?  scanNext(2) : null">
                  <i ng-show="loadingLocations" class="fa fa-spinner" aria-hidden="true"></i>
                  <i ng-show="noResults" class="fa fa-exclamation-triangle" aria-hidden="true">No Locations Found</i>
                </div>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12" ng-show=showRemark>
                <label class="form-label" for="remark">Remark

                </label>
                <input type="text" class="form-control" id="remark" ng-model="vm.data.remark" ng-keypress="$event.keyCode == 13 ?  submitTransfer() : null"
                />
                <br>
                <button type="button" class="btn btn-primary pull-left" ng-click="submitTransfer(false)" ng-disabled="InventoryTransferForm.$invalid">
                  <i class="fa fa-exchange" aria-hidden="true"></i>&nbspTransfer</button>
              </div>

            </div>
          </form>
      </section>
      </div>


    </div>



    <!-- ////////////////////////////////////////////////// -->


    <div ng-if="quick_transfer.data.type == 2">
      <div class="col-lg-12">
        <section class="box ">
          <div class="row">

            <header class="panel_header">
              <h2 class="title pull-left">Quick Transfer</h2>
              <div class="actions panel_actions pull-right">
                <i class="box_toggle material-icons">expand_more</i>
              </div>
            </header>
            <div class='content-body padding-bottom-0'>
              <form name="QT">
                <div class="form-group">
                  <label class="form-label" for="from_location">Pallet Id</label>
                  <div class="input-group input-group-md" ng-if="quick_transfer.data.type == 1">
                    <input type="text" ng-model="quick_transfer.data.from_location_id" id="from_location" name="fromLocation" uib-typeahead="location.location_name as location.location_name for location in getLocationName($viewValue)"
                      typeahead-loading="loadingFromLoc" typeahead-no-results="noFromLoc" class="form-control" required focus-on="showFromLocation"
                      ng-keyup="$event.keyCode == 13 && transfer(true)">
                    <i ng-show="loadingFromLoc" class="fa fa-spinner" aria-hidden="true"></i>
                    <i ng-show="noFromLoc" class="fa fa-exclamation-triangle" aria-hidden="true">No Locations Found</i>
                  </div>
                  <input type="text" class="form-control" focus-on="showFromLocation" ng-keyup="($event.keyCode || $event.which) == 13 && transfer(true)"
                    ng-model="quick_transfer.data.from_location_id" ng-if="quick_transfer.data.type != 1" />
                </div>
                <div class="form-group" ng-if="showItemSelection && quick_transfer.data.type == 1">
                  <label class="form-label" for="item_sku">Item SKU</label>
                  <input type="text" class="form-control" focus-on="showItemSelection" ng-model="quick_transfer.data.item_id" ng-keyup="($event.keyCode || $event.which) == 13 && transfer(true)"
                    required/>
                </div>
                <div class="form-group" ng-if="showQnty && quick_transfer.data.type == 1">
                  <label class="form-label" for="item_qnty">Quantity</label>
                  <input type="number" min="0" class="form-control" focus-on="showQnty" id="item_qnty" ng-keyup="($event.keyCode || $event.which) == 13 && transfer(true)"
                    ng-model="quick_transfer.data.quantity" required>
                </div>
                <div class="form-group" ng-if="showToLocation">
                  <label class="form-label" for="to_location">To Location</label>
                  <div class="input-group input-group-md">
                    <input type="text" ng-model="quick_transfer.data.to_location_id" id="to_location" name="toLocation" uib-typeahead="location.location_name as location.location_name for location in getLocationName($viewValue)"
                      typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" required focus-on="showToLocation"
                      ng-keyup="$event.keyCode == 13 && transfer(true)">
                    <i ng-show="loadingLocations" class="fa fa-spinner" aria-hidden="true"></i>
                    <i ng-show="noResults" class="fa fa-exclamation-triangle" aria-hidden="true">No Locations Found</i>
                  </div>

                </div>
                <div class="row" ng-show="!showSelection">
                  <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                    <button type="button" class="btn btn-primary pull-left" ng-disabled="(showFromLocation && !quick_transfer.data.from_location_id)||(showItemSelection && !quick_transfer.data.item_id)||(showQnty && !quick_transfer.data.quantity) || (showToLocation && !quick_transfer.data.to_location_id)"
                      ng-click="transfer(true);">
                      <i class="fa fa-exchange" aria-hidden="true"></i>{{quickTransferButtonText}}</button>

                  </div>
                </div>
                <div class="row">
                  <uib-alert type="success" ng-if="showSuccess">Item has been transferred successfully</uib-alert>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
    <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
  </div>
