<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Live Inventory';">
  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>Inventory</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Inventory</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
        </div>
      </header>
      <div class="content-body">
        <!-- <uib-tabset justified="true" class="tab-container primary"> -->
        <!-- <uib-tab ng-click="reloadData(1)"> -->
        <!-- <uib-tab-heading>Pallet</uib-tab-heading> -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table id="inventory-live" class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpts">
              <thead>
                <tr>
                  <th>Location Name</th>
                  <th>SKU</th>
                  <th>UPC</th>
                  <th>Description</th>
                  <th>Occupied On</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        <!-- </uib-tab> -->
        <!-- <uib-tab ng-click="reloadData(2)">
                        <uib-tab-heading>Shelf</uib-tab-heading>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                                <table id="inventory-live-shelf" class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpts">
                                    <thead>
                                        <tr>
                                            <th>Location Name</th>
                                            <th>SKU</th>
                                            <th>UPC</th>
                                            <th>Description</th>
                                            <th>Occupied On</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab> -->
        <!-- floor tab -->
        <!-- <uib-tab ng-click="reloadData(3)">
                        <uib-tab-heading>Floor</uib-tab-heading>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                                <table id="inventory-live-floor" class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpts">
                                    <thead>
                                        <tr>
                                            <th>Location Name</th>
                                            <th>SKU</th>
                                            <th>UPC</th>
                                            <th>Description</th>
                                            <th>Occupied On</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody> </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab> -->
        </uib-tabset>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
