<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Ownership Transfer';">
  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>Ownership Transfer</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Ownership Transfer</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <!--<div class="row">
                    <div class="form-group col-lg-3 col-md-3">
                        <label class="form-label" for="warehouse">Warehouse</label>
                        <select class="form-control" id="warehouse" ng-model="search.warehouse_id" ng-options="warehouse.warehouse_id as warehouse.warehouse_name for warehouse in warehouseList track by warehouse.warehouse_id"
                            required ng-change="reloadData()"></select>
                    </div>
                </div>-->
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table id="ownership" class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpts">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>SKU</th>
                  <th>Owned By</th>
                  <th>Ownership Changes On</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
