<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Inventory Movements';">

  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed">
          <i class="fa fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>Transfer Item</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-12" ng-if="scanStart">
    <!--Transfer Item Start-->
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Transfer Item</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
        </div>
      </header>
      <div class="content-body padding-bottom-0">
        <form name="InventoryTransferForm">
          <div class="row">
            <div class="form-group col-md-12 col-sm-12 col-xs-12" ng-show="takeloc">
              <label class="form-label" for="from_location">From Location
              </label>
              <div class="input-group input-group-md">
                <input type="text" ng-keypress="(!noFromLoc && $event.keyCode == 13) ?  scanNext(1): null" ng-model="vm.data.location_id"
                  id="from_location" name="fromLocation" uib-typeahead="location.location_name as location.location_name for location in getLocationName($viewValue)"
                  typeahead-loading="loadingFromLoc" typeahead-on-select="scanNext(1)" typeahead-no-results="noFromLoc" class="form-control"
                  required focus-on="showFromLocation" />
                <i ng-show="loadingFromLoc" class="fa fa-spinner" aria-hidden="true"></i>
                <i ng-show="noFromLoc" class="fa fa-exclamation-triangle" aria-hidden="true">No Locations Found</i>
              </div>

              <!-- <input type="text" class="form-control" name="fromLocation" id="from_location" ng-model="vm.data.from_location_id" focus-on="showFromLocation" ng-keyup="$event.keyCode == 13 && transfer(false)" required> -->
            </div>
            <div ng-show="takesku" class="form-group col-md-12 col-sm-12 col-xs-12">
              <label class="form-label" for="item_sku">Item SKU
              </label>
              <input type="text" class="form-control" id="item_sku" ng-model="vm.data.sku" ng-keypress="$event.keyCode == 13 ?  chack4AdditionalField() : null"
                required focus-on="showItemSelection" />
              <!-- ng-keyup="$event.keyCode == 13 && transfer(false)" /> -->
            </div>

          </div>
        </form>
      </div>

    </section>
  </div>

  <div class="col-lg-12" ng-if="showResult">
    <section class="box">
      <header class="panel_header">
        <h2 class="title pull-left">Transfer Item</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
        </div>
      </header>
      <div class="content-body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="text-center">
                  <th></th>
                  <th>SKU</th>
                  <th>Quantity</th>
                  <th>Expiry date</th>
                  <th>RFID</th>
                  <th>Serial number</th>
                  <th>LOT</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in itemList track by $index" class="cursor-pointer" ng-click="checkboxselection($index,item.id,item.quantity,item.receive_id)">
                  <td>
                    <label class="icheck">
                      <input ng-disabled="true" type="checkbox" id="{{$index}}" />
                      <i></i>
                    </label>
                    <td>{{item.item_id}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.expiry_date!=null? item.expiry_date : null}}</td>
                    <td>{{item.rfid_number!=''? item.rfid_number : null}}</td>
                    <td>{{item.serial_number!=''? item.serial_number : null}}</td>
                    <td>{{item.lot!=''? item.lot : null}}</td>
                </tr>
                <tr ng-if="itemList.length == 0" class="text-center">
                  <td colspan="11">No Item found</td>
                </tr>
              </tbody>
            </table>
            <!-- <button type="button" class="btn btn-primary pull-right" ng-click="listAllItems()">Show</button> -->
            <div class="row">
              <button type="button" class="btn btn-primary pull-right" ng-click="ScanTo()">Next</button>
            </div>
          </div>

        </div>
      </div>

    </section>
  </div>













  <div class="col-lg-12" ng-show=takeFromloc>
    <section class="box">
      <header class="panel_header">
        <h2 class="title pull-left">Transfer Item</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
        </div>
      </header>
      <div class="content-body padding-bottom-0">
        <form name="InventoryTransferForm2">
          <div class="row">
            <div ng-show="takeQuantity" class="form-group col-md-12 col-sm-12 col-xs-12">
              <label class="form-label" for="item_quantity">Quantity
              </label>
              <input type="number" class="form-control" id="item_quantity" ng-model="vm.data.quantity" ng-keypress="$event.keyCode == 13 ?  check4Qty(): null"
                required focus-on="showItemSelection" />
              <!-- ng-keyup="$event.keyCode == 13 && transfer(false)" /> -->
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12" ng-show='showfloc'>
              <label class="form-label" for="to_location">To Location
              </label>
              <div class="input-group input-group-md">
                <input type="text" ng-model="vm.data.to_location_id" id="to_location" name="toLocation" uib-typeahead="location.location_name as location.location_name for location in getLocationName($viewValue)"
                  typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="scanNext(2)"
                  class="form-control" required focus-on="showToLocation" ng-keypress="(!noResults && $event.keyCode == 13) ?  scanNext(2) : null">
                <i ng-show="loadingLocations" class="fa fa-spinner" aria-hidden="true"></i>
                <i ng-show="noResults" class="fa fa-exclamation-triangle" aria-hidden="true">No Locations Found</i>
              </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12" ng-show=showRemark>
              <label class="form-label" for="remark">Remark

              </label>
              <input type="text" class="form-control" id="remark" ng-model="vm.data.remark" ng-keypress="$event.keyCode == 13 ?  submitTransfer() : null"
              />
              <br>
              <button type="button" class="btn btn-primary pull-left" ng-click="submitTransfer(false)" ng-disabled="InventoryTransferForm.$invalid">
                <i class="fa fa-exchange" aria-hidden="true"></i>&nbspTransfer</button>
            </div>

          </div>
        </form>
    </section>
    </div>
    <!--Transfer Item End-->
    <!--List of Movements Start-->
    <div class="col-lg-12" >
      <section class="box ">
        <header class="panel_header">
          <h2 class="title pull-left">List of Movements</h2>
          <div class="actions panel_actions pull-right">
            <i class="box_toggle material-icons">expand_more</i>
          </div>
        </header>
        <div class="content-body padding-bottom-15">
          <div class="row padding-15">
            <form name="searchForm">
              <div class="row">
                <!--<div class="form-group col-lg-3 col-md-3">
                                <label class="form-label" for="warehouse">Warehouse</label>
                                <select class="form-control" id="warehouse" ng-model="search.warehouse_id" ng-options="warehouse.warehouse_id as warehouse.warehouse_name for warehouse in warehouseList track by warehouse.warehouse_id"
                                    required ng-change="listLocations(1)"></select>
                            </div>-->
                <div class="form-group col-lg-2 col-md-2" ng-show="locationList.length > 0 ">
                  <label class="form-label" for="location_type">Location Name</label>
                  <select class="form-control" id="location_type" ng-model="search.location_name" ng-options="location.location_name as location.location_name for location in locationList track by location.location_id"></select>
                </div>

                <div class="form-group col-lg-2 col-md-2">
                  <label class="form-label" for="from_date">From Date</label>
                  <div class="input-group">
                    <input type="text" id="from_date" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="search.from_date" is-open="isFromDateOpen"
                      show-button-bar="false" ng-click="isFromDateOpen = !isFromDateOpen" datepicker-options="fromDateOptions"
                    />
                    <span class="input-group-btn">
                      <button type="button" ng-click="isFromDateOpen = !isFromDateOpen">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="form-group col-lg-2 col-md-2">
                  <label class="form-label" for="to_date">To Date</label>
                  <div class="input-group">
                    <input type="text" id="to_date" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="search.to_date" is-open="isToDateOpen"
                      show-button-bar="false" ng-click="isToDateOpen = !isToDateOpen" datepicker-options="toDateOptions" />
                    <span class="input-group-btn">
                      <button type="button" ng-click="isToDateOpen = !isToDateOpen">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary col-lg-1 col-md-1 margin-top-10" ng-disabled="!(search.location_name || (search.to_date && search.from_date))"
                  ng-click="listMovements()">Search</button>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
              <table class="table table-striped" id="inventory" ui-jq="dataTable" ui-options="dataTableOpts">
                <thead>
                  <tr>
                    <th style="width:10%">From Location</th>
                    <th style="width:10%">To Location</th>
                    <th style="width:10%">Moved By</th>
                    <th style="width:10%">Item Moved</th>
                    <th style="width:10%">Moved On</th>
                    <th style="width:15%">Remark</th>

                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--List of Movement End-->
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
