<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Rickshaw Charts';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Import Inventory</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_close material-icons" ng-click="cancel()">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label for="csv_file" class="form-label">Import CSV File</label>
                            <input type="file" class="form-control" id="csv_file" name="csv_file" file="vm.csv_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        </div>
                        <button type="submit" ng-click="import()" class="btn btn-primary" ng-disabled="vm.csv_file.name.length == 0">Submit</button>
                    </div>
                </div>
        </section>
        </div>
      <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
    </div>
