<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Admin';  ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box nobox margin-top-15 margin-bottom-0">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
                <div class="r4_counter wid-stats db_box">
                    <div class='stats-data'>
                        <i class="fa fa-download icon-primary pull-left"></i>
                        <div class="stats">
                            <a style="text-decoration:none;" ng-click="importInventory()">
                                <h3>Import to Inventory</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
    </div>

<img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
