<div class=''>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Receive Item</h2>
                <div class="actions panel_actions pull-right">
                    <i class="fa fa-close" ng-click="cancel()"></i>
                </div>
            </header>
            <div class="content-body padding-bottom-10">
                <div class="row">
                    <form role="form" name="ItemReceiveForm">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <!--Purchase Orders-->
                                <label class="form-label" for="receive-by">Purchase Order</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="receive-by" ng-blur="getItemDetails()" ng-model="vm.data.po_number" required readonly/>
                                </div>
                                <!--</div>-->
                            </div>
                            <div class="row margin-top-10" ng-if="itemData">
                                <div class="table-responsive" ng-if="itemData.length > 0">
                                    <table class="table table-bordered table-hover invoice-table">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>SKU Code</th>
                                                <th>Expected Quantity</th>
                                                <th>Received Quantity {{item}}</th>
                                                <th ng-if="showLot">Lot#</th>
                                                <th ng-if="showExpirationDate">Expiration Date</th>
                                                <th ng-if="showSerialNo">Serial No: / Claim Code</th>
                                                <th ng-if="showRfid">RFID Number</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                            <tr ng-repeat="item in itemData track by $index">
                                                <td>{{item.address}}
                                                    <!-- <button type="button" class="btn btn-xs margin-bottom-5" ng-click="printBoxLabel(item)"><i class="fa fa-print"> Print Box Label</i></button> -->
                                                    <br>
                                                    <button type="button" class="btn btn-xs"><i class="fa fa-print" ng-click="printItemLabel(item)"> Print Item Label</i></button> </td>
                                                <td>{{item.sku}}</td>
                                                <td ng-if="itemData[$index].total_quantity - itemData[$index].received_quantity != 0">{{ itemData[$index].total_quantity - itemData[$index].received_quantity}} / {{itemData[$index].total_quantity}}</td>
                                                <td ng-if="itemData[$index].total_quantity - itemData[$index].received_quantity == 0"><span class="label label-success">Item Fully Received</span></td>
                                                <td><input type="number" onkeypress="return event.charCode >= 48" min="1" name="qnty" ng-model="vm.item_all_data[$index].quantity" ng-show="itemData[$index].total_quantity - itemData[$index].received_quantity != 0" /> </td>
                                                <!--Lot If enabled-->
                                                <td ng-if="item.lot_flag == 1 && showLot"><input type="text" name="lot" ng-model="vm.item_all_data[$index].lot" required ng-if="itemData[$index].total_quantity - itemData[$index].received_quantity != 0" /></td>
                                                <td ng-if="item.lot_flag != 1 && showLot"></td>

                                              </div>
                                                <!--Expiration Date  -->
                                                <td ng-if="item.expiration_date_flag == 1 && showExpirationDate"><input type="text" class="form-control" ng-click="isDatepickerOpen = !isDatepickerOpen" uib-datepicker-popup="yyyy-MM-dd HH:mm:ss" datepicker-options="datepickerOptions" ng-model="vm.item_all_data[$index].expiry_date"
                                                        is-open="isDatepickerOpen" show-button-bar="false" popup-placement="bottom" required ng-if="itemData[$index].total_quantity - itemData[$index].received_quantity != 0"></td>
                                                <td ng-if="item.expiration_date_flag != 1 && showExpirationDate"></td>

                                                <!--Serial Number  -->
                                                <td ng-if="item.serial_number_flag == 1 && showSerialNo"><input type="text" name="serial" ng-model="vm.item_all_data[$index].serial_number" ng-if="itemData[$index].total_quantity - itemData[$index].received_quantity != 0" /></td>
                                                <td ng-if="item.serial_number_flag != 1 && showSerialNo"></td>

                                                <!--RFID Number  -->
                                                <td ng-if="item.rfid_number_flag == 1"><input type="text" name="qnty" ng-model="vm.item_all_data[$index].rfid_number" ng-if="itemData[$index].total_quantity - itemData[$index].received_quantity != 0" /></td>
                                                <td ng-if="item.rfid_number_flag != 1 && showRfid"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <uib-alert type="warning" ng-if="itemData.length == 0">Purchase Order invalid</uib-alert>
                            </div>

                            <div class="row" ng-if="showQntyError">
                                <span class="alert alert-danger">Quantity entered is greter than expected quantity. Please check again</span>
                            </div>

                            <!--Receving Documents-->
                            <div class="form-group">
                                <label class="form-label" for="receive-documents">Documents</label>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-15">
                                            <label class="form-label" for="bol">Bill Of Landing</label>
                                            <input type="file" class="form-control" id="bol" name="bol" file="files.bol" multiple required>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-15">
                                            <label class="form-label" for="packing-slip">Packing Slip</label>
                                            <input type="file" class="form-control" id="packing-slip" name="packing_slip" file="files.packing_slip" multiple required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-15">
                                            <label class="form-label" for="qc-form">Quality Control Forms</label>
                                            <input type="file" class="form-control" id="qc-form" name="qc_form" file="files.qc_form" multiple required>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-15">
                                            <label class="form-label" for="pictures">Pictures</label>
                                            <input type="file" class="form-control" id="pictures" name="pictures" file="files.pictures" multiple required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Create Label-->
                            <!-- <div class="form-group">
                                <label class="form-label" for="label">Label</label>
                                <div class="controls">
                                    <select class="form-control" id="label" name="label" ng-model="vm.data.label" ng-options="option.value as option.name for option in labelOptions track by option.value" required></select>
                                </div>
                            </div> -->
                            <!--Receiving Charges-->
                            <div class="form-group">
                                <label class="form-label" for="label">Additional Receiving Charges</label>
                                <div class="controls row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><label class="icheck form-label"><input type="checkbox" ng-model="vm.data.re_boxing"><i></i>Re-boxing</label></div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><label class="icheck form-label"><input type="checkbox" ng-model="vm.data.re_palletizing"><i></i>Re-palletizing</label></div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><label class="icheck form-label"><input type="checkbox" ng-model="vm.data.packaging"><i></i>Packaging/Supplies</label></div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><label class="icheck form-label"><input type="checkbox" ng-model="vm.data.time"><i></i>Time</label></div>
                                </div>
                            </div>
                            <div class="row">
                                <!--Receive Send To-->
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label class="form-label" for="receiving_location">Send to </label>
                                    <div class="controls">
                                        <select class="form-control" id="receiving_location" name="receiving_location" ng-model="vm.data.sent_to" required>
                                        <option value=1>Receiving</option>
                                        <option value=2>Put Away</option>
                                        <option value=3>Quarantine</option>
                                        <option value=4>Fullfillment</option>
                                    </select>
                                    </div>
                                </div>
                                <!--Close PO-->
                                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                    <label class="form-label" for="label">Close Purchase Order</label>
                                    <div class="controls">
                                        <div class="checkbox"><label class="icheck"><input type="checkbox" ng-model="isClosePo"><i></i>Close Po</label></div>
                                        <div class="form-group" ng-show="isClosePo">
                                            <select class="form-control" ng-model="vm.close_po" ng-options="option.value as option.name for option in receiveByOptions track by option.value"></select>
                                        </div>
                                    </div>
                                </div>
                                <!--Pallet Id-->
                                <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                    <div class="controls">
                                        <div class="checkbox"><label class="icheck"><input type="checkbox" ng-model="vm.generate_palletid"><i></i>Generate Pallet Id</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <button type="button" class="btn btn-primary pull-left" ng-disabled="ItemReceiveForm.$invalid" ng-click="sendData()">Save</button>
                            <button type="button" class="btn pull-right" ng-click="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>
