<div class='content-wrapper'>
  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a ui-sref="app.items.list" class="collapsed">All Items </a>
      </li>
      <li class="active">
        <strong>Item Info</strong>
       </li>

    </ol>
  </div>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Item Info</h2>
      </header>
      <div class="content-body padding-bottom-10">
        <uib-tabset active="0" type="tabs" vertical="false" justified="true" class="tab-container primary" active="itemTabIndex">
          <!--Basic Info Tab-->{{tabIndex}}
          <uib-tab heading="Basic Info" select="setSelectedTab(0)">
            <uib-tab-heading>Basic Info </uib-tab-heading>
            <div class="row">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Customer / Vendor Name</th>
                    <td colspan="3"><span editable-select="userData" e-name="summary" e-form="itemBasicInfo" e-ng-options="user as user.name for user in userList track by (user.id+user.type_name)">
                                     {{itemData.name_type ==1 ? userData.customer_name:userData.vendor_name}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Description</th>
                    <td colspan="3"><span editable-textarea="itemData.address" e-name="description" e-form="itemBasicInfo">{{itemData.address}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">UPC</th>
                    <td colspan="3"><span editable-text="itemData.upc" e-name="upc" e-form="itemBasicInfo">{{itemData.upc}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">SKU</th>
                    <td colspan="3">{{itemData.sku}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Picture</th>
                    <td colspan="3">
                      <span>
                      <input id="file" ng-show="itemBasicInfo.$visible" name="file" type="file" e-name="logo" e-form="itemInfo"
                        file="itemData.picture" value="itemData.picture" />
                      <img width="100px" src="{{picturePath}}" ng-show="!itemInfo.$visible && itemData.picture" /></span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Unit of Measure For Shipping</th>
                    <td colspan="3"> <span editable-select="itemData.unit_measure" e-name="unit_measure" e-form="itemBasicInfo" e-ng-options="s.id as s.text for s in unitMeasure">
                       {{itemData.unit_measure == 1 ? 'Each' : itemData.unit_measure == 2 ? 'Case' : 'Pallet' }}
                      </span></td>
                  </tr>
                  <tr>
                    <th scope="row">Quantity Per Case</th>
                    <td colspan="3"><span editable-text="itemData.quality_case" e-name="quality_case" e-form="itemBasicInfo">{{itemData.quality_case}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Quantity Per Pallet</th>
                    <td colspan="3"><span editable-text="itemData.quality_pallet" e-name="quality_pallet" e-form="itemBasicInfo">{{itemData.quality_pallet}}</span></td>
                  </tr>
                </tbody>
              </table>
              <form editable-form name="itemBasicInfo" onaftersave="updateItem()" ng-show="itemBasicInfo.$visible">
                <button type="submit" ng-disabled="itemBasicInfo.$waiting" class="btn btn-primary pull-left margin-left-15">Save</button>
                <button type="button" ng-disabled="itemBasicInfo.$waiting" ng-click="itemBasicInfo.$cancel()" class="btn btn-default pull-right margin-right-15">Cancel</button>
              </form>
              <button class="btn btn-primary pull-right margin-right-10" ng-click="itemBasicInfo.$show()" ng-show="!itemBasicInfo.$visible">Edit</button>
            </div>
          </uib-tab>
          <!--Product Dimesnions Tab-->
          <uib-tab heading="Product Dimensions" select="setSelectedTab(1)">
            <uib-tab-heading>Product Dimensions </uib-tab-heading>
            <div class="row">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Height</th>
                    <td><span editable-text="itemData.product_height" e-name="product_height" e-form="itemProductInfo">{{itemData.product_height}}</span></td>
                  </tr>
                  <tr>
                    <th>Width</th>
                    <td><span editable-text="itemData.product_weight" e-name="product_weight" e-form="itemProductInfo">{{itemData.product_weight}}</span></td>
                  </tr>
                  <tr>
                    <th>Depth</th>
                    <td><span editable-text="itemData.product_depth" e-name="product_depth" e-form="itemProductInfo">{{itemData.product_depth}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Weight</th>
                    <td colspan="3"><span editable-text="itemData.weight" e-name="weight" e-form="itemProductInfo">{{itemData.weight}}</span></td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>
              <form editable-form name="itemProductInfo" onaftersave="updateItem()" ng-show="itemProductInfo.$visible">
                <button type="submit" ng-disabled="itemProductInfo.$waiting" class="btn btn-primary pull-left margin-left-10">Save</button>
                <button type="button" ng-disabled="itemProductInfo.$waiting" ng-click="itemProductInfo.$cancel()" class="btn btn-default pull-right margin-right-10">Cancel</button>
              </form>
              <button class="btn btn-primary pull-right margin-right-10" ng-show="!itemProductInfo.$visible" ng-click="itemProductInfo.$show()">Edit</button>
            </div>
          </uib-tab>
          <!--Advanced Info Tabs-->
          <uib-tab heading="Advanced Indo" select="setSelectedTab(2)">
            <uib-tab-heading>Advanced Info</uib-tab-heading>
            <div class="row">
              <table class="table">
                <tbody>
                  <th scope="row">Replacement Value</th>
                  <td colspan="3"><span editable-text="itemData.replacement_value" e-name="replacement_value" e-form="itemAdvancedInfo">{{itemData.replacement_value | currency : "$" : 3 }}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Harmonized Code</th>
                    <td colspan="3"><span editable-text="itemData.harmonized_value" e-name="harmonized_value" e-form="itemAdvancedInfo">{{itemData.harmonized_value}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Lot</th>
                    <td colspan="3">
                      <span ng-show="!itemAdvancedInfo.$visible">{{itemData.lot_flag ? 'Yes' : 'No'}}</span>
                      <span ng-show="itemAdvancedInfo.$visible"><label class="icheck"><input type="checkbox"  ng-model="itemData.lot_flag"/><i></i></label></span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Expiration Date</th>
                    <td colspan="3">
                      <span ng-show="!itemAdvancedInfo.$visible">{{itemData.expiration_date_flag ? 'Yes' : 'No'}}</span>
                      <span ng-show="itemAdvancedInfo.$visible"><label class="icheck"><input type="checkbox" ng-model="itemData.expiration_date_flag" /><i></i></label></span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Serial Number / Claim Code</th>
                    <td colspan="3">
                      <span ng-show="!itemAdvancedInfo.$visible">{{itemData.serial_number_flag ? 'Yes' : 'No'}}</span>
                      <span ng-show="itemAdvancedInfo.$visible"><label class="icheck"><input type="checkbox" ng-model="itemData.serial_number_flag" /><i></i></label></span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">RFID Number</th>
                    <td colspan="3">
                      <span ng-show="!itemAdvancedInfo.$visible">{{itemData.rfid_number_flag ? 'Yes' : 'No'}}</span>
                      <span ng-show="itemAdvancedInfo.$visible"><label class="icheck"><input type="checkbox" ng-model="itemData.rfid_number_flag" /><i></i></label></span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Pick Method</th>
                    <td colspan="3">
                      <span editable-select="itemData.pick_method" e-name="summary" e-form="itemAdvancedInfo" e-ng-options="s.id as s.text for s in pickMethod">{{itemData.pick_method == 1 ? 'FIFO' : itemData.pick_method == 2 ? 'FEFO' : 'LIFO' }}</span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Barcode</th>
                    <td colspan="3" ng-bind-html="trustAsHtml(itemData.barcode)"></td>
                  </tr>
                  <tr>
                    <th scope="row">Cycle Count Strategy</th>
                    <td colspan="3">
                      <span editable-select="itemData.cycle_count" e-name="cycle_count" e-form="itemAdvancedInfo" e-ng-options="s.id as s.text for s in cycleCount">{{itemData.cycle_count == 1 ? 'Weekly' : itemData.cycle_count == 2 ? 'Monthly' : itemData.cycle_count == 3 ? 'Quaterly': itemData.cycle_count == 4 ? 'Semi-Annual':'Annual'}}</span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Low Stock Reorder Point</th>
                    <td colspan="3"><span editable-text="itemData.low_stock" e-name="low_stock" e-form="itemAdvancedInfo">{{itemData.low_stock}}</span></td>
                  </tr>
                </tbody>
              </table>
              <form editable-form name="itemAdvancedInfo" onaftersave="updateItem()" ng-show="itemAdvancedInfo.$visible">
                <button type="submit" ng-disabled="itemAdvancedInfo.$waiting" class="btn btn-primary pull-left margin-left-10">Save</button>
                <button type="button" ng-disabled="itemAdvancedInfo.$waiting" ng-click="itemAdvancedInfo.$cancel()" class="btn  btn-default pull-right margin-right-10">Cancel</button>
              </form>
              <button class="btn btn-primary pull-right margin-right-10" ng-show="!itemAdvancedInfo.$visible" ng-click="itemAdvancedInfo.$show()">Edit</button>
            </div>
          </uib-tab>
        </uib-tabset>
        <!--<button class="btn btn-primary pull-right margin-bottom-10">Print</button>-->
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
