<div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Create Item</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-20">
        <div class="row">
          <div class="form-group">
            <label for="csv_file" class="form-label">CSV File</label>
            <input type="file" ng-selected="csv=true" class="form-control" id="csv_file" name="csv_file" file="vm.csv_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            />
          </div>
        </div>
        <div ng-show="vm.csv_file" class="form-group">
          <button type="button" name="sub" class="btn btn-primary pull-left" ng-click="isDisabled=true; saveItem()">Save</button>
          <button type="button" class="btn pull-right" ng-click="cancel()">Cancel</button>
        </div>
        <div ng-hide="vm.csv_file">
          <div class="row text-center">OR</div>

          <div class="row">
            <form name="ItemCreate" ng-hide="vm.csv_file" onsubmit="sub.disabled=true" ;>
              <!--Customer / Vendor Name-->
              <div class="form-group">
                <label class="form-label" for="customer-vendor-name">Customer / Vendor Name
                  <b style="color:red">*</label>
                <span class="desc"></span>
                <div class="controls">
                  <select class="form-control" id="customer-vendor-name" ng-options="user as user.name+' ('+user.type_name+')' for user in userList track by (user.id+user.type_name)"
                    ng-model="vm.user" required></select>
                </div>
              </div>
              <!--Description-->
              <div class="form-group">
                <label class="form-label" for="item-desc">Description
                  <b style="color:red">*</label>
                <div class="controls">
                  <textarea class="form-control" cols="5" id="item-desc" name="ItemDesc" ng-model="vm.data.address" required></textarea>
                </div>
              </div>
              <div class="row">
                <!--UPC-->
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-upc">UPC</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="Item-upc" name="ItemUpc" ng-model="vm.data.upc">
                  </div>
                </div>
                <!--SKU-->
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-sku">SKU </label>
                  <div class="controls">
                    <input type="text" class="form-control" id="Item-sku" name="ItemSku" ng-model="vm.data.sku">
                  </div>
                </div>
              </div>
              <!--Picture-->
              <div class="form-group">
                <label class="form-label" for="item-picture">Picture</label>
                <span class="desc"></span>
                <div class="controls">
                  <input type="file" class="form-control" id="item-picture" name="ItemPicture" file="vm.picture">
                </div>
              </div>
              <!--Unit Of Measure-->
              <div class="form-group">
                <label class="form-label" for="Item-unit-measure">Unit of Measure for Shipping
                  <b style="color:red">*</label>
                <div class="controls">
                  <select id="Item-unit-measure" class="form-control" name="ItemMeasure" required ng-model="vm.data.unit_measure">
                    <option value=1>Each</option>
                    <option value=2>Case</option>
                    <option value=3>Pallet</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <!--Quantity Per Case-->
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-qnty-case">Quantity Per Case
                    <b style="color:red">*</label>
                  <span class="desc"></span>
                  <div class="controls">
                    <input type="number" onkeypress="return event.charCode >= 48" class="form-control" id="Item-qnty-case" name="ItemQtyCase"
                      ng-model="vm.data.quality_case" required>
                  </div>
                </div>
                <!--Quantity Per Pallet-->
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-qnty-pallet">Quantity Per Pallet
                    <b style="color:red">*</label>
                  <span class="desc"></span>
                  <div class="controls">
                    <input type="number" onkeypress="return event.charCode >= 48" class="form-control" id="Item-qnty-pallet" name="ItemQtyPallet"
                      ng-model="vm.data.quality_pallet" required>
                  </div>
                </div>
              </div>
              <!--Product Dimension-->
              <div class="form-group">
                <label class="form-label" for="Item-qnty-pallet">Product Dimension
                  <b style="color:red">*</label>
                <div class="controls">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                      <input type="number" onkeypress="return event.charCode >= 48|| event.charCode==46 " placeholder="Height" class="form-control"
                        id="Item-product-height" name="ItemProductHeight" ng-model="vm.data.product_height" required>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                      <input type="number" onkeypress="return event.charCode >= 48|| event.charCode==46" placeholder="Width" class="form-control"
                        id="Item-product-weight" name="ItemProductWeight" ng-model="vm.data.product_weight" required>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                      <input type="number" onkeypress="return event.charCode >= 48|| event.charCode==46" placeholder="Depth " class="form-control"
                        id="Item-product-depth" name="ItemProductDepth" ng-model="vm.data.product_depth" required>
                    </div>
                  </div>
                </div>
              </div>
              <!--Weight-->
              <div class="form-group">
                <label class="form-label" for="Item-weight">Weight
                  <b style="color:red">*</label>
                <span class="desc"></span>
                <div class="controls">
                  <input type="number" onkeypress="return event.charCode >= 48|| event.charCode==46" class="form-control" id="Item-weight"
                    name="ItemWeight" ng-model="vm.data.weight" required>
                </div>
              </div>
              <div class="row">
                <!--Replacement Value-->
                <div class="form-group col-lg-4 col-md-4 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-replacement-value">Replacement Value
                    <b style="color:red">*</label>
                  <span class="desc"></span>
                  <div class="controls">
                    <input type="number" class="form-control" id="Item-replacement-value" name="ItemReplacementValue" ng-model="vm.data.replacement_value"
                      required>
                  </div>
                </div>
                <!--Harmonized Code-->
                <div class="form-group col-lg-4 col-md-4 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-harmonized-code">Harmonized Code
                    <b style="color:red">*</label>
                  <span class="desc"></span>
                  <div class="controls">
                    <input type="text" class="form-control" id="Item-harmonized-code" name="ItemHarmonizedCode" ng-model="vm.data.harmonized_value"
                      required>
                  </div>
                </div>
                <!--Low Stock Reorder Point-->
                <div class="form-group col-lg-4 col-md-4 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-low-stock">Low Stock Reorder Point
                    <b style="color:red">*</label>
                  <span class="desc"></span>
                  <div class="controls">
                    <input type="number" class="form-control" id="Item-low-stock" name="ItemLowStock" ng-model="vm.data.low_stock" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <!--Lot-->
                <div class="form-group col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-lot">Lot#</label>
                  <span class="desc">
                    <label class="icheck">
                      <input type="checkbox" ng-model="vm.data.lot_flag" />
                      <i></i>
                    </label>
                  </span>
                  <!--<div class="controls" ng-show="lotChecked">
                  <input type="text" class="form-control" id="Item-lot" name="ItemLot" ng-model="vm.data.lot" ng-required="lotChecked">
                </div>-->
                </div>
                <!--Expiration Date-->
                <div class="form-group col-lg-3 col-md-3 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-exp-date">Expiration Date</label>
                  <span class="desc">
                    <label class="icheck">
                      <input type="checkbox" ng-model="vm.data.expiration_date_flag" />
                      <i></i>
                    </label>
                  </span>
                  <div class="controls">
                    <!--<div class="input-group" inputgroup ng-show="expDateChecked">
                    <input type="date" class="form-control datepicker" ng-required="expDateChecked" ng-model="vm.data.expiration_date" />
                  </div>-->
                  </div>
                </div>
                <!--Serial Number/Claim Code-->
                <div class="form-group col-lg-4 col-md-4 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-serial">Serial Number / Claim Code</label>
                  <span class="desc">
                    <label class="icheck">
                      <input type="checkbox" ng-model="vm.data.serial_number_flag" />
                      <i></i>
                    </label>
                  </span>
                  <!--<div class="controls" ng-show="serialChecked">
                  <input type="number" class="form-control" id="Item-serial" name="ItemSerial" ng-model="vm.data.serial_number" ng-required="serialChecked">
                </div>-->
                </div>
                <!--RFID Number-->
                <div class="form-group col-lg-3 col-md-3 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-rfid">RFID Number</label>
                  <span class="desc">
                    <label class="icheck">
                      <input type="checkbox" ng-model="vm.data.rfid_number_flag" />
                      <i></i>
                    </label>
                  </span>
                  <!--<div class="controls" ng-show="rfidChecked">
                  <input type="number" class="form-control" id="Item-rfid" name="ItemRFID" ng-model="vm.data.rfid_number" ng-required="rfidChecked"
                  />
                </div>-->
                </div>
              </div>
              <div class="row">
                <!--Pick Method-->
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-pick-method">Pick Method
                    <b style="color:red">*</label>
                  <div class="controls">
                    <select id="Item-pick-method" class="form-control" name="ItemPickMethod" required ng-model="vm.data.pick_method">
                      <option value=1>FIFO</option>
                      <option value=2>FEFO</option>
                      <option value=3>LIFO</option>
                    </select>
                  </div>
                </div>
                <!--Cycle Count Category-->
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <label class="form-label" for="Item-cycle-count">Cycle Count Category
                    <b style="color:red">*</label>
                  <div class="controls">
                    <select id="Item-cycle-count" class="form-control" name="ItemCycleCount" required ng-model="vm.data.cycle_count">
                      <option value=1>Weekly</option>
                      <option value=2>Monthly</option>
                      <option value=3>Quarterly</option>
                      <option value=4>Semi-Annual</option>
                      <option value=5>Annual</option>
                    </select>
                  </div>
                </div>
              </div>
              <!--Ownership Transfer-->

              <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <label class="form-label" for="item-ownership-transfer">Ownership Transfer</label>
                <span class="desc">
                  <label class="icheck">
                    <input type="checkbox" ng-model="ownershipTransfer" />
                    <i></i>
                  </label>
                </span>
                <div class="controls" ng-show="ownershipTransfer">

                  <div class="input-group">
                    <input type="number" class="form-control" ng-required="ownershipTransfer" ng-model="ownershipDays" name="ownership" id="item-ownership-transfer"
                      min="0" />
                    <span class="input-group-addon">days</span>
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <label class="form-label" for="item-package">Packing</label>
                <span class="desc">
                  <label class="icheck">
                    <input type="checkbox" ng-model="vm.data.package"/>
                    <i></i>
                  </label>
                </span>
                </div>
              <div class="">
              <div class="col-lg-12 col-md-8 col-sm-9 col-xs-12">
                <button type="button" name="sub" class="btn btn-primary pull-left" ng-disabled="isDisabled||ItemCreate.$invalid" ng-click="isDisabled=true; saveItem()">Save</button>
                <button type="button" class="btn pull-right" ng-click="cancel()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</div>
<img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
