<div class=''>

  <div class="col-lg-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Items</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_close material-icons" ng-click="cancel()">close</i>
        </div>
      </header>
      <div class="content-body">
        <div ng-if="!pickCart" class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-top-10 margin-bottom-15">
            <i>
              <b>Number of stand alone items in location : {{itemCount}}</b>
            </i>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <i>
              <b>Number of Pallets in location : {{palletCount}}</b>
            </i>
          </div>
        </div>

        <section class="nobox" ng-if="itemCount > 0">
          <header class="panel_header">
            <h2 class="title pull-left">Item Details</h2>
          </header>
          <div class="content-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <!-- <div class="pull-right  col-md-3">
                  <label>items by page</label>
                  <input class="form-control" maxlength="2" min="0" onkeypress="return event.charCode >= 48" name="items" id="items" type="number"
                    ng-model="itemsByPage">
                </div> -->
                <br>
                <table st-table="itemDetails" class="table table-striped">
                  <thead>
                    <th>Item </th>
                    <th>SKU</th>
                    <!-- <th>Item Qnty</th> -->
                    <th>Qnty In Location</th>
                    <!-- <th ng-if="lot_flag!=0">Lot </th>
                    <th ng-if="rfid_flag!=0">RFID</th>
                    <th ng-if="exp_flag!=0">Expiry Date</th>
                    <th ng-if="sr_flag!=0">Serial Number</th> -->
                    <th>Image</th>
                  </thead>
                  <tbody ng-repeat="item in item_test track by $index">
                    <tr ng-click="item.clicked== true? item.clicked=false : item.clicked=true;check($index)">
                      <td>{{item.address}}</td>
                      <td>{{item.upc ? item.upc : item.sku}}</td>
                      <!-- <td>{{item.total_quantity}}</td> -->
                      <td>{{item.location_quantity}}</td>
                      <!-- <td ng-if="lot_flag!=0">
                        <div ng-repeat="Lot in item.lot track by $index">{{Lot}}</div>
                      </td>
                      <td ng-if="rfid_flag!=0">
                        <div ng-repeat="rfid in item.rfid_number track by $index">{{rfid}}</div>
                      </td>
                      <td ng-if="exp_flag!=0">
                        <div ng-repeat="exp in item.expiry_date track by $index">{{exp}}</div>
                      </td>
                      <td ng-if="sr_flag!=0">
                        <div ng-repeat="sno in item.serial_number track by $index">{{sno}}</div>
                      </td> -->
                      <td>
                        <img width="100px" src="{{item.pic}}">
                      </td>
                    </tr>
                    <tr ng-show="item.clicked">
                      <td colspan="4">
                         <table class="table table-borderd">
                          <thead>
                            <th></th>
                            <th>Lot </th>
                            <th>RFID</th>
                            <th>Expiry Date</th>
                            <th>Serial Number</th>
                          </thead>
                          <tbody>
                            <tr ng-repeat="lt in item.lots track by $index" ng-hide='lt==""&&item.rfid[$index]==""&&item.exp[$index]==""&&item.sno[$index]'>
                              <td>{{$index+1}}</td>
                              <td>
                                {{lt}}
                              </td>
                              <td>
                                {{item.rfid[$index]}}
                              </td>
                              <td>{{item.exp[$index] | date:'M/d/yyyy'}}</td>

                              <td>
                                {{item.sno[$index]}}
                              </td>
                            </tr>

                          </tbody>
                        </table>

                        </td>
                    </tr>
                  </tbody>
                  <!-- <tfoot>
                    <tr>
                      <td colspan="5" class="text-center">
                        <div class="pull-right" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                      </td>
                    </tr>
                  </tfoot> -->
                </table>
              </div>
            </div>
          </div>
        </section>
        <!--Pallet Details  -->
        <section class="nobox " ng-if="palletCount > 0">
          <header class="panel_header">
            <h2 class="title pull-left">Pallet Details</h2>
          </header>
          <div class="content-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="pull-right  col-md-3">
                  <label>Items by page</label>
                  <input class="form-control" maxlength="2" min="0" onkeypress="return event.charCode >= 48" name="items" id="items" type="number"
                    ng-model="palletByPage">
                </div>
                <br>
                <table st-table="palletDetails" class="table table-striped">
                  <thead>
                    <th align="center">Pallet Id</th>
                    <th align="center">Items Details</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="pallet in palletDetails track by $index">
                      <td align="center" style="vertical-align:middle !important">{{pallet[0].pallet_id}}</td>
                      <td>
                        <table class=" table " frame="vsides ">
                          <tr>
                            <th>Item</th>
                            <th>Sku</th>
                            <th>Quantity</th>
                          </tr>
                          <tr ng-repeat="item in pallet">
                            <td>{{item.address}}</td>
                            <td>{{item.item_id}}</td>
                            <td>{{item.location_quantity}}</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="5" class="text-center">
                        <div class="pull-right" st-pagination="" st-items-by-page="palletByPage" st-displayed-pages="10"></div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </section>


        <section class="box " ng-if="pickCart">
          <header class="panel_header">
              <h2 class="title pull-left">Pick Cart</h2>
          </header>
          <div class="content-body padding-bottom-0">
              <div class="row" id="printElement">
                  <div class="col-md-12 col-sm-12 col-xs-12 margin-left-10">

                      <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="table-responsive">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr class="text-center">
                                              <td></td>
                                              <th>Item#</th>
                                              <th>Description</th>
                                              <th>Warehouse Location</th>
                                              <th>Required Quantity</th>
                                              <td></td>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-repeat="eachorder in orderDetails">
                                              <td><img width="100px" height="100px" src="{{eachorder.imageUrl}}" /></td>
                                              <td >{{eachorder.sku}}</td>
                                              <td >{{eachorder.name}}</td>
                                              <td><div ng-repeat="item in eachorder.item_location">{{item.location_name}}</div></td>
                                              <td>{{eachorder.quantity}}</td>
                                              <td><div ng-repeat="item in eachorder.cart_loc">{{item}}</div></td>
                                          </tr>
                                          <tr>
                                              <td colspan="4"></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                      <!-- end -->
                  </div>
              </div>
          </div>
      </section>



      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
