<div class='content-wrapper'>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Add {{location_type.type_name}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="fa fa-close" ng-click="cancel()"></i>
                </div>
            </header>
            <div class="content-body padding-bottom-10">
                <div class="row">
                    <form role="form" name="LocationCreate" novalidate>
                        <div class="row">
                            <!--Isle-->
                            <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <label for="isle-number" class="form-label">Isle Number</label>
                                <input type="number" class="form-control" id="isle-number" name="isle" ng-model="vm.isle_number" ng-required="!vm.csv_file" ng-pattern="/^[0-9]{2}$/">
                                <span class="alert-danger" ng-show="LocationCreate.isle.$touched && LocationCreate.isle.$error.required">Isle is required</span>
                                <span class="alert-danger" ng-show="LocationCreate.isle.$touched && LocationCreate.isle.$error.pattern">Isle is invalid</span>
                            </div>
                            <!--Section-->
                            <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <label for="section-number" class="form-label">Section Number</label>
                                <input type="number" class="form-control" id="section-number" name='section' ng-model="vm.section_number" ng-required="!vm.csv_file" ng-pattern="/^[0-9]{2}$/">
                                <span class="alert-danger" ng-show="LocationCreate.section.$touched && LocationCreate.section.$error.required">Section is required</span>
                                <span class="alert-danger" ng-show="LocationCreate.section.$touched && LocationCreate.section.$error.pattern">Section is invalid</span>
                            </div>
                            <!--Level-->
                            <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <label for="level-number" class="form-label">Level Number</label>
                                <input type="number" class="form-control" id="level-number" name="level" ng-model="vm.level_number" ng-required="!vm.csv_file" ng-pattern="/^[0-9]{2}$/">
                                <span class="alert-danger" ng-show="LocationCreate.level.$touched && LocationCreate.level.$error.required">Level is required</span>
                                <span class="alert-danger" ng-show="LocationCreate.level.$touched && LocationCreate.level.$error.pattern">Level is invalid</span>
                            </div>
                            <!--Location-->
                            <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <label for="location-number" class="form-label">Location</label>
                                <input type="number" class="form-control" id="location-number" name="location" ng-model="vm.location_number" ng-required="!vm.csv_file" ng-pattern="/^[0-9]{2}$/">
                                <span class="alert-danger" ng-show="LocationCreate.location.$touched && LocationCreate.location.$error.required">Location is required</span>
                                <span class="alert-danger" ng-show="LocationCreate.location.$touched && LocationCreate.location.$error.pattern">Location is invalid</span>
                            </div>
                        </div>
                        <div class="row text-center">OR</div>
                        <div class="row">
                            <div class="form-group">
                                <label for="csv_file" class="form-label">CSV File</label>
                                <input type="file" class="form-control" id="csv_file" name="csv_file" file="vm.csv_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                            </div>
                        </div>
                        <button type="submit" ng-click="saveLocation()" class="btn btn-primary" ng-disabled="LocationCreate.$invalid || vm.csv_file.name.length == 0">Create</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
      <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
