<div class='content-wrapper' ng-if='location_type.type_id==3'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <section class="box ">
          <header class="panel_header">
              <h2 class="title pull-left">Edit {{location_type.type_name}}</h2>
              <div class="actions panel_actions pull-right">
                  <i class="fa fa-close" ng-click="cancel()"></i>
              </div>
          </header>
          <div class="content-body padding-bottom-10">
              <div class="row">
                  <form role="form" name="PickCartAdd" novalidate>
                      <div class="row">
                          <div class="form-group col-mg-2 col-mg-2 col-sm-6 col-xm-6">
                              <label for="picksize" class="form-label">Pick Cart Size</label>
                              <input type="number" class="form-control" id="picksize" name="picksize" ng-model="editform.pickcartsize" required></input>
                              <!-- <span class="alert-danger" ng-show"PickCartAdd.picksize.$touched && PickCartAdd.pick_size.$error.required">Pickcart size is required</span> -->
                          </div>
                      </div>
                      <button type="submit" ng-click="updateLocation()" class="btn btn-primary" ng-disabled="PickCartAdd.$invalid">Save</button>
                  </form>
              </div>
          </div>
      </section>
  </div>
</div>





<div ng-if="location_type.type_id!=5&&location_type.type_id!=3"  class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Edit {{location_type.type_name}}</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-10">
        <div class="row">
          <form role="form" name="LocationCreate" novalidate>
            <div class="row">
              <!--Isle-->
              <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <label for="isle-number" class="form-label">Isle Number</label>
                <input type="number" class="form-control" id="isle-number" name="isle" ng-model="editform.isle_number" required
                  ng-pattern="/^[0-9]{2}$/">
                <span class="alert-danger" ng-show="LocationCreate.isle.$touched && LocationCreate.isle.$error.required">Isle is required</span>
                <span class="alert-danger" ng-show="LocationCreate.isle.$touched && LocationCreate.isle.$error.pattern">Isle is invalid</span>
              </div>
              <!--Section-->
              <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <label for="section-number" class="form-label">Section Number</label>
                <input type="number" class="form-control" id="section-number" name='section' ng-model="editform.section_number" required
                  ng-pattern="/^[0-9]{2}$/"/>
                <span class="alert-danger" ng-show="LocationCreate.section.$touched && LocationCreate.section.$error.required">Section is required</span>
                <span class="alert-danger" ng-show="LocationCreate.section.$touched && LocationCreate.section.$error.pattern">Section is invalid</span>
              </div>
              <!--Level-->
              <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <label for="level-number" class="form-label">Level Number</label>
                <input type="number" class="form-control" id="level-number" name="level" ng-model="editform.level_number"required
                  ng-pattern="/^[0-9]{2}$/"/>
                <span class="alert-danger" ng-show="LocationCreate.level.$touched && LocationCreate.level.$error.required">Level is required</span>
                <span class="alert-danger" ng-show="LocationCreate.level.$touched && LocationCreate.level.$error.pattern">Level is invalid</span>
              </div>
              <!--Location-->
              <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <label for="location-number" class="form-label">Location</label>
                <input type="number" class="form-control" id="location-number" name="location" ng-model="editform.location_number" required
                  ng-pattern="/^[0-9]{2}$/"/>
                <span class="alert-danger" ng-show="LocationCreate.location.$touched && LocationCreate.location.$error.required">Location is required</span>
                <span class="alert-danger" ng-show="LocationCreate.location.$touched && LocationCreate.location.$error.pattern">Location is invalid</span>
              </div>
            </div>
            <button type="submit" ng-click="updateLocation()" class="btn btn-primary" ng-disabled="LocationCreate.$invalid">Update</button>
          </form>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
<div class='content-wrapper' ng-if="location_type.type_id==5">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <section class="box ">
          <header class="panel_header">
              <h2 class="title pull-left">Add {{location_type.type_name}}</h2>
              <div class="actions panel_actions pull-right">
                  <i class="fa fa-close" ng-click="cancel()"></i>
              </div>
          </header>
          <div class="content-body padding-bottom-10">
              <div class="row">
                  <form role="form" name="FloorAdd" novalidate>
                      <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 form-group">
                              <label for="warehouse-plan" class="form-label margin-left-20 margin-top-20"><b>{{warehouse_plan}} - </b></label>
                          </div>
                          <div class="form-group col-mg-2 col-mg-2 col-sm-6 col-xm-6">
                              <label for="section-name" class="form-label">Section Name</label>
                              <input type="text" class="form-control" id="section-name" name="section-name" ng-model="vm.locationName" required></input>
                              <span class="alert-danger" ng-show="FloorAdd.section_name.$touched && FloorAdd.section_name.$error.required">Section name is required</span>
                          </div>
                      </div>
                      <button ng-click="updateLocation()" class="btn btn-primary" ng-disabled="FloorAdd.$invalid">Update</button>
                  </form>
              </div>
          </div>
      </section>
    </div>
  </div>
    <img style="position:absolute;top:50%;left:50%;z-index:30000;"
            src="./img/loading-image.gif" ng-show="loading" />
</div>

