<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Location List';init()">
  <div ui-breadcrumb-auto-hidden class ="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a ui-sref="app.warehouse.list" class="collapsed">All Warehouses </a>
      </li>
      <li>
        <a ui-sref="app.warehouse.detail({warehouseId:warehouse_id})" class="collapsed">{{warehouse_name}} </a>
      </li>

      <li class="active">
        <strong>{{type.type_name}}</strong>
      </li>

    </ol>
  </div>
  <div class="row padding-left-15">
    <h4 class="padding-left-15"><strong>Warehouse Name : {{warehouse_name}}</strong></h4>
  </div>
  <div class="col-lg-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">{{type.type_name}}</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-plus" ng-click="addLocation(type.type_id)"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table id="location-list" class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpt">
              <thead>
                <tr>
                  <th>Location Name</th>
                  <th>Status</th>
                  <th>Occupied Date</th>
                  <th>Barcode</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr style="cursor: pointer"></tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <a class="btn btn-default btn-md" ng-print print-element-id="location-list"><i class="fa fa-print icon-sm"></i>&nbsp; Print </a>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
