<div class="login_page">
    <div class="login-wrapper" ng-controller="LoginFormController">
        <div ng-show="flag">
            <div id="login" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                <h1 class="text-center">
                    <a href="#"></a>
                </h1>
                <form name="formLogin" class="form-validation">
                    <div class="text-center message alert text-danger" ng-show="authError"> {{authError}} </div>
                    <p>
                        <input type="text " name="username" id="user_login" class="input" ng-model="user.username" placeholder="Username" required/></label>
                    </p>
                    <p>
                        <input type="password" name="pwd" id="user_login" class="input" ng-model="user.password" placeholder="Password" required/></label>
                    </p>
                    <p class="forgetmenot">
                        <label class="icheck icheck-black" for="rememberme">
            <input type="checkbox" ng-model="isRemember" name="rememberme" id="rememberme"/><i></i> Remember me</label>
                    </p>
                    <p class="submit">
                        <button type="submit" ng-click="login()" ng-disabled='formLogin.$invalid' class="btn btn-accent btn-block">Sign In</button>
                    </p>
                </form>
                <p id="nav">
                    <a class="pull-left" ng-click="flagChange()" title="Password Lost and Found">Forgot password?</a>
                </p>
            </div>
        </div>
        <div ng-show="!flag">
            <div id="forgotpass" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                <h1><a href="#" title="Login Page" tabindex="-1">Slant Admin - Angular</a></h1>

                <form name="form" class="form-validation" ng-init="isCollapsed=true">

                    <div class="text-danger text-center message" ng-show="authError">
                        {{authError}}
                    </div>

                    <p>
                        <label for="user_login">Email<br />
                    <input type="email" name="email" id="user_login" class="input" ng-model="email" required/></label>
                    </p>

                    <p class="submit">
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-accent btn-block" ng-click="forgotPassword()">Send Reset Link</button>
                    </p>
                    <div uib-collapse="!flag&&!isCollapsed">
                        <p class="text-center"><a ui-sref="access.login" ng-click="flag=true">Login</a></p>
                    </div>
                    <div uib-collapse="isCollapsed" class="m-t">
                        <div class="alert alert-success">
                            <p>Check your email for a new Password. &nbsp;<a ui-sref="access.login" ng-click="flag=true" style='color:#ffffff;font-weight:normal;'>Click to Sign in now</a></p>
                        </div>
                    </div>


                </form>

            </div>
        </div>

    </div>
</div>
<img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
