<div class="notification-success cg-notify-message" ng-click="$close()" ng-class="[$classes,
$position === 'center' ? 'cg-notify-message-center' : '',
$position === 'left' ? 'cg-notify-message-left' : '',
$position === 'right' ? 'cg-notify-message-right' : '']" ng-style="{'margin-left': $centerMargin}">

    <style>
        .notification-success {
            text-align: center !important;
            border: 1px solid #E41B17 !important;
            background-color: #E41B17 !important;
            color: #FFF !important;
            /*opacity: 0.8 !important;*/
        }
    </style>

    <div ng-show="!$messageTemplate">
        {{$message}}
    </div>

</div>