<div class='content-wrapper'>
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Pick List</h2>
                <div class="actions panel_actions pull-right">
                    <i class="fa fa-plus" ng-click="createPickList()"></i>
                 </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Pick Cart Id</th>
                                    <th>Item Sku</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in pickListDetails">
                                    <td>{{data[0].pick_cart}}</td>
                                    <td>{{data.length>1? '(Multiple items)':data[0].sku}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
</form>
