<div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-init="init()">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Order Detail</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-0">
        <div class="row margin-bottom-10">
          <strong>Order : </strong> {{orderDetail.orderNumber}}<br>
          <strong>Status : </strong>{{orderDetail.orderStatus}}
        </div>
        <!-- Buttton Row -->
        <div class="row">
          <button class="btn btn-info btn-corner" ng-disabled="true">Allocate</button>
           <!-- <button class="btn btn-default btn-corner" ng-print print-element-id="printElement">Print</button> -->
          <!-- <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-info btn-corner">Action</button>
            <button type="button" class="btn btn-info btn-corner dropdown-toggle" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>

          </div> -->
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button type="button" class="btn btn-info btn-corner dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
                            Print <span class="caret"></span>
                        </button>
            <ul class="dropdown-menu" role="menu">
              <li><button class="btn btn-link" ng-print print-element-id="printElement">Order Summary</button></li>
               <li><button class="btn btn-link"  ng-click="showPickList()">Pick List</button></li>
            </ul>
          </div>
          <button class="btn btn-info btn-corner">Add to Batch</button>
          <button class="btn btn-info btn-corner">Return</button>
        </div>
        <!-- Content Div -->
        <div class="row" id="printElement">
          <!-- Left Portion -->
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
              <!-- Order Summary -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="module">
                  <div class="header">Order Summary</div>
                  <div class="content">
                    <table class="table-responsive table-striped">
                      <tbody>
                        <tr>
                          <th>Store</th>
                          <td colspan="3">{{orderDetail.storeName}}</td>
                        </tr>
                        <tr>
                          <th>Order Date</th>
                          <td>{{orderDetail.orderDate | date:"mediumDate"}}</td>
                          <th>Product Total</th>
                          <td>{{orderDetail.orderTotal | currency:"$":2}}</td>
                        </tr>
                        <tr>
                          <th>Paid Date</th>
                          <td>{{orderDetail.paymentDate | date:"mediumDate"}}</td>
                          <th>Shipping Paid</th>
                          <td name="ShippingAmount">{{orderDetail.shippingAmount | currency:"$":2}}</td>
                        </tr>
                        <tr>
                          <th>Hold Until</th>
                          <td>{{orderDetail.holdUntilDate | date:"mediumDate"}}</td>
                          <th class="border-bottom-1">Tax Paid</th>
                          <td class="border-bottom-1">{{orderDetail.taxAmount | currency:"$":2}}</td>
                        </tr>
                        <tr>
                          <th>Ship By</th>
                          <td>{{orderDetail.shipByDate | date:"mediumDate"}}</td>
                          <th class="border-bottom-1">Total Order</th>
                          <td class="border-bottom-1">{{orderDetail.orderTotal | currency:"$":2}}</td>
                        </tr>
                        <tr>
                          <th colspan="2">&nbsp;</th>

                          <th>Total Paid</th>
                          <td name="AmountPaid">{{orderDetail.amountPaid | currency:"$":2}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Buyer Info -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="module">
                  <h4 class="header">Buyer/Recepient Info</h4>
                  <div class="content">
                    <table class="table-responsive">
                      <tbody>
                        <tr>
                          <th>Sold To</th>
                          <td class="border-bottom-1">{{orderDetail.billTo.name}}<br><a href="mailto:{{orderDetail.customerEmail}}">{{orderDetail.customerEmail}}</a><br>{{orderDetail.billTo.phone}}
                          </td>
                        </tr>
                        <tr>
                          <th>Ship To</th>
                          <td>{{orderDetail.shipTo.name}}<br> {{orderDetail.shipTo.street1}},{{orderDetail.shipTo.street2}},{{orderDetail.shipTo.street3}}<br>                            {{orderDetail.shipTo.city}} {{orderDetail.shipTo.state}} {{orderDetail.shipTo.postalCode}} {{orderDetail.shipTo.country}}
                            <br>
                            <div class="text-warning" style="white-space:normal" ng-if="orderDetail.shipTo.addressVerified == 'Address validation warning'">
                              <span>Invalid address</span>
                            </div>
                            <div class="text-success" style="white-space:normal" ng-if="orderDetail.shipTo.addressVerified == ' Address validated successfully'">
                              <span>Verified Address</span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="printOrder">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="module">
                  <h4 class="header">Order Items</h4>
                  <div class="content">
                    <table class="item-table ">
                      <thead>
                        <tr class="border-bottom-1">
                          <th class="item-product" colspan="2">Item</th>
                          <th class="item-price">Unit $</th>
                          <th class="item-qty">Qty</th>
                          <th class="item-total">Total $</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in orderDetail.items track by $index" ng-class="{'border-bottom-1':orderDetail.items.length-1 != $index}">
                          <td class="item-image">
                            <img src="{{item.imageUrl}}" height="72px" width="72px" /> </td>
                          <td class="item-description">
                            <div class="product-details">
                              {{item.name}}<br>SKU: {{item.sku}}
                            </div>
                          </td>
                          <td class="item-price"> {{item.unitPrice | currency:"$":2}} </td>
                          <td class="text-center item-qty " style="position:relative">{{item.quantity}}</td>
                          <td class="item-total">{{item.quantity * item.unitPrice | currency:"$":2}} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Portion -->
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- Shipping Info -->
            <div class="module">
              <h4 class="header">Shipping Info</h4>
              <div class="content">
                <div class="">
                  Requested Service : {{orderDetail.requestedShippingService}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
