<div class='content-wrapper'>
    <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb auto-hidden  border">
          <li>
            <a ui-sref="app.dashboard" class="collapsed">
              <i class="fa fa-home"></i>Home</a>
          </li>
          <li>
            <a ui-sref="app.order.shipping" class=collapsed>Order Management</a>
          </li>
          <li class="active">
            <strong> Shipment Details</strong>
          </li>
        </ol>
      </div>
  <div class="col-lg-12">
    <section class="box ">
      <header class="panel_header">
        <h1 class="title pull-left">Shipment Details</h1>
        <div class="actions panel_actions pull-right">
      </header>
      <div class="content-body">
        <div class="row" style="padding-right: 5%; padding-bottom: 25px;">
          <div class="col-md-12">
            <div class="col-md-2">
              <label class="form-controle">Carrier:</label><br>
              {{shipping_details.data.carrierCode}}
            </div>
            <div class="col-md-3" >
              <label class="form-controle" style="width: 100%;">Service:</label><br>
              {{shipping_details.data.serviceCode}}
            </div>
            <div class="col-md-2" >
              <label class="form-controle" style="width: 100%;">Package:</label><br>
              {{shipping_details.data.packageCode}}
              </div>
            <div class="col-md-2">
              <label class="form-controle">Confirm:</label><br>
              {{shipping_details.data.confirmation}}
              <br>
            </div>
            <div class="col-md-2">
              <label style="width: 100%;" class="form-controle"> Weight:</label><br>
              {{shipping_details.data.weight.value}}
            </div>
            <div class="col-md-1">
                <label class="form-controle">Unit:</label><br>
                {{shipping_details.data.weight.units}}
              </div>
          </div>
          <div class="col-md-12"></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4>Shipment details</h4>
            <div>
              <div class="well my-drop-zone">
                <table class="table-responsive">
                  <tbody>
                    <tr>
                      <th>Ship Date : </th><br>
                      <td>{{shipping_details.data.shipDate | date:"mediumDate"}}</td>
                    </tr>
                    <tr>
                      <th>Shipment Cost : </th><br>
                      <td>{{shipping_details.data.shipmentCost | currency:"$":2}}</td>
                    </tr>
                    <tr>
                      <th>Shipment Id:</th><br>
                      <td>{{shipping_details.data.shipmentId}}</td>
                      </tr>
                      <tr>
                        <th>Tracking Number</th>
                        <th>{{shipping_details.data.trackingNumber}}</th>
                        </tr>
                  </tbody>
                </table>
              </div>


              <h4>Buyer/Recepient Info</h4>
              <div class="well my-drop-zone">
                <table class="table-responsive">
                  <tbody>
                    <tr>
                      <th style="vertical-align: initial;">Ship To:</th>
                      <td>{{shipping_details.data.shipTo.name}}
                        <br> {{shipping_details.data.shipTo.street1}},{{shipping_details.data.shipTo.street2}},{{shipping_details.data.shipTo.street3}}
                        <br> {{shipping_details.data.shipTo.city}} {{shipping_details.data.shipTo.state}} {{shipping_details.data.shipTo.postalCode}} {{shipping_details.data.shipTo.country}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-8" style="margin-bottom: 40px">
            <h4>Packking Box</h4>
            <p>Duration:{{shipping_details.duration}} </p>

            <table class="table table-bordered">
              <thead>
                <tr class="text-center">
                  <th>container</th>
                  <th>dimension</th>
                  <th>Items</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="vertical-align: middle;">{{shipping_details.box_content.name}}</td>
                  <td style="vertical-align: middle;">{{shipping_details.box_content.diamension}}</td>
                  <td style="vertical-align: middle;">

                    <table class="table table-striped">
                      <thead>
                        <tr class="text-center">
                          <th>Item#</th>
                          <th>Description</th>
                          <th>Verified Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="eachItem in shipping_details.box_content.items ">
                          <td>{{eachItem.sku}}</td>
                          <td>{{eachItem.name}}</td>
                          <td>{{eachItem.count}}</td>
                          <td>
                            <button type="button" class="btn btn-xs btn-success pull-right" ng-click="ship()">
                              <i class="fa fa-truck" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-xs btn-warning pull-right" ng-click="createBoxLabel()">
                              <i class="fa fa-list-alt" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </td>

                </tr>
              </tbody>
            </table>
            <div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<div>
    <div class="row" style="visibility:hidden" id="printElement">
      <div class="col-md-12 col-sm-12 col-xs-12 margin-left-10">
        <!-- start -->

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12" style="font-size: 12px;">
            <h4 class="text-center">Packing Slip</h4>
            <h5 class="text-center">{{boxNo}}</h5>
            <h3 style="font-size: 20px;" class="margin-bottom-10">{{storeName}}
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6 col-xs-6">
            <h5 class="">Ship To</h5>
            <span>
              <h4 class="margin-bottom-5">{{shipping_details.data.shipTo.name}}</h4>
              <span class="">{{shipping_details.data.shipTo.phone}}
                <br>{{shipping_details.data.shipTo.postalCode}}
                <br>{{shipping_details.data.shipTo.street1}}</span>
            </span>

          </div>
          <div class="col-md-6 col-xs-6 text-left pull-right">
            <h5 class="">Order# : {{shipping_details.data.orderNumber}}</h5>
            <h5>Date : {{shipping_details.data.createDate | date:"mediumDate"}}</h5>
            <h5>User : {{shipping_details.box_content.customerUsername}}</h5>
            <h5>Ship Date : {{shipping_details.box_content.shipDate | date:"mediumDate"}}</h5>
          </div>
        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12">
          <hr>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div>
              <!-- <table ng-style=" background-image: item.close_po!=0 ?:'url('./img/close.jpg')' : 'url('')'; background-repeat:no-repeat;} : {background-color:'green'}" ; class="table table-bordered table-hover invoice-table"> -->
              <table class="table table-bordered table-hover invoice-table">
                <thead>
                  <tr>
                    <td>
                      <h4>Item</h4>
                    </td>
                    <td class="text-center">
                      <h4>Description</h4>
                    </td>
                    <td class="text-center">
                      <h4>Qty</h4>
                    </td>

                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in shipping_details.box_content.items">
                    <td>{{item.sku}}</td>
                    <td class="text-center">{{item.name}}</td>
                    <td class="text-right">{{item.count}}</td>

                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <!-- end -->
      </div>
    </div>
  </div>
