<div class='content-wrapper' ng-if="readbin">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Enter Cart location</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="close()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-0">
        <div class="row">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" for="from_location"> Scan Pick Cart Location</label>
            <div class="input-group input-group-md">
              <input type="text" focus-on="!clicked" ng-keypress="$event.keyCode == 13 ?  passId() : null" ng-model="vs.cartloc" class="form-control"
              />
            </div>
            <button type="button" class="btn btn-primary pull-right" ng-disabled="!vs.cartloc" ng-click="passId()">Next </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>





<div class='content-wrapper' ng-if="picking&&!endFlag">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Pick Cart- {{allOrderDetails.bin_cart_location}}</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="close()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-0">
        <div class="row" id="print">
          <div class="col-md-12 col-sm-12 col-xs-12 margin-left-10">
            <div class="row">
              <div class="clearfix"></div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr class="text-center">
                        <td></td>
                        <th>Item#</th>
                        <th>Description</th>
                        <th>Required Quantity</th>
                        <th>Verified Quantity</th>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="eachItem in orderDetail.items">
                        <td>
                          <img width="100px" height="100px" src="{{eachItem.imageUrl}}" />
                        </td>
                        <td>{{eachItem.sku}}</td>
                        <td>{{eachItem.name}}</td>
                        <td>{{eachItem.required_quantity}}</td>
                        <td>{{eachItem.pickedCount}}</td>
                        <td>
                          <div ng-if=eachItem.verified>
                            <i class="fa fa-check" style="color: #0cf30c;" aria-hidden="true"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="4"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row" ng-if="clicked">
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="form-label" for="from_location"> Scan item/Box</label>
                <div class="input-group input-group-md">
                  <input type="text" focus-on="clicked" ng-keypress="$event.keyCode == 13 ?  checkSku() : null" ng-model="vm.readSku" class="form-control"
                  />
                  <!-- <div class="row" ng-if="errorFlag"> -->
                  <label ng-if="errorFlag" class="form-label" style="color: red" for="from_location">enterd item not found
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  </label>
                  <!-- </div> -->
                </div>

                <button type="button" class="btn btn-primary pull-right" ng-disabled="!vm.readSku" ng-click="checkSku()">Next </button>
              </div>

            </div>

            <div class="row" ng-show="container">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr class="text-center">
                        <th></th>
                        <th>container</th>
                        <th>dimension</th>
                        <th>Items</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="box in ContainerContents track by $index">
                        <td><i ng-click="removeBox($index)" class="fa fa-minus-square" aria-hidden="true"></i></td>
                        <td>{{box.name}}</td>
                        <td>{{box.diamension}}</td>
                        <td>

                          <table class="table table-striped">
                            <thead>
                              <tr class="text-center">
                                <th></th>
                                <th>Item#</th>
                                <th>Description</th>
                                <th>Verified Quantity</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="eachItem in box.items">
                                <td><i ng-click="removeItemFromBox($parent.$index,eachItem.sku)" class="fa fa-minus-square" aria-hidden="true"></i></td>
                                <td>{{eachItem.sku}}</td>
                                <td>{{eachItem.name}}</td>
                                <td>{{eachItem.count}}</td>
                                <!-- <td>
                                  <div ng-if=eachItem.verified>
                                    <i class="fa fa-check" style="color: #0cf30c;" aria-hidden="true"></i>
                                  </div>
                                </td> -->
                              </tr>
                              <tr>
                                <td colspan="4"></td>
                              </tr>
                            </tbody>
                            <!-- <tr> -->
                            <!-- <div class="row" ng-if="endFlag">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                  <button ng-if="!box.visibility" type="button" class="btn btn-primary pull-right" ng-click="ship_order($index)">Proceed To Ship </button>
                                  <button ng-if="box.visibility" type="button" class="btn btn-primary pull-right" ng-click="ship_order($index)">Re-print label </button>
                                </div> -->

                            <!-- </div> -->
                            <!-- </tr> -->
                          </table>

                        </td>
                        <td>

                        </td>
                      </tr>

                    </tbody>

                  </table>
                  <div style="padding-bottom: 5%;">
                  <button ng-show="container"  type="button" class=" pull-left btn btn-danger pull-left"   ng-click="savePacking()">Save</button>
                </div>
                </div>
              </div>
            </div>



            <!-- end -->

          </div>
        </div>
      </div>
    </section>
  </div>
</div>



<div ng-if="endFlag">
  <!-- <div> -->
  <div class='content-wrapper'>
    <div class="col-lg-12">
      <section class="box ">
        <header class="panel_header">
          <h1 class="title pull-left">Pick Cart- {{allOrderDetails.bin_cart_location}}</h1>
          <div class="actions panel_actions pull-right">
            <i class="fa fa-close" ng-click="close()"></i>
          </div>
        </header>
        <div class="content-body">
          <div class="row" style="padding-right: 5%; padding-bottom: 25px;">
            <div class="col-md-12">
              <div class="col-md-2">
                <label class="form-controle">Carrier:</label><br>
                <select ng-model="vd.carrier_code" ng-options="method as method.code for method in shippingMethods" ng-change="getServiceCode()"
                  required></select>
              </div>
              <div class="col-md-3" ng-show="serviceCodeLoaded">
                <label class="form-controle" style="width: 100%;">Service:</label>
                <br>
                <select ng-model="vs.service_code" style="width: 100%;" ng-options="method as method.name for method in serviceList"></select required>
                <br>
              </div>
              <div class="col-md-2" ng-show="packageCodeLoaded">
                <label class="form-controle" style="width: 100%;">Package:</label>
                <br>
                <select style="width: 100%;" ng-model="vs.package" ng-options="package as package.name for package in packageList" required></select>
              </div>
              <div class="col-md-2">
                <label class="form-controle">Confirm:</label>
                <br>
                <select style="width: 100%;" name="confirm" ng-model="vm.confirmation" required>
                  <option value="non">no Confirmation</option>
                  <option value="delivery">Delivery</option>
                  <option value="signature">Signature</option>
                  <option value="adult_signature">Adult Signature</option>
                </select>
              </div>
              <div class="col-md-2">
                <label style="width: 100%;" class="form-controle"> Weight:</label>
                <br>
                <input style="width: 100%;" class=form-controle type=number ng-model=vm.weight required/>
              </div>
              <div class="col-md-1">
                  <label class="form-controle">Unit:</label>
                  <br>
                  <select style="width: 150%;" name="unit" ng-model="vm.unit" required>
                  <br>
                  <option value="ounces">Ounces</option>
                  <option value="pound">pound</option>
                  </select>
                </div>

            </div>
            <div class="col-md-12"></div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>order details</h4>
              <div>
                <div class="well my-drop-zone">
                  <table class="table-responsive">
                    <tbody>
                      <tr>
                        <th>Store : </th>
                        <th>{{storeName}}</th>
                      </tr>
                      <tr>
                        <th>Order Date : </th>
                        <td>{{orderDetail.orderDate | date:"mediumDate"}}</td>
                      </tr>
                      <tr>
                        <th>Paid Date : </th>
                        <td>{{orderDetail.paymentDate | date:"mediumDate"}}</td>
                      </tr>
                      <!-- <tr>
                        <th>Hold Until : </th>
                        <td>{{orderDetail.holdUntilDate | date:"mediumDate"}}</td>
                      </tr> -->
                      <tr>
                        <th>Ship By : </th>
                        <td>{{orderDetail.shipByDate | date:"mediumDate"}}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <h4>Pricing</h4>
                <div class="well my-drop-zone">
                  <table class="table-responsive">
                    <tbody>
                      <tr>
                        <th>Shipping Paid </th>
                        <td name="ShippingAmount">{{orderDetail.shippingAmount | currency:"$":2}}</td>
                      </tr>
                      <tr>
                        <th class="border-bottom-1">Tax Paid </th>
                        <td class="border-bottom-1">{{orderDetail.taxAmount | currency:"$":2}}</td>
                      </tr>
                      <tr>
                        <th class="border-bottom-1">Total Order </th>
                        <td class="border-bottom-1">{{orderDetail.orderTotal | currency:"$":2}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h4>Buyer/Recepient Info</h4>
                <div class="well my-drop-zone">
                  <table class="table-responsive">
                    <tbody>
                      <tr>
                        <th style="vertical-align: initial;">Sold To:</th>
                        <td class="border-bottom-1">{{orderDetail.billTo.name}}
                          <br>
                          <a href="mailto:{{orderDetail.customerEmail}}">{{orderDetail.customerEmail}}</a>
                          <br>{{orderDetail.billTo.phone}}
                        </td>
                      </tr>
                      <tr>
                        <th style="vertical-align: initial;">Ship To:</th>
                        <td>{{orderDetail.shipTo.name}}
                          <br> {{orderDetail.shipTo.street1}},{{orderDetail.shipTo.street2}},{{orderDetail.shipTo.street3}}
                          <br> {{orderDetail.shipTo.city}} {{orderDetail.shipTo.state}} {{orderDetail.shipTo.postalCode}} {{orderDetail.shipTo.country}}
                          <br>
                          <div class="text-warning" style="white-space:normal" ng-if="orderDetail.shipTo.addressVerified == 'Address validation warning'">
                            <span>Invalid address</span>
                          </div>
                          <div class="text-success" style="white-space:normal" ng-if="orderDetail.shipTo.addressVerified == ' Address validated successfully'">
                            <span>Verified Address</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-8" style="margin-bottom: 40px">
              <h4>Packking Box</h4>
              <p>Duration: {{hours}}:H-{{minutes}}:M-{{seconds}}-S </p>

              <table class="table table-bordered">
                <thead>
                  <tr class="text-center">
                    <th>container</th>
                    <th>dimension</th>
                    <th>Items</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="box in ContainerContents track by $index">
                    <td style="vertical-align: middle;">{{box.name}}</td>
                    <td style="vertical-align: middle;">{{box.diamension}}</td>
                    <td style="vertical-align: middle;">

                      <table class="table table-striped">
                        <thead>
                          <tr class="text-center">
                            <th>Item#{{$index}}</th>
                            <th>Description</th>
                            <th>Verified Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="eachItem in box.items ">
                            <td>{{eachItem.sku}}</td>
                            <td>{{eachItem.name}}</td>
                            <td>{{eachItem.count}}</td>
                          </tr>

                        </tbody>
                      </table>

                    </td>
                    <td> <button type="button" class="btn btn-xs btn-success pull-right" ng-click="ship($index)">
                      <i class="fa fa-truck" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-warning pull-right" ng-click="createBoxLabel($index)">
                      <i class="fa fa-list-alt" aria-hidden="true"></i>

                    </button></td>
                  </tr>
                </tbody>
              </table>
              <div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div style="visibility:hidden">
    <div class="row" id="printElement">
      <div class="col-md-12 col-sm-12 col-xs-12 margin-left-10">
        <!-- start -->

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="text-center">Packing Slip</h4>
            <h5 class="text-center">{{PackingLabelInfo.boxNo}}</h5>
            <h3 class="margin-bottom-10">{{storeName}}
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6 col-xs-6">
            <h5 class="">Ship To</h5>
            <span>
              <h4 class="margin-bottom-5">{{PackingLabelInfo.shipTo.name}}</h4>
              <span class="">{{PackingLabelInfo.shipTo.phone}}
                <br>{{PackingLabelInfo.shipTo.postalCode}}
                <br>{{PackingLabelInfo.shipTo.street1}}</span>
            </span>

          </div>
          <div class="col-md-6 col-xs-6 text-left pull-right">
            <h5 class="">Order# : {{PackingLabelInfo.orderNumber}}</h5>
            <h5>Date : {{PackingLabelInfo.createDate | date:"mediumDate"}}</h5>
            <h5>User : {{PackingLabelInfo.customerUsername}}</h5>
            <h5>Ship Date : {{PackingLabelInfo.shipDate | date:"mediumDate"}}</h5>
          </div>
        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12">
          <hr>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div>
              <!-- <table ng-style=" background-image: item.close_po!=0 ?:'url('./img/close.jpg')' : 'url('')'; background-repeat:no-repeat;} : {background-color:'green'}" ; class="table table-bordered table-hover invoice-table"> -->
              <table class="table table-bordered table-hover invoice-table">
                <thead>
                  <tr>
                    <td>
                      <h4>Item</h4>
                    </td>
                    <td class="text-center">
                      <h4>Description</h4>
                    </td>
                    <td class="text-center">
                      <h4>Qty</h4>
                    </td>

                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in PackingLabelInfo.items">
                    <td>{{item.sku}}</td>
                    <td class="text-center">{{item.name}}</td>
                    <td class="text-right">{{item.count}}</td>

                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <!-- end -->
      </div>
    </div>
  </div>
</div>








































<div ng-if="shipping_test" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
  <section class="box">
    <div class="content-body padding-bottom-0">
      <div class="row margin-bottom-10">
        <strong>Order : </strong> {{orderDetail.orderNumber}}
        <br>
        <strong>Status : </strong>{{orderDetail.orderStatus}}
      </div>
      <button class="btn btn-info btn-corner pull-right" ng-click="back()">Back</button>
      <!-- Content Div -->
      <div class="row" id="printid">
        <!-- Left Portion -->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="row">
            <!-- Order Summary -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div class="module">
                <div class="header">Order Summary</div>
                <div class="content">
                  <table class="table-responsive">
                    <tbody>
                      <tr>
                        <th>Store</th>
                        <td colspan="3">{{orderDetail.storeName}}</td>
                      </tr>
                      <tr>
                        <th>Order Date</th>
                        <td>{{orderDetail.orderDate | date:"mediumDate"}}</td>

                      </tr>
                      <tr>
                        <th>Paid Date</th>
                        <td>{{orderDetail.paymentDate | date:"mediumDate"}}</td>
                        <th>Shipping Paid</th>
                        <td name="ShippingAmount">{{orderDetail.shippingAmount | currency:"$":2}}</td>
                      </tr>
                      <tr>
                        <th>Hold Until</th>
                        <td>{{orderDetail.holdUntilDate | date:"mediumDate"}}</td>
                        <th class="border-bottom-1">Tax Paid</th>
                        <td class="border-bottom-1">{{orderDetail.taxAmount | currency:"$":2}}</td>
                      </tr>
                      <tr>
                        <th>Ship By</th>
                        <td>{{orderDetail.shipByDate | date:"mediumDate"}}</td>
                        <th class="border-bottom-1">Total Order</th>
                        <td class="border-bottom-1">{{orderDetail.orderTotal | currency:"$":2}}</td>
                      </tr>
                      <tr>
                        <th colspan="2">&nbsp;</th>

                        <th>Total Paid</th>
                        <td name="AmountPaid">{{orderDetail.amountPaid | currency:"$":2}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Buyer Info -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
              <div class="module">
                <h4 class="header">Buyer/Recepient Info</h4>
                <div class="content">
                  <table class="table-responsive">
                    <tbody>
                      <tr>
                        <th>Sold To</th>
                        <td class="border-bottom-1">{{orderDetail.billTo.name}}
                          <br>
                          <a href="mailto:{{orderDetail.customerEmail}}">{{orderDetail.customerEmail}}</a>
                          <br>{{orderDetail.billTo.phone}}
                        </td>
                      </tr>
                      <tr>
                        <th>Ship To</th>
                        <td>{{orderDetail.shipTo.name}}
                          <br> {{orderDetail.shipTo.street1}},{{orderDetail.shipTo.street2}},{{orderDetail.shipTo.street3}}
                          <br> {{orderDetail.shipTo.city}} {{orderDetail.shipTo.state}} {{orderDetail.shipTo.postalCode}} {{orderDetail.shipTo.country}}
                          <br>
                          <div class="text-warning" style="white-space:normal" ng-if="orderDetail.shipTo.addressVerified == 'Address validation warning'">
                            <span>Invalid address</span>
                          </div>
                          <div class="text-success" style="white-space:normal" ng-if="orderDetail.shipTo.addressVerified == ' Address validated successfully'">
                            <span>Verified Address</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div ng-if="numberOfContainer > 0" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <!-- Shipping Info -->
              <div class="module">
                <h4 class="header">Container Info</h4>
                <div class="content">
                  <div ng-repeat="itemList in allContainerDeatils">
                    <label>
                      <b>{{itemList.sku}}</b>
                    </label>
                    <br>
                    <label>
                      <b>{{itemList.address}}</b>
                    </label>
                    <br>
                    <br>
                    <label>Height:
                      <b>{{itemList.product_height}}</b>
                    </label>
                    <label>width:
                      <b>{{itemList.product_weight}}</b>
                    </label>
                    <br>
                    <label>Depth:
                      <b>{{itemList.product_depth}}</b>
                    </label>
                    <label>Weight:
                      <b>{{itemList.weight}}</b>
                    </label>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row" id="printOrder">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="module">
                <h4 class="header">Order Items</h4>
                <div class="content">
                  <table class="item-table ">
                    <thead>
                      <tr class="border-bottom-1">
                        <th class="item-product" colspan="2">Item</th>
                        <th class="item-price">Unit $</th>
                        <th class="item-qty">Qty</th>
                        <th class="item-total">Total $</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in orderDetail.items track by $index" ng-class="{'border-bottom-1':orderDetail.items.length-1 != $index}">
                        <td class="item-image">
                          <img src="{{item.imageUrl}}" height="72px" width="72px" /> </td>
                        <td class="item-description">
                          <div class="product-details">
                            {{item.name}}
                            <br>SKU: {{item.sku}}
                          </div>
                        </td>
                        <td class="item-price"> {{item.unitPrice | currency:"$":2}} </td>
                        <td class="text-center item-qty " style="position:relative">{{item.quantity}}</td>
                        <td class="item-total">{{item.quantity * item.unitPrice | currency:"$":2}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Right Portion -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <!-- Shipping Info -->
          <div class="module">
            <form name="shippigInfo">
              <h4 class="header">Shipping Info</h4>
              <div class="content margin-left-15">
                <div class="padding-bottom-10">
                  <div style="padding-bottom: 10px;">
                    <label class="form-controle">Carrier:</label>
                    <select class="form-controle" ng-model="vd.carrier_code" ng-options="method as method.name for method in shippingMethods"
                      ng-change="getServiceCode()" required></select>

                    <!-- Requested Service : {{orderDetail.requestedShippingService}} -->
                  </div>
                  <div ng-if="carrierSelected">
                    <label class="form-controle">Service:</label>
                    <br>
                    <select class="form-controle " ng-model="vs.service_code" ng-options="method as method.name for method in serviceList"></select required>
                    <br>
                  </div>
                  <div ng-if="carrierSelected">
                    <label class="form-controle">Package:</label>
                    <br>
                    <select class="form-controle" ng-model="vs.package" ng-options="package as package.name for package in packageList" required></select>
                  </div>
                  <div>
                    <label class="form-controle">Confirm:</label>
                    <br>
                    <select name="confirm" class="form-controle" ng-model="vm.confirmation" required>
                      <option value="non">no Confirmation</option>
                      <option value="delivery">Delivery</option>
                      <option value="signature">Signature</option>
                      <option value="adult_signature">Adult Signature</option>
                    </select>
                    <div>
                      <div>
                        <label class="form-controle"> Weight:</label>
                        <br>
                        <input class=form-controle type=number ng-model=vm.weight required/>
                      </div>
                    </div>
                  </div>
                  <div></div>
                </div>
              </div>
            </form>
          </div>
          <div>
            <button class="btn btn-info btn-corner pull-right" ng-disabled="shippigInfo.$invalid" ng-click="ship()">Ship</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
<div style="visibility:hidden">
  <div class="row" id="printElement">
    <div class="col-md-12 col-sm-12 col-xs-12 margin-left-10">
      <!-- start -->

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="text-center">Packing Slip</h4>
          <h3 class="margin-bottom-10">{{storeName}}
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h5 class="">Ship To</h5>
          <span>
            <h4 class="margin-bottom-5">{{PackingLabelInfo.shipTo.name}}</h4>
            <span class="">{{PackingLabelInfo.shipTo.phone}}
              <br>{{PackingLabelInfo.shipTo.postalCode}}
              <br>{{PackingLabelInfo.shipTo.street1}}</span>
          </span>

        </div>
        <div class="col-md-6 col-xs-6 text-left pull-right">
          <h5 class="">Order# : {{PackingLabelInfo.orderNumber}}</h5>
          <h5>Date : {{PackingLabelInfo.createDate | date:"mediumDate"}}</h5>
          <h5>User : {{PackingLabelInfo.customerUsername}}</h5>
          <h5>Ship Date : {{PackingLabelInfo.shipDate | date:"mediumDate"}}</h5>
        </div>
      </div>
      <div class="row col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div>
            <!-- <table ng-style=" background-image: item.close_po!=0 ?:'url('./img/close.jpg')' : 'url('')'; background-repeat:no-repeat;} : {background-color:'green'}" ; class="table table-bordered table-hover invoice-table"> -->
            <table class="table table-bordered table-hover invoice-table">
              <thead>
                <tr>
                  <td>
                    <h4>Item</h4>
                  </td>
                  <td class="text-center">
                    <h4>Description</h4>
                  </td>
                  <td class="text-center">
                    <h4>Qty</h4>
                  </td>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in PackingLabelInfo.items track by $index">
                  <td>{{item.sku}}</td>
                  <td class="text-center">{{item.name}}</td>
                  <td class="text-right">{{item.count}}</td>

                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <br>
      <!-- end -->
    </div>
  </div>
  <div class="row padding-bottom-10">
    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
      <a class="btn btn-default btn-md" id="printBtn" ng-print print-element-id="printElement">
        <i class="material-icons icon-sm">print</i>&nbsp; Print </a>
    </div>
  </div>
</div>
