<div class='content-wrapper'>
  <div class="col-lg-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Order Picking</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row" ng-if="!showPickOrder">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Pick Cart Id</th>
                  <th>Working Employee</th>
                  <th style="width:60%">Status</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in pickListDetails track by $index" ng-click="showPickListDetail(data[0].pick_cart,idArray[$index])">
                   <td>{{data[0].pick_cart}}</td>
                  <td>{{picklistStatus[$index].picked_by_username}}</td>
                  <td> <uib-progressbar value="picklistStatus[$index].picked_count ? picklistStatus[$index].picked_count :0 " class="progress-xs primary" max="picklistStatus[$index].total_count" type="success"></uib-progressbar></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row" ng-if="showPickOrder" ng-init=displayloc()>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <uib-progressbar value="pickCompletion" class="progress-xs primary" max=total_item_required type="success"></uib-progressbar>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12" ng-if="showLocationflag">
            <div class="form-group">
              <label for="id">Goto {{locMsg}} and scan it</label>
              <input focus-on="showLocationflag"  ng-keypress="$event.keyCode == 13 ? checkLocation(readloc) : null" type="text" ng-model="readloc" class="form-control" id="id"  />
            </div>
            <button type="button" ng-disabled="readloc!==locMsg" class="btn btn-primary pull-right" ng-keypress="$event.keyCode == 13 ? checkLocation(readloc) : null" ng-click="checkLocation(readloc)">Scan</button>
          </div>
        </div>




        <div class="row" ng-if="showSkuflag">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" for="from_location"> Scan {{skuMsg}}</label>
            <div class="input-group input-group-md">
              <input type="text" focus-on="showSkuflag" ng-model="readSku"  ng-keypress="$event.keyCode == 13 ?  checkSku(readSku) : null" class="form-control"></input>
            </div>
          </div>
          <img width="100px" height="100px" src="{{imageUrl}}"/>
          <button type="button" class="btn btn-primary pull-right" ng-disabled="readSku!==skuMsg"  ng-click="checkSku(readSku)">Next </button>
        </div>

        <div class="row" ng-if="showBinflag">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" for="from_location"> Put in {{binMsg}}</label>
          <div class="input-group input-group-md">
            <input type="text" focus-on="showBinflag" ng-keypress="$event.keyCode == 13 ?  checkBin() : null" ng-model="readBin" class="form-control"></input>
          </div>
        </div>
          <button type="button" class="btn btn-primary pull-right" ng-disabled="readBin!==binMsg"  ng-click="checkBin()">OK </button>
        </div>

        <div class="row" ng-if="endflag">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" for="from_location">Order is picked sucessfully</label>
          </div>
          <button type="button" class="btn btn-primary pull-right"   ng-click="goback()">OK </button>
        </div>
        <div class="row" ng-if="errflag">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" for="from_location">Sorry something went wrong during updation</label>
          </div>
          <button type="button" class="btn btn-primary pull-right"  ng-click="goback()">OK </button>
        </div>

      </div>
  </div>
  </section>
</div>
</div>
</form>
