<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Ecommerce';  ">
  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>Order Management</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="box nobox">
      <div class="content-body">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="wid-sparkgraph bg-white">
              <span class='bold'>42</span>
              <span class='pull-right'><small>Open Orders</small></span>
              <div class="clearfix"></div><br>
              <div class="text-center" ng-init="data21=[2,1,5,2,8,3,7,1,4,9]" ui-jq="sparkline" ui-options="{{data21}}, {
                                type: 'bar',
                                barColor: '#695f56',
                                height: '60',
                                barWidth: '8',
                                barSpacing: 4,
                                }" class="sparkline inline">Loading...
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">

            <div class="wid-sparkgraph bg-white">
              <span class='bold'>46</span>
              <span class='pull-right'><small>Back Order</small></span>
              <div class="clearfix"></div><br>
              <div class="text-center" ng-init="data1=[1,4,2,8,5,3,9,1,7,6]" ui-jq="sparkline" ui-options="{{data1}}, { type: 'line', width: '100%', height: '60', lineWidth: 2, lineColor: '#695f56', fillColor:
                            '#f17e56', highlightSpotColor: '#ffffff', highlightLineColor: '#ffffff', spotRadius: 3, }" class="sparkline inline">Loading...
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">

            <div class="wid-sparkgraph bg-white">
              <span class='bold'>88/53</span>
              <span class='pull-right'><small>Total / Closed Orders</small></span>
              <div class="clearfix"></div><br>
              <div class="text-center" ng-init="data4=[
                                [3, 2],
                                [5, 2],
                                [7, 4],
                                [10, 8],
                                [13, 9],
                                [6, 1],
                                [16, 8],
                                [2, 2],
                                [11, 9],
                                [15, 10]
                                ]" ui-jq="sparkline" ui-options="{{data4}}, {
                                type: 'bar',
                                barColor: '{{app.color.accent}}',
                                height: '60',
                                barWidth: '8',
                                barSpacing: 4,
                                zeroAxis: true,
                                negBarColor: '#f17e56',
                                zeroColor: '#695f56',
                                stackedBarColor: ['#695f56', '#f17e56'],
                                }" class="sparkline inline">Loading...
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">New Imported Order</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
          <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
          <i class="box_close material-icons">close</i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped" ui-jq="dataTable" ui-options="{
          sAjaxSource: 'data/eco-orders.json',
          lengthMenu: [ 5,10,50,100 ],
          language: { 'paginate': { 'previous': '<','next': '>' }},
          aoColumns: [
            { mData: 'number' },
            { mData: 'product' },
            { mData: 'customer' },
            { mData: 'vendor' }
          ]
        }" class="table table-striped">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Product</th>
                  <th>Customer</th>
                  <th>Vendor</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Back orders</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
          <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
          <i class="box_close material-icons">close</i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped" ui-jq="dataTable" ui-options="{
          sAjaxSource: 'data/eco-orders.json',
          lengthMenu: [ 5,10,50,100 ],
          language: { 'paginate': { 'previous': '<','next': '>' }},
          aoColumns: [
            { mData: 'number' },
            { mData: 'product' },
            { mData: 'customer' },
            { mData: 'vendor' }
          ]
        }" class="table table-striped">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Product</th>
                  <th>Customer</th>
                  <th>Vendor</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Picked</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
          <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
          <i class="box_close material-icons">close</i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped" ui-jq="dataTable" ui-options="{
          sAjaxSource: 'data/eco-orders.json',
          lengthMenu: [ 5,10,50,100 ],
          language: { 'paginate': { 'previous': '<','next': '>' }},
          aoColumns: [
            { mData: 'number' },
            { mData: 'product' },
            { mData: 'customer' },
            { mData: 'vendor' }
          ]
        }" class="table table-striped">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Product</th>
                  <th>Customer</th>
                  <th>Vendor</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Packed</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
          <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
          <i class="box_close material-icons">close</i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped" ui-jq="dataTable" ui-options="{
          sAjaxSource: 'data/eco-orders.json',
          lengthMenu: [ 5,10,50,100 ],
          language: { 'paginate': { 'previous': '<','next': '>' }},
          aoColumns: [
            { mData: 'number' },
            { mData: 'product' },
            { mData: 'customer' },
            { mData: 'vendor' }
          ]
        }" class="table table-striped">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Product</th>
                  <th>Customer</th>
                  <th>Vendor</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Shipped</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
          <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
          <i class="box_close material-icons">close</i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped" ui-jq="dataTable" ui-options="{
          sAjaxSource: 'data/eco-orders.json',
          lengthMenu: [ 5,10,50,100 ],
          language: { 'paginate': { 'previous': '<','next': '>' }},
          aoColumns: [
            { mData: 'number' },
            { mData: 'product' },
            { mData: 'customer' },
            { mData: 'vendor' }
          ]
        }" class="table table-striped">
              <thead>
                <tr>
                  <th>Number</th>
                  <th>Product</th>
                  <th>Customer</th>
                  <th>Vendor</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />

</div>
