
<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Add A Product';">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <section class="box ">
          <header class="panel_header">
              <h2 class="title pull-left">Pick Cart- {{orderDetails.pick_cart}}</h2>
              <div class="actions panel_actions pull-right">
                   <i class="fa fa-close" ng-click="close()"></i>
              </div>
          </header>
          <div class="content-body padding-bottom-0">
              <div class="row">
                  <button class="btn btn-primary" ng-click="verify()">Verify</button>
              </div>
              <div class="row" id="printElement">
                  <div class="col-md-12 col-sm-12 col-xs-12 margin-left-10">
                      <!-- start -->
                      <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12 col-xs-12">
                              <strong class="pull-right">{{date|date}} {{date|date:'hh:mm:ss a'}} </strong>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                      <!-- <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <h4 class="pull-right">Pick Cart Id : &nbsp<b style="color:red">{{pickCartId}}</b></h4>
                          </div>
                      </div> -->
                      <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="table-responsive">
                                  <table class="table table-striped">
                                      <thead>
                                          <tr class="text-center">
                                              <td></td>
                                              <th>Item#</th>
                                              <th>Description</th>
                                              <th>Warehouse Location</th>
                                              <th>Required Quantity</th>
                                              <td></td>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                          <tr ng-repeat="eachorder in orderDetails">
                                              <td><img width="100px" height="100px" src="{{eachorder.imageUrl}}" /></td>
                                              <td >{{eachorder.sku}}</div></td>
                                              <td >{{eachorder.name}}</td>
                                              <td><div ng-repeat="item in eachorder.item_location">{{item.location_name}}</div></td>
                                              <td>{{eachorder.quantity}}</td>
                                              <td><div ng-repeat="item in eachorder.cart_loc">{{item}}</div></td>
                                          </tr>
                                          <tr>
                                              <td colspan="4"></td>
                                              <!-- <th>Total items required</th> -->
                                              <!-- <td class="text-right">
                                                  <h3 style='margin:0px;' class="text-primary">{{RequerdTot}}</h3>
                                              </td> -->
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                      <!-- end -->
                  </div>
              </div>
          </div>
      </section>
  </div>
</div>
