<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Items';">
    <div ui-breadcrumb-auto-hidden class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <ol class="breadcrumb auto-hidden  border">
            <li>
                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
                <a ui-sref="app.shipstation" class="collapsed">All Stores </a>
            </li>
            <li class="active">
                <strong>Order Details</strong>
            </li>

        </ol>
    </div>
    <div class="padding-bottom-20">
        <uib-tabset justified="true" class="tab-container primary" active="tabIndex">
            <uib-tab index="0" ng-click="pageChanged()">
                <uib-tab-heading>
                    <i class="fa fa-cart-arrow-down"></i>Awaiting shipment
                </uib-tab-heading>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                        Rows On Page : <select name="rows" ng-change="pageChanged()" ng-options="option for option in rows" ng-model="vm.rowsPerPage"></select>
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>Age</th>
                                    <th>Item Name</th>
                                    <th>Item Sku</th>
                                    <th>Store Name</th>
                                    <th>Order#</th>
                                    <th>Tags</th>
                                    <th>Requested Service</th>
                                    <th>Receipient</th>
                                    <th>Order Date</th>
                                    <th>Qnty</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in orderList track by $index" class="cursor-pointer" ng-click="viewOrderDetails(order.orderId)">
                                    <td>{{order.age}}</td>
                                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].name}}</td>
                                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].sku}}</td>
                                    <td>{{order.storeName}}</td>
                                    <td>{{order.orderNumber}}</td>
                                    <td>
                                        <div ng-repeat="tag in order.tags">
                                            <i class="small-tag tool-tip" popover-class="secondary" popover-placement="top" uib-popover="{{tag[0].name}}" popover-trigger="mouseenter" ng-style="{'background-color':'{{tag[0].color}}' ,'border-color':'{{tag[0].color}}'}"></i>
                                        </div>
                                    </td>
                                    <td>{{order.requestedShippingService}}</td>
                                    <td>{{order.billTo.name}}</td>
                                    <td>{{order.orderDate | date:"mediumDate" }}</td>
                                    <td>{{order.items.length}}</td>
                                    <td>{{order.orderTotal|currency}}
                                </tr>
                                <tr ng-if="orderList.length == 0" class="text-center">
                                    <td colspan="11">No orders found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" ng-click="pageChanged()">
                <uib-tab-heading>
                    <i class="fa fa-truck"></i>Shipped
                </uib-tab-heading>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                        Rows On Page : <select name="rows" ng-change="pageChanged()" ng-options="option for option in rows" ng-model="vm.rowsPerPage"></select>

                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>Age</th>
                                    <th>Item Name</th>
                                    <th>Item Sku</th>
                                    <th>Order#</th>
                                    <th>Tags</th>
                                    <th>Requested Service</th>
                                    <th>Recipient</th>
                                    <th>Shipped Date</th>
                                    <th>Qnty</th>
                                    <th>Order Total </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in orderList track by $index" class="cursor-pointer" ng-click="viewOrderDetails(order.orderId)">
                                    <td>{{order.age}}</td>
                                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].name}}</td>
                                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].sku}}</td>
                                    <td>{{order.storeName}}</td>
                                    <td>{{order.orderNumber}}</td>
                                    <td>
                                        <div ng-repeat="tag in order.tags">
                                            <i class="small-tag tool-tip" popover-class="secondary" popover-placement="top" uib-popover="{{tag[0].name}}" popover-trigger="mouseenter" ng-style="{'background-color':'{{tag[0].color}}' ,'border-color':'{{tag[0].color}}'}"></i>
                                        </div>
                                    </td>
                                    <td>{{order.requestedShippingService}}</td>
                                    <td>{{order.billTo.name}}</td>
                                    <td>{{order.shipDate | date:"mediumDate" }}</td>
                                    <td>{{order.items.length}}</td>
                                    <td>{{order.orderTotal|currency}}
                                </tr>
                                <tr ng-if="orderList.length == 0" class="text-center">
                                    <td colspan="11">No orders found</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" ng-click="pageChanged()">
                <uib-tab-heading>
                    <i class="fa fa-pause"></i>On Hold
                </uib-tab-heading>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                        Rows On Page : <select name="rows" ng-change="pageChanged()" ng-options="option for option in rows" ng-model="vm.rowsPerPage"></select>
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>Age</th>
                                    <th>Item Name</th>
                                    <th>Item Sku</th>
                                    <th>Store Name</th>
                                    <th>Order#</th>
                                    <th>Tags</th>
                                    <th>Requested Service</th>
                                    <th>Receipient</th>
                                    <th>Order Date</th>
                                    <th>Qnty</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in orderList track by $index" class="cursor-pointer" ng-click="viewOrderDetails(order.orderId)">
                                    <td>{{order.age}}</td>
                                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].name}}</td>
                                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].sku}}</td>
                                    <td>{{order.storeName}}</td>
                                    <td>{{order.orderNumber}}</td>
                                    <td>
                                        <div ng-repeat="tag in order.tags">
                                            <i class="small-tag tool-tip" popover-class="secondary" popover-placement="top" uib-popover="{{tag[0].name}}" popover-trigger="mouseenter" ng-style="{'background-color':'{{tag[0].color}}' ,'border-color':'{{tag[0].color}}'}"></i>
                                        </div>
                                    </td>
                                    <td>{{order.requestedShippingService}}</td>
                                    <td>{{order.billTo.name}}</td>
                                    <td>{{order.orderDate | date:"mediumDate" }}</td>
                                    <td>{{order.items.length}}</td>
                                    <td>{{order.orderTotal|currency}}
                                </tr>
                                <tr ng-if="orderList.length == 0" class="text-center">
                                    <td colspan="11">No orders found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="3" ng-click="pageChanged()">
                <uib-tab-heading>
                    <i class="fa fa-ban"></i>Canceled
                </uib-tab-heading>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                        Rows On Page : <select name="rows" ng-change="pageChanged()" ng-options="option for option in rows" ng-model="vm.rowsPerPage"></select>
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>Age</th>
                                    <th>Item Name</th>
                                    <th>Item Sku</th>
                                    <th>Store Name</th>
                                    <th>Order#</th>
                                    <th>Tags</th>
                                    <th>Requested Service</th>
                                    <th>Receipient</th>
                                    <th>Order Date</th>
                                    <th>Qnty</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in orderList track by $index" class="cursor-pointer" ng-click="viewOrderDetails(order.orderId)">
                                    <td>{{order.age}}</td>
                                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].name}}</td>
                                    <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].sku}}</td>
                                    <td>{{order.storeName}}</td>
                                    <td>{{order.orderNumber}}</td>
                                    <td>
                                        <div ng-repeat="tag in order.tags">
                                            <i class="small-tag tool-tip" popover-class="secondary" popover-placement="top" uib-popover="{{tag[0].name}}" popover-trigger="mouseenter" ng-style="{'background-color':'{{tag[0].color}}' ,'border-color':'{{tag[0].color}}'}"></i>
                                        </div>
                                    </td>
                                    <td>{{order.requestedShippingService}}</td>
                                    <td>{{order.billTo.name}}</td>
                                    <td>{{order.orderDate | date:"mediumDate" }}</td>
                                    <td>{{order.items.length}}</td>
                                    <td>{{order.orderTotal|currency}}
                                </tr>
                                <tr ng-if="orderList.length == 0" class="text-center">
                                    <td colspan="11">No orders found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
        <uib-pagination ng-model="currentPage" ng-change="pageChanged()" total-items="vm.orderCount" items-per-page="vm.rowsPerPage " max-size="5" rotate="true" force-ellipses="true"> </uib-pagination>
    </div>
    <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
