<div class='content-wrapper'>
  <div class="col-lg-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Order Packing</h2>
        <div class="actions panel_actions pull-right">
          <i class="box_toggle material-icons">expand_more</i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row" ng-if="!showBin">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Pick Cart Id</th>
                  <!-- <th>Item Sku</th> -->

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in pickListDetails track by $index" ng-click="showPickListDetail(data.pick_cart,idArray[$index])">
                  <td>{{data.pick_cart}}</td>
                  <!-- <td>{{data.sku}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row" ng-if="showBin">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <uib-progressbar value="current_progress" class="progress-xs primary" max=needed_progress type="success"></uib-progressbar>
          </div>
            <div ng-if="progress" class="col-md-12 col-sm-12 col-xs-12">
          Order- {{message}} is on progress
            </div>
            <div ng-if="order_complete" class="col-md-12 col-sm-12 col-xs-12">
           Order- {{message}} is completed
              </div>
          <div class="col-md-12 col-sm-12 col-xs-12" ng-if="showBinFlag">
            <div class="form-group">
              <label for="id">Scan a Bin</label>
              <input type="text" ng-keypress="$event.keyCode == 13 ?  checkBin() : null" ng-model="vm.readBin" class="form-control" id="id" />
            </div>
            <button type="button"  ng-disabled="!vm.readBin" class="btn btn-primary pull-right" ng-click="checkBin()">Scan</button>
          </div>
        </div>




        <div class="row" ng-if="scanSkuFlag">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" for="from_location"> Scan item or package</label>
            <div class="input-group input-group-md">
              <input type="text" ng-keypress="$event.keyCode == 13 ?  checkSku() : null" ng-model="vm.readSku" class="form-control"></input>
            </div>
          </div>
          <button type="button" class="btn btn-primary pull-right" ng-disabled="!vm.readSku" ng-click="checkSku()">Next </button>
        </div>

        <div class="row" ng-if="endFlag">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" for="from_location">Pick List Is Verified</label>
          </div>
          <button type="button" class="btn btn-primary pull-right" ng-click="goback()">OK </button>
        </div>
        <div class="row" ng-if="notfound">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" style="color: red" for="from_location">enterd item not found</label>
          </div>
          <!-- <button type="button" class="btn btn-primary pull-right" ng-click="goback()">OK </button> -->
        </div>
        <div class="row" ng-if="noitem">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" for="from_location">{{itemsku}} not scaned</label>
          </div>
          <button type="button" class="btn btn-primary pull-right" ng-click="goback()">OK </button>
        </div>
        <div class="row" ng-if="nobin">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label class="form-label" style="color: red" for="from_location">This pickcart is not associated with the created picklist</label>
          </div>
          <!-- <button type="button" class="btn btn-primary pull-right" ng-click="goback()">OK </button> -->
        </div>


      </div>
  </div>
  </section>
</div>
</div>
</form>
