<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Order-picking ';">

  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box">
      <header class="panel_header">
        <h2 class="title pull-left">Pick List</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="close()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-0">
        <div class="row">
          <form role="form" name="orderPickingForm">
            <div ng-show="!showOrder" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-15">
              <div class="form-group">
                <label for="pickCartId" class="form-label">Pick Cart Id</label>
                <!-- <input name="pickCartId" type="text" ng-model="PcId" class="form-control" required> -->
                <input type="text" autofocus ng-model="PcId" id="from_location" name="fromLocation" autocomplete="off" uib-typeahead="location as location.location_name for location in getLocationName($viewValue)"
                  typeahead-loading="loadingFromLoc" typeahead-no-results="noFromLoc" class="form-control" required focus-on="showFromLocation"
                  ng-keyup="$event.keyCode == 13 && transfer(false)">
                <i ng-show="loadingFromLoc" class="fa fa-spinner" aria-hidden="true"></i>
                <i ng-show="noFromLoc" class="fa fa-exclamation-triangle" aria-hidden="true">No Pick-Cart Found</i>
                <i ng-show="idNotValid" class="fa fa-exclamation-triangle" aria-hidden="true">Select A Pick-Cart Location</i>
              </div>
              <button type="button" ng-disabled="orderPickingForm.$invalid" class="btn btn-primary pull-right" ng-click="nextData(PcId)">Next</button>
              <!-- </> -->
            </div>
          </form>
          <div ng-show="showOrder && showSelected">
            <div class="form-group col-md-12">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr class="text-center">
                      <th>InStock</th>
                      <th>Age&nbsp
                        <i ng-click=agefilterchange(1) ng-show="age_sort_flag==0" class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                        <i ng-click=agefilterchange(2) ng-show="age_sort_flag==1" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                      </th>
                      <th>OrderID&nbsp
                        <i ng-click=orderfilterchange(1) ng-show="order_sort_flag==0" class="fa fa-sort-amount-asc"
                          aria-hidden="true"></i>
                        <i ng-click=orderfilterchange(2) ng-show="order_sort_flag==1" class="fa fa-sort-amount-desc"
                          aria-hidden="true"></i>
                      </th>
                      <th>Item Sku</th>
                      <th>Store Name&nbsp
                        <i ng-click=storefilterchange(1) ng-show="store_sort_flag==0" class="fa fa-sort-amount-asc"
                          aria-hidden="true"></i>
                        <i ng-click=storefilterchange(2) ng-show="store_sort_flag==1" class="fa fa-sort-amount-desc"
                          aria-hidden="true"></i>
                      </th>
                      <th>Order#</th>
                      <!-- <th>Tags</i></th> -->
                      <th>Carrier&nbsp
                        <i ng-click=carrierfilterchange(1) ng-show="carrier_sort_flag==0" class="fa fa-sort-amount-asc"
                          aria-hidden="true"></i>
                        <i ng-click=carrierfilterchange(2) ng-show="carrier_sort_flag==1" class="fa fa-sort-amount-desc"
                          aria-hidden="true"></i>
                      </th>
                      <th>Service&nbsp
                        <i ng-click=servicefilterchange(1) ng-show="service_sort_flag==0" class="fa fa-sort-amount-asc"
                          aria-hidden="true"></i>
                        <i ng-click=servicefilterchange(2) ng-show="service_sort_flag==1" class="fa fa-sort-amount-desc"
                          aria-hidden="true"></i>
                      </th>
                      <th>Order Date&nbsp
                        <i ng-click=datefilterchange(1) ng-show="date_sort_flag==0" class="fa fa-sort-amount-asc"
                          aria-hidden="true"></i>
                        <i ng-click=datefilterchange(2) ng-show="date_sort_flag==1" class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                      </th>
                    </tr>
                    <tr>
                      <th> <label style="border-color: #d23430 !important;" class="icheck">
                        <input ng-change="instockFlag==true?instockFlag=false:instockFlag=true" ng-click="pageChanged()"  type="checkbox"  ng-model="inStock"
                        />
                        <i></i>
                      </label></th>
                      <th>
                        <input style="width: 49px;" ng-disabled="instockFlag" type="number" onkeypress="return event.charCode >= 48|| event.charCode==46"
                          ng-model="age" ng-change="pageChanged()" />
                      </th>
                      <th></th>
                      <th>
                        <multiselect ng-model="search_sku" ng-disabled="instockFlag" ng-change="pageChanged()" search-filter="searchFilter" aria-placeholder="filter"
                          options="skus.sku as skus.sku for skus in skuList" data-multiple="true"></multiselect>
                      </th>

                      <th>
                        <multiselect ng-model="store_id" ng-disabled="instockFlag" ng-change="pageChanged()" aria-placeholder="filter" options="store.store_id as store.store_name for store in storeList"
                          data-multiple="true"></multiselect>
                      </th>
                      <th>
                        <input style="width: 100%;" type="number" ng-disabled="instockFlag" onkeypress="return event.charCode >= 48|| event.charCode==46"
                          ng-model="get_order_num" ng-change="pageChanged()" />
                      </th>
                      <th>
                        <multiselect ng-model="selectcarrier" ng-disabled="instockFlag" ng-change="select()" options="a.code as a.name for a in shippingMethods"
                          data-multiple="true"></multiselect>
                      </th>
                      <th>
                        <multiselect ng-change="select3()" ng-disabled="instockFlag" ng-model="service_code" aria-placeholder="filter by service code"
                          options="srv.code as srv.name for srv in Service_code" data-multiple="true">
                        </multiselect>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="order in orderList track by $index" class="cursor-pointer" ng-click='order.available?checkboxselection($index,order.orderId):""'>
                      <td>
                        <label ng-show="order.available" class="icheck">
                          <input  ng-checked="test(order.orderId)==true? true  :false" ng-disabled="true" type="checkbox" id={{order.orderId}} ng-model="selection[$index]"
                          />
                          <i></i>
                        </label></td>
                        <td>{{order.age}}</td>
                        <td>{{order.orderId}}</td>
                        <td>{{order.items.length > 1 ? '(Multiple Items)' : order.items[0].sku}}</td>
                        <td>{{order.storeName}}</td>
                        <td style="width: 7%;">{{order.orderNumber}}</td>

                        <td>{{order.carrierCode}}</td>
                        <td>{{order.serviceCode}}</td>
                        <td ng-init=reset(order.orderId)>{{order.orderDate | date:"mediumDate" }}</td>
                    </tr>
                    <tr ng-if="orderList.length == 0" class="text-center">
                      <td colspan="11">No orders found</td>
                    </tr>
                  </tbody>
                </table>
                <uib-pagination ng-model="currentPage" ng-change="pageChanged();" total-items="vm.orderCount" items-per-page="rowsPerPage"
                  max-size="10" rotate="true" force-ellipses="true"> </uib-pagination>
                <button type="button" ng-disabled="!lessItem" class="btn btn-primary pull-right" ng-click="listAllItems()">Create Pick List</button>
                <!-- <button type="button" class="btn btn-primary pull-right" ng-click="listAllItems()">Show</button> -->

              </div>
            </div>
          </div>

          <div ng-show="!showSelected&&showOrder" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

            <div class="content-body padding-bottom-0">

              <div class="row" id="printElement">
                <div class="col-md-12 col-sm-12 col-xs-12 margin-left-10">
                  <!-- start -->
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-xs-12">
                      <strong class="pull-right">{{date|date}} {{date|date:'hh:mm:ss a'}} </strong>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <h4 class="pull-right">Pick Cart Id : &nbsp
                        <b style="color:red">{{PcId.location_name}}</b>
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr class="text-center">
                              <td></td>
                              <th>Item#</th>
                              <th>Description</th>
                              <th>Warehouse Location</th>
                              <th>Required Quantity</th>
                              <td></td>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                            <tr ng-repeat="item in pickListData track by $index">
                              <td>
                                <img width="100px" height="100px" src="{{item.imageUrl}}" />
                              </td>
                              <td>{{item.sku}}</td>
                              <td>{{item.name}}</td>
                              <td>
                                <div ng-repeat="location in item.item_location track by $index">
                                  {{location.location_name}}
                                  <br>
                                </div>
                              </td>
                              <td>{{ item.quantity}}</td>
                              <td>
                                <div ng-repeat="cart in item.cart_loc track by $index">
                                  {{cart}}
                                  <br>
                                </div>
                            </tr>
                            <tr>
                              <td colspan="4"></td>
                              <th>Total items required</th>
                              <td class="text-right">
                                <h3 style='margin:0px;' class="text-primary">{{RequerdTot}}</h3>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- end -->
                </div>
              </div>

              <div class="row padding-bottom-10">
                <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                  <button type="button" class="btn btn-default" ng-click="savePickList()">Save and Allocate Inventory</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
