<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Order-shipping '">

  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed">
          <i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a ui-sref="app.order.dashboard" class=collapsed>Order Management</a>
      </li>
      <li class="active">
        <strong>Order Shipping</strong>
      </li>
    </ol>
  </div>

  <div class='content-wrapper' ng-init="clicked=false">
    <section class="box">

      <header class="panel_header">
         <h2 class="title pull-left">Shipments</h2>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row" ng-show="!clicked">
          <!-- <button type="button" ng-click="shipment()" class="btn btn-primary pull-left">Shipment</button> -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpt" class="table table-striped">
              <thead>
                <tr class="text-center">
                  <th>Order ID</th>
                  <th>Order Number</th>
                  <th>Employee</th>
                  <th>Store Name</th>
                  <th>Duration</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
    </section>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div ng-show='clicked' class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <section class="box ">
        <div class="content-body padding-bottom-0">
          <div class="row margin-bottom-10">
            <strong>Order : </strong> {{orderDetail.orderNumber}}
            <br>
            <strong>Status : </strong>{{orderDetail.orderStatus}}
          </div>
          <!-- Content Div -->
          <div class="row" id="printElement">
            <!-- Left Portion -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="row">
                <!-- Order Summary -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="module">
                    <div class="header">Order Summary</div>
                    <div class="content">
                      <table class="table-responsive">
                        <tbody>
                          <tr>
                            <th>Store</th>
                            <td colspan="3">{{orderDetail.storeName}}</td>
                          </tr>
                          <tr>
                            <th>Order Date</th>
                            <td>{{orderDetail.orderDate | date:"mediumDate"}}</td>
                            <th>Product Total</th>
                            <td>{{orderDetail.orderTotal | currency:"$":2}}</td>
                          </tr>
                          <tr>
                            <th>Paid Date</th>
                            <td>{{orderDetail.paymentDate | date:"mediumDate"}}</td>
                            <th>Shipping Paid</th>
                            <td name="ShippingAmount">{{orderDetail.shippingAmount | currency:"$":2}}</td>
                          </tr>
                          <tr>
                            <th>Hold Until</th>
                            <td>{{orderDetail.holdUntilDate | date:"mediumDate"}}</td>
                            <th class="border-bottom-1">Tax Paid</th>
                            <td class="border-bottom-1">{{orderDetail.taxAmount | currency:"$":2}}</td>
                          </tr>
                          <tr>
                            <th>Ship By</th>
                            <td>{{orderDetail.shipByDate | date:"mediumDate"}}</td>
                            <th class="border-bottom-1">Total Order</th>
                            <td class="border-bottom-1">{{orderDetail.orderTotal | currency:"$":2}}</td>
                          </tr>
                          <tr>
                            <th colspan="2">&nbsp;</th>

                            <th>Total Paid</th>
                            <td name="AmountPaid">{{orderDetail.amountPaid | currency:"$":2}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Buyer Info -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                  <div class="module">
                    <h4 class="header">Buyer/Recepient Info</h4>
                    <div class="content">
                      <table class="table-responsive">
                        <tbody>
                          <tr>
                            <th>Sold To</th>
                            <td class="border-bottom-1">{{orderDetail.billTo.name}}
                              <br>
                              <a href="mailto:{{orderDetail.customerEmail}}">{{orderDetail.customerEmail}}</a>
                              <br>{{orderDetail.billTo.phone}}
                            </td>
                          </tr>
                          <tr>
                            <th>Ship To</th>
                            <td>{{orderDetail.shipTo.name}}
                              <br> {{orderDetail.shipTo.street1}},{{orderDetail.shipTo.street2}},{{orderDetail.shipTo.street3}}
                              <br> {{orderDetail.shipTo.city}} {{orderDetail.shipTo.state}} {{orderDetail.shipTo.postalCode}}
                              {{orderDetail.shipTo.country}}
                              <br>
                              <div class="text-warning" style="white-space:normal" ng-if="orderDetail.shipTo.addressVerified == 'Address validation warning'">
                                <span>Invalid address</span>
                              </div>
                              <div class="text-success" style="white-space:normal" ng-if="orderDetail.shipTo.addressVerified == ' Address validated successfully'">
                                <span>Verified Address</span>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <!-- Shipping Info -->
                  <div class="module">
                    <h4 class="header">Container Info</h4>
                    <div class="content">
                      <div class="checkbox margin-bottom-25">
                        <label class="icheck form-label margin-left-15">
                          <input type="checkbox" id="conatiner" ng-model="container" />
                          <i></i> Container
                        </label>
                        <!-- <div ng-show="container" class="input-group input-group-md"> -->
                        <input class="margin-left-15" ng-show="container" type="text" placeholder="SKU" ng-model="itemList" id="item" name="itemSku"
                          uib-typeahead="item as item.sku for item in getItemCodes($viewValue)" typeahead-loading="loadingLocations"
                          typeahead-no-results="noResults" class="form-control" typeahead-on-select="listItem()" />
                        <i ng-show="loadingLocations" class="fa fa-spinner" aria-hidden="true"></i>
                        <i ng-show="noResults" class="fa fa-exclamation-triangle" aria-hidden="true">No Items Found</i>
                        <!-- </div> -->
                        <!-- <div  class="col-lg-12"> -->
                        <div ng-if="itemList">
                          <label>
                            <b>{{itemList.address}}</b>
                          </label>
                          <br>
                          <br>
                          <label>Height:
                            <b>{{itemList.product_height}}</b>
                          </label>
                          <label>width:
                            <b>{{itemList.product_weight}}</b>
                          </label>
                          <br>
                          <label>Depth:
                            <b>{{itemList.product_depth}}</b>
                          </label>
                          <label>Weight:
                            <b>{{itemList.weight}}</b>
                          </label>
                        </div>
                        <!-- </div> -->

                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="printOrder">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="module">
                    <h4 class="header">Order Items</h4>
                    <div class="content">
                      <table class="item-table ">
                        <thead>
                          <tr class="border-bottom-1">
                            <th class="item-product" colspan="2">Item</th>
                            <th class="item-price">Unit $</th>
                            <th class="item-qty">Qty</th>
                            <th class="item-total">Total $</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="item in orderDetail.items track by $index" ng-class="{'border-bottom-1':orderDetail.items.length-1 != $index}">
                            <td class="item-image">
                              <img src="{{item.imageUrl}}" height="72px" width="72px" /> </td>
                            <td class="item-description">
                              <div class="product-details">
                                {{item.name}}
                                <br>SKU: {{item.sku}}
                              </div>
                            </td>
                            <td class="item-price"> {{item.unitPrice | currency:"$":2}} </td>
                            <td class="text-center item-qty " style="position:relative">{{item.quantity}}</td>
                            <td class="item-total">{{item.quantity * item.unitPrice | currency:"$":2}} </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Right Portion -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <!-- Shipping Info -->
              <div class="module">
                <h4 class="header">Shipping Info</h4>
                <div class="content margin-left-15">
                  <div class="padding-bottom-10">
                    <div style="padding-bottom: 10px;">
                      <label class="form-controle">Carrier:</label>
                      <select class="form-controle" ng-model="vd.carrier_code" ng-options="method as method.name for method in shippingMethods"
                        ng-change="getServiceCode()"></select>

                      <!-- Requested Service : {{orderDetail.requestedShippingService}} -->
                    </div>
                    <div ng-if="carrierSelected">
                      <label class="form-controle">Service:</label>
                      <br>
                      <select class="form-controle " ng-model="vs.service_code" ng-options="method as method.name for method in serviceList"></select>
                      <br>
                    </div>
                    <div ng-if="carrierSelected">
                      <label class="form-controle">Package:</label>
                      <br>
                      <select class="form-controle" ng-model="package" ng-options="method as method.name for method in packageList" />
                    </div>
                    <div>
                      <label class="form-controle">Confirm:</label>
                      <br>
                      <select name="confirm" class="form-controle" ng-model="confirm">
                        <option value="non">no Confirmation</option>
                        <option value="delivery">Delivery</option>
                        <option value="signature">Signature</option>
                        <option value="adult_signature">Adult Signature</option>
                      </select>
                      <div>
                        <div>
                          <label class="form-controle"> Weight:</label>
                          <br>
                          <input class=form-controle type=number ng-model=weight />
                        </div>
                      </div>
                    </div>
                    <div></div>
                  </div>
                </div>
              </div>
              <div>
                <button class="btn btn-info btn-corner pull-right" ng-click="ship()" ng-disabled="!weight">Ship</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
  </div>
