<div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Print Pallet Id</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_close material-icons" ng-click="cancel()">close </i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row padding-bottom-10 margin-top-10">
                    <a class="btn btn-primary btn-md" ng-print print-element-id="print-pallet-info"><i class="fa fa-print icon-sm"></i>&nbsp; Print </a>
                    <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
                </div>
                <div id="print-pallet-info">
                    <div class="margin-left-10 margin-top-5" ng-repeat="itemData in responseData">
                        <table class="table-responsive" align="center" style="text-align:center;" frame="box">
                            <tr>
                                <td><img src="img/logo-folded.png"></td>
                                <td>Pallet ID : {{itemData.location_id}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Date Created : {{itemData.dateCreated | date : "MM/dd/yyyy" }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>Item : </td>
                                <td>{{itemData.item_id}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{itemData.address}}</td>
                            </tr>
                            <tr>
                                <td style="padding-top:30px;padding-bottom:15px" colspan="2">
                                    <barcode id="barcode" type="code39" string="{{itemData.location_id}}" options="options" render="img"> </barcode>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>
<img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
