<div class='content-wrapper'>
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Track Pallet Id</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_close material-icons" ng-click="cancel()">close</i>
                </div>
            </header>
            <div class="content-body">
                <form role="form" name="AssignToPalletForm">
                    <div class="form-group">
                        <label class="form-label" for="pallet-id">Pallet Id</label>
                        <input type="text" id="pallet-id" class="form-control" ng-model="vm.pallet_id" required/>
                    </div>
                    <div class="form-group">
                    </div>
                </form>
            </div>
        </section>
    </div>
      <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
