<div class='content-wrapper'>

    <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <ol class="breadcrumb auto-hidden  border">
            <li>
                <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
            </li>
            <li class="active">
                <strong>Pallet Id</strong>
            </li>
        </ol>
    </div>
    <section class="box nobox margin-top-15 margin-bottom-0">
        <!--Generate Pallet Id-->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
            <div class="r4_counter wid-stats cursor-default">
                <div class='stats-data'>
                    <div class="margin-top-10">
                        <h3 ng-click="generatePalletId()">Generate Pallet Id</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--Track Pallet Id-->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
            <div class="r4_counter wid-stats cursor-default">
                <div class='stats-data'>
                    <div class="margin-top-10 ">
                        <h3 ng-click="trackPalletId()">Track Pallet Id</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--Assign Pallet Id-->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding-right-0 padding-left-0">
            <div class="r4_counter wid-stats cursor-default">
                <div class='stats-data'>
                    <div class="margin-top-10 ">
                        <h3 ng-click="assignToPallet()">Assign To Pallet</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section End -->
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Active Pallet Ids</h2>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpts">
                            <thead>
                                <tr>
                                    <th>Pallet Id</th>
                                    <th>Items Included</th>
                                    <th>Currently On</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
