<div class='content-wrapper'>
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Assign To Pallet Id</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_close material-icons" ng-click="cancel()">close</i>
                </div>
            </header>
            <div class="content-body">
                <form role="form" name="AssignToPalletForm">
                    <div class="form-group">
                        <label class="form-label" for="pallet-id">Pallet Id</label>
                        <input type="text" id="pallet-id" class="form-control" ng-model="vm.pallet_id" required/>
                    </div>
                    <div class="form-group">
                        <label>Items</label>
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SKU / UPC Code</th>
                                        <th>Quantity</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="count in itemCount track by $index">
                                        <td>
                                            <!--Items-->
                                            <div class="form-group">
                                                <div class="input-group input-group-md">
                                                    <input type="text" ng-model="itemList[$index]" id="item" name="itemSku" uib-typeahead="item as item.sku for item in getItemCodes($viewValue)"
                                                        typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                                                        class="form-control" required>
                                                    <i ng-show="loadingLocations" class="fa fa-spinner" aria-hidden="true"></i>
                                                    <i ng-show="noResults" class="fa fa-exclamation-triangle" aria-hidden="true">No Items Found</i>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <!--Item Quantity-->
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="number" class="form-control" id="item-quantity" name="itemQnty" required ng-model="itemQnty[$index]" min="0">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" ng-click="clickItemRow($index)" class="btn btn-sm" ng-class="{'btn-success':$index==itemCount.length-1,'btn-default':$index<itemCount.length-1}"><i class="fa" ng-class="{'fa-plus':$index==itemCount.length-1,'fa-close':$index<itemCount.length-1}"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <button ng-disabled="AssignToPalletForm.$invalid" ng-click="assignPallet()" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
      <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
