<section class="box ">
  <header class="panel_header">
    <h2 class="title pull-left">Pick Cart Detail </h2>
    <!-- <div class="actions panel_actions pull-right" ng-click="closetab()">
            <i class="fa fa-close" ></i>
          </div> -->
  </header>
  <div class="content-body padding-bottom-0">

    <div class="row" id="printElement">
      <div class="col-md-12 col-sm-12 col-xs-12 margin-left-10">
        <!-- start -->
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 col-xs-12">
            <strong class="pull-right">{{date|date}} {{date|date:'hh:mm:ss a'}} </strong>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="margin-bottom-10">Pick List</h3>
          </div>
        </div>
        <div>
          <h4 class="pull right">Order ID:&nbsp<b style="color:red">{{orderID}}</b></h4>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td>

                    </td>
                    <td class="text-center">
                      <h4>Item#</h4>
                    </td>
                    <td class="text-center">
                      <h4>Description</h4>
                    </td>
                    <td class="text-center">
                      <h4>Warehouse Location</h4>
                    </td>
                    <td class="text-right">
                      <h4>Required Quantity</h4>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr ng-repeat="item in orderItems track by $index">
                    <td><img width="100px" height="100px" src={{item.imageUrl}}/></td>
                    <td class="text-center">{{item.sku}}</td>
                    <td class="text-center">{{item.name}}</td>
                    <td class="text-right">{{item.location_db}}</td>
                    <td class="text-right">{{ item.quantity}}</td>
                  </tr>
                  <tr>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line text-center">
                      <h4>Total items required</h4>
                    </td>
                    <td class="no-line text-right">
                      <h3 style='margin:0px;' class="text-primary">{{RequerdTot}}</h3>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <!-- end -->
      </div>
    </div>

    <div class="row padding-bottom-10">
      <div class="col-md-12 col-sm-12 col-xs-12 text-right">
        <a class="btn btn-default btn-md" ng-print print-element-id="printElement"><i class="material-icons icon-sm">print</i>&nbsp; Print </a>
      </div>
    </div>
  </div>
</section>
