<div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <section class="box ">
          <header class="panel_header">
              <h2 class="title pull-left">Add {{location_type.type_name}}</h2>
              <div class="actions panel_actions pull-right">
                  <i class="fa fa-close" ng-click="cancel()"></i>
              </div>
          </header>
          <div class="content-body padding-bottom-10">
              <div class="row">
                  <form role="form" name="PickCartAdd" novalidate>
                      <div class="row">
                          <div class="form-group col-mg-2 col-mg-2 col-sm-6 col-xm-6">
                              <label for="pick_size" class="form-label">Pick Cart Size</label>
                              <input type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="pick_size" name="pick_size" ng-model="pick_size" required></input>
                              <!-- <span class="alert-danger" ng-show"PickCartAdd.pick_size.$touched && PickCartAdd.pick_size.$error.required">Pickcart size is required</span> -->
                          </div>
                      </div>
                      <button type="submit" ng-click="savepickcart()" class="btn btn-primary" ng-disabled="PickCartAdd.$invalid">Create</button>
                  </form>
              </div>
          </div>
      </section>
  </div>
    <img style="position:absolute;top:50%;left:50%;z-index:30000;"
            src="./img/loading-image.gif" ng-show="loading" />
</div>
