<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Profile';">
  <div class="col-lg-12">
    <section class="box nobox">
      <div class="content-body">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12 padding-right-0">
            <div class=" uprofile-wrapper">
              <div class="uprofile-image">
                <form editable-form name="userInfo" onaftersave="updateUserProfile()" ng-show="userInfo.$visible">
                  <input id="file" name="profileImage" type="file" e-name="profileImage" file="profileImage" value="profileImage" />
                  <button type="submit" ng-disabled="userInfo.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                  <button type="button" ng-disabled="userInfo.$waiting" ng-click="userInfo.$cancel()" class="btn btn-xs btn-default">Cancel</button>
                </form>
                <img src="{{profileImagePath ? profileImagePath : 'data/profile-image.png'}}" class="img-responsive" ng-show="!userInfo.$visible"
                  ng-click="userInfo.$show()">

              </div>
              <div class="uprofile-name">
                <h3>
                  <span editable-text="firstName" onaftersave="updateUserProfile()">{{profileData.first_name}}</span>
                  <span editable-text="lastName" onaftersave="updateUserProfile()">{{profileData.last_name}}</span>
                  <!-- Available statuses: online, idle, busy, away and offline -->
                  <span class="uprofile-status online"></span>
                </h3>
                <p class="uprofile-title">{{profileData.title}}</p>
                <br>
              </div>
              <div class="pull-right">
                <button type="button" ng-click="passwordChangeModel()" class="btn btn-link"><i class="fa fa-key" aria-hidden="true"></i>Reset password </button>
              </div>
            </div>
            <div class="uprofile-buttons margin-0 padding-top-0 text-center">
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-12 padding-left-0">
            <div class="uprofile-content padding-top-30">
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="row margin-top-5" ng-if="!isSuperAdmin">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <h4> Permissions Assigned:</h4>
                  <div ng-repeat="a in rightList" class="alert alert-warning" role="alert">
                    {{a}}
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <h4>Warehouses Assigned:</h4>
                  <div ng-repeat="a in nameList" class="alert alert-warning alert-dismissible" role="alert">
                    {{a.name}}
                  </div>

                </div>
              </div>
              <div ng-show="PasswordFlag==1">
              <input type="text" ng-model="currentPassword"/>
                </div>
              <div ng-if="isSuperAdmin">
                <div class="row">
                  <h4 class="col-lg-9 col-md-9">Company Details : </h4>
                  <button class="col-lg-3 col-md-3 btn" ng-show="!companyProfileForm.$visible" ng-click="companyProfileForm.$show()"><i class="fa fa-pencil"></i>
                  Edit Company Detail
                </button>
                </div>
                <div class="" ng-show="isSuperAdmin">
                  <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0">
                    <!--Company Name-->
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4>Name</h4>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span editable-text="companyDetails.name" e-name="company_name" e-form="companyProfileForm">{{companyDetails.name}}</span>
                      </div>
                    </div>
                    <!--Company Web Address-->
                    <div class="row margin-top-5">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4>Web Address</h4>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span editable-text="companyDetails.website" e-name="company_website" e-form="companyProfileForm">{{companyDetails.website}}</span>
                      </div>
                    </div>
                    <!--Company Email Id-->
                    <div class="row margin-top-5">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4>Email Id</h4>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span editable-text="companyDetails.email" e-name="company_name" e-form="companyProfileForm">{{companyDetails.email}}</span>
                      </div>
                    </div>
                    <!--Company Logo-->
                    <div class="row margin-top-5">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4>Logo</h4>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span>
                      <input id="file" ng-show="companyProfileForm.$visible" name="file" type="file" e-name="logo" e-form="companyProfileForm"
                        file="companyDetails.logo" value="companyDetails.logo" />
                      <img width="100px" src="{{logoPath}}" ng-show="!companyProfileForm.$visible && companyDetails.logo" /></span>
                      </div>
                    </div>
                    <form editable-form name="companyProfileForm" onaftersave="updateCompanyProfile()" ng-show="companyProfileForm.$visible">
                      <div class="col-lg-12 col-md-12">
                        <button type="submit" ng-disabled="companyProfileForm.$waiting" class="btn btn-primary margin-left-10 pull-left">Save</button>
                        <button type="button" ng-disabled="companyProfileForm.$waiting" ng-click="companyProfileForm.$cancel()" class="btn btn-default margin-right-10 pull-right">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <hr>
              <div class="clearfix"></div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
