<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Item Search</h4>
</div>
<div class="modal-body">
    <div ng-show="!itemSearchData">
        <form name="ItemSearch" role="form">
            <div class="form-group">
                <label for="item-code" class="form-label">SKU Code</label>
                <input type="text" class="form-control" id="item-code" ng-model="item.sku_code" required>
            </div>
            <button type="submit" ng-click="searchItem()" class="btn btn-primary" ng-disabled="ItemSearch.$invalid">Search</button>
            <button class="btn btn-default" type="button" ng-click="dismiss()">Cancel</button>
        </form>
    </div>
    <div ng-show="itemSearchData">
        <table class="table table-striped">
            <thead>
                <tr class="">
                    <th></th>
                    <th>Customer / Vendor Name</th>
                    <th>Description</th>
                    <th>SKU Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" ng-model="itemSelected" /></td>
                    <td>{{itemSearchData.customer}}</td>
                    <td>{{itemSearchData.description}}</td>
                    <td>{{itemSearchData.sku_code}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" type="button" ng-disabled="!itemSelected" ng-click="selectItem()">Select</button>
    </div>
</div>
<img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
<div class="modal-footer">
</div>
