<div class='content-wrapper' ng-init="init()">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Purchase Order</h2>
            </header>
            <div class="content-body padding-bottom-0">
                <form role="form" name="PurchaseOrderCreate">
                    <div class="row">
                        <!--Vendor List-->
                        <div class="col-lg-4 col-md-4 form-group">
                            <label class="form-label" for="vendor">Vendor</label>
                            <div class="controls">
                                <select class="form-control" id="vendor" name="vendorName" ng-options="vendor.id as vendor.vendor_name for vendor in vendorList" ng-model="vm.data.vendor_id" required></select> </div>
                        </div>
                    </div>
                    <!--Shipping Details-->
                    <div class="row nobox">
                        <!--Ship to Address-->
                        <div class="form-group col-lg-3 col-md-3">
                            <label class="form-label" for="shipping-address">Ship To</label>
                            <div class="controls">
                                <select class="form-control" id="ship_warehouse" name="warehouse" ng-options="warehouse as warehouse.warehouse_name for warehouse in warehouseList" ng-model="warehouseSelected" required></select>
                                <div ng-if="warehouseSelected">
                                    <input type="text" class="form-control" placeholder="Address Line 1" id="ship-address-1" name="shippingAddress1" ng-model="vm.data.address_1" ng-readonly="warehouseSelected && warehouseSelected.warehouse_id != -1" required />
                                    <input type="text" class="form-control" placeholder="Address Line 2" id="ship-address-2" name="shippingAddress2" ng-model="vm.data.address_2" ng-readonly="warehouseSelected && warehouseSelected.warehouse_id != -1"  />
                                    <input type="text" class="form-control" placeholder="City" id="ship-address-city" name="shippingAddressCity" ng-model="vm.data.city" ng-readonly="warehouseSelected && warehouseSelected.warehouse_id != -1" required />
                                    <input type="text" class="form-control" placeholder="Zip Code" id="ship-address-zip" name="shippingAddressZip" ng-model="vm.data.zip_code" ng-readonly="warehouseSelected && warehouseSelected.warehouse_id != -1" required/>
                                </div>
                            </div>
                        </div>
                        <!--Shipping Method-->
                        <div class="form-group col-lg-3 col-md-3">
                            <label class="form-label" for="shipping-method">Shipping Method</label>
                            <div class="controls">
                                <select id="shipping-method" class="form-control" name="shippingMethod" required ng-model="vm.data.ship_method" ng-options="method.value as method.name for method in shippingMethods">
                                </select>
                                <input type="text" class="form-control" name="shippingMethodOther" placeholder="Please specify shipping method" ng-show="vm.data.ship_method == 7" ng-required="vm.data.ship_method == 7" ng-model="vm.data.other_method" />
                            </div>
                        </div>
                        <!--Shipping Date-->
                        <div class="form-group col-lg-3 col-md-3">
                            <label class="form-label" for="shipping-date">Shipping Date</label>
                            <div class="controls input-group">
                                <!-- <input type="date" class="form-control datepicker" name="shippingDate" required ng-model="vm.data.ship_date" /> -->
                                <input type="text" name="expectedDate" id="expected-date" class="form-control datepicker" ng-click="isShipDateOpen = !isShipDateOpen" uib-datepicker-popup="yyyy-MM-dd HH:mm:ss" datepicker-options="datepickerOptions" ng-model="vm.data.ship_date" is-open="isShipDateOpen"
                                    show-button-bar="false" required />
                                      <span class="input-group-addon" ng-click="shippingDateOpen = !shippingDateOpen"><i class="fa fa-calendar" aria-hidden="true"></i></span>

                            </div>
                        </div>
                        <!--Expected Receive Date-->
                        <div class="form-group col-lg-3 col-md-3">
                            <label class="form-label" for="expected-date">Expected Receive Date</label>
                            <div class="controls input-group">
                                <input type="text" name="expectedDate" id="expected-date" class="form-control datepicker" ng-click="isExpDateOpen = !isExpDateOpen" uib-datepicker-popup="yyyy-MM-dd HH:mm:ss" datepicker-options="datepickerOptions" ng-model="vm.data.receive_date" is-open="isExpDateOpen"
                                    show-button-bar="false" popup-placement="bottom" required />
                                    <span class="input-group-addon" ng-click="shippingDateOpen = !shippingDateOpen"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                <!-- <input type="date" class="form-control " required ng-model="vm.data.receive_date"> -->
                            </div>
                        </div>
                    </div>
                    <!--Item Details-->
                    <div class="row">
                      <form name="tableForm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>SKU Code</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="count in itemCount track by $index">
                                    <td>
                                        <!--Customer List-->
                                        <div class="form-group">
                                            <div class="controls">
                                                <select class="form-control" id="customer" name="customerName" ng-options="customer.customer_id as customer.customer_name for customer in customerList" ng-model="vm.item_all_data[$index].customer_id" required></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!--Items-->
                                        <div class="form-group">
                                            <div class="input-group input-group-md">
                                                <input type="text" ng-model="itemList[$index]" id="item" name="itemSku" uib-typeahead="item as item.sku for item in getItemCodes($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" required>
                                                <i ng-show="loadingLocations" class="fa fa-spinner" aria-hidden="true"></i>
                                                <i ng-show="noResults" class="fa fa-exclamation-triangle" aria-hidden="true">No Items Found</i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{itemList[$index].address}}
                                    </td>
                                    <td>
                                        <!--Item Quantity-->
                                        <div class="form-group">
                                            <div class="controls">
                                                <input type="number" class="form-control" id="item-quantity" name="itemQnty" required ng-model="vm.item_all_data[$index].quantity" min="0">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!--Item Price-->
                                        <div class="form-group">
                                            <div class="controls input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="number" class="form-control" id="item-price" name="itemPrice" required ng-model="vm.item_all_data[$index].price" min="0">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!--Item Amount-->
                                        <div class="form-group">
                                            <div class="controls">
                                                {{itemAmount[$index] = vm.item_all_data[$index].quantity * vm.item_all_data[$index].price | currency:"$":2}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="clickItemRow($index)" class="btn btn-sm" ng-disabled="PurchaseOrderCreate.$invalid" ng-class="{'btn-success':$index==itemCount.length-1,'btn-default':$index<itemCount.length-1}"><i class="fa"  ng-class="{'fa-plus':$index==itemCount.length-1,'fa-close':$index<itemCount.length-1}"></i></button>
                                         <button type="button" class="btn btn-sm" ng-click="deleteArow($index)" ng-show="$index==itemCount.length-1" ><i class="fa fa-close"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center">
                                        <h4>Total</h4>
                                    </td>
                                    <td class="no-line text-right" colspan="2">
                                        <h3 style='margin:0px;' class="text-primary">{{totalAmount | currency:"$":2}}</h3>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                      </form>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary pull-left" ng-click="savePurchaseOrder()" ng-disabled="PurchaseOrderCreate.$invalid">{{vm.purchase_id  ? 'Update' : 'Create'}}</button>
                                <button type="button" class="btn pull-right" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
