<div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
        <header class="panel_header">
          <div class="actions panel_actions pull-right">
                 <i class="fa fa-close" ng-click="cancel()"></i>
              </div>
        </header>
      <div ng-show="page==1" class="content-body padding-bottom-10">

        <div class="row">
          <div ng-repeat="item in warehouse_data" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="tile-counter inverted text-success">
              <div class="content">
                <i class='fa fa-arrow-down icon-lg'></i>
                <h2 count-to={{item.asn_count}} value="0" duration=".3" class="number_counter"></h2>
                <div class="clearfix"></div>
                <span>{{item.warehouse_name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="page==2" class="content-body padding-bottom-10">

        <div class="row">
          <div ng-repeat="item in warehouse_data" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="tile-counter inverted text-info">
              <div class="content">
                <i class='fa fa-product-hunt icon-lg'></i>
                <h2 count-to={{item.put_away_count}} value="0" duration=".3" class="number_counter"></h2>
                <div class="clearfix"></div>
                <span>{{item.warehouse_name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="page==3" class="content-body padding-bottom-10">

        <div class="row">
            <div ng-repeat="item in warehouse_data" style="padding-left: 15%;" class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
                <div uib-tooltip={{item.pallet_occupied_count}}/{{item.pallet_total_count}} ui-jq="easyPieChart" ui-options="{
                          easing: 'easeOutBounce',
                          barColor: '{{app.color.primary}}',
                          trackColor: '#f5f5f5',
                          scaleColor: '#eaeaea',
                          lineCap: 'square',
                          lineWidth: 5,
                          size: 120,
                          animate: 1000,
                          percent: {{item.pallet_total_count== 0 ? 0:(item.pallet_occupied_count/item.pallet_total_count)*100}}
                        }">
                  <div>
                    <span class="text-primary percent">{{item.pallet_total_count== 0 ? 0:(item.pallet_occupied_count/item.pallet_total_count)*100
                      |number:0}}%
                    </span>
                  </div>
                </div>
                <h4 class="margin-top-10 margin-bottom-10" style="padding-left: 15%!important">{{item.warehouse_name}}</h4>
              </div>
        </div>
      </div>
      <div ng-show="page==4" class="content-body padding-bottom-10">
      <div class="row">
          <div ng-repeat="item in warehouse_data" style="padding-left: 15%;" class="col-lg-6 col-xs-12 col-sm-12 col-md-6">
              <div uib-tooltip={{item.shelf_total_count}}/{{item.shelf_total_count}} ui-jq="easyPieChart" ui-options="{
                easing: 'easeOutBounce',
                barColor: '{{app.color.accent}}',
                trackColor: '#f5f5f5',
                scaleColor: '#eaeaea',
                lineCap: 'square',
                lineWidth: 5,
                size: 120,
                animate: 1000,
                percent: {{whole_data.shelf_total_count== 0 ? 0 : (item.shelf_occupied_count/item.shelf_total_count)*100}}
                      }">
                <div>
                  <span class="text-primary percent">{{item.shelf_total_count== 0 ? 0:(item.shelf_occupied_count/item.shelf_total_count)*100
                    |number:0}}%
                  </span>
                </div>
              </div>
              <h4 class="margin-top-10 margin-bottom-10" style="padding-left: 15%!important">{{item.warehouse_name}}</h4>
            </div>

      </div>
      </div>
    </div>
    </section>
  </div>
</div>
