<div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section>

      <div class="content-body padding-bottom-0 ">
        <div class=" row panel_header margin-bottom-10">
          <h3 class="title pull-left">Reports</h3>
        </div>
        <div class="row hedline-border">
          <strong class="">Orders </strong>
        </div>
        <div class="row">
          <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- <div class="header">Order Summary</div> -->
            <div class="content" >

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="click-icon table-headline">Order details</th>
                  </tr>
                  <tr>
                    <td>A List of orders by store with complete customer and line item details</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- <div class="header">Order Summary</div> -->
            <div class="content">

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="table-headline click-icon">Country Comparison</th>
                  </tr>
                  <tr>
                    <td>All breakdown of sales revenue & quantity of item sold by country</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- <div class="header">Order Summary</div> -->
            <div class="content">

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="click-icon table-headline">Buyer Comments</th>
                  </tr>
                  <tr>
                    <td>A list of all orders in the date range that contain customer notes.</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div class="row hedline-border">
          <strong class="">Products </strong>
        </div>
        <div class="row">
          <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- <div class="header">Order Summary</div> -->
            <div class="content">

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="click-icon table-headline">Item Demand Summary</th>
                  </tr>
                  <tr>
                    <td>A List of products sold by order location and SKU with a count of orders, items, and total item revenue</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- <div class="header">Order Summary</div> -->
            <div class="content">

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="click-icon table-headline">Product Sales</th>
                  </tr>
                  <tr>
                    <td>A list of product sold by store and category with a count of orders, items, and total item revenue </td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- <div class="header">Order Summary</div> -->
            <div class="content">

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="click-icon table-headline">Returned Products</th>
                  </tr>
                  <tr>
                    <td>A report of returned products, return reasons, and return shipping costs.</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div class="row hedline-border">
          <strong class="">Shipments </strong>
        </div>
        <div class="row">
          <div style="margin-bottom:-2%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="content">
              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="click-icon table-headline">Shipment count by user</th>
                  </tr>
                  <tr>
                    <td>A productivity report of shipments processed by users over time grouped by day, week, month, or year.</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            <div class="content">

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class=" click-icon table-headline">Shipped items</th>
                  </tr>
                  <tr>
                    <td>A list of item shipped during a specified date range summarized by SKU.</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            <div class="content">

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="click-icon table-headline">Shipping Cost</th>
                  </tr>
                  <tr>
                    <td>A report of shipping revenue, shipping costs, and net shipping profit or loss by customer foe each store.</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- <div class="header">Order Summary</div> -->
            <div class="content">

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="click-icon table-headline">Shipping Manifest</th>
                  </tr>
                  <tr>
                    <td>A report of all shipping data (with tracking numbers, service class, cost, and weight) for a given day.</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div style="margin-bottom: 0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- <div class="header">Order Summary</div> -->
            <div class="content">

              <table class="table table-light">
                <thead>
                  <tr class="text-center">
                    <th class="click-icon table-headline">Batch Detail</th>
                  </tr>
                  <tr>
                    <td>A report detailing recent batches.</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <div class="row hedline-border">
            <strong class="">Accounting </strong>
          </div>
          <div class="row">
            <div style="margin-bottom:0%;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <!-- <div class="header">Order Summary</div> -->
              <div class="content" >

                <table class="table table-light">
                  <thead>
                    <tr class="text-center">
                      <th class= "click-icon table-headline">Postage Purchase History</th>
                    </tr>
                    <tr>
                      <td>A historical list of purchase postage for a specific carrier for a given date range, including labels purchased and balance refills</td>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>


          </div>
      </div>

    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
