<div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Add Your Shop</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-10">
        <div class="row">
          <form role="form" name="cusAdd" novalidate>
            <div class="col-lg-12">
              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label class="control-label" for="cusName">Select Customer<b style="color:red">*</b></label>
                <span class="desc"></span>
                <div class="input-group input-group-md">
                  <input class="form-control" id="cusName"  typeahead-loading="loadingFromLoc" typeahead-no-results="noFromLoc" ng-model="cus.id" uib-typeahead="name for name in customerList | filter:$viewValue | limitTo:8" required>
                  <i ng-show="loadingFromLoc" class="fa fa-spinner" aria-hidden="true"></i>
                  <i ng-show="noFromLoc" class="fa fa-exclamation-triangle" aria-hidden="true">No Locations Found</i>
                </div>
                <!-- <div class="form-group"> -->
                  <!-- <select class="form-control" id="cusName" ng-options="cus as cus.name for cus in idlist track by cus.id" ng-model="cus.id" required></select> -->
                  <!-- <select class="form-control" id="customer-vendor-name" ng-options="user as user.name for user in userList track by (user.id+user.type_name)" ng-model="vm.user" required></select> -->
                <!-- </div> -->
              </div>
              <div class="form-group col-lg-6 col-md-4 col-sm-12 col-xs-12">
                <label class="control-label" for="storeId">Store Id<b style="color:red">*</b></label>
                <div class="controls">
                  <input type="number" class="form-control" id="lname" name="storeId" ng-model="storeId" required>
                </div>
                <div class="alert-danger" ng-show="cusAdd.storeId.$error.required && cusAdd.storeId.$touched">
                  <span>Store Id is required</span>
                 </div>
              </div>
            </div>
            <div class="col-lg-6">
             <button type="submit"  ng-disabled="cusAdd.$invalid||noFromLoc" ng-click="check()" class="btn btn-primary">Create</button>
             </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

