<div class="modal-header">
    <h3 class="modal-title">Pallet Details</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="item in popupdata" class="col-lg-12">
            <a class="col-lg-6"><b>Item:</b> {{item.address }}</a>
            <a class="col-lg-6"><b>SKU:</b> {{item.sku }}</a>
            
        </li>
    </ul>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>