<div class='content-wrapper'>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Enter Pick Cart </h2>
                <!-- <div class="actions panel_actions pull-right"> -->
                    <!-- <i class="fa fa-close" ng-click="cancel()"></i> -->
                 <!-- </div> -->
            </header>
            <div class="content-body padding-bottom-10">
                <div class="row">
                    <form role="form" name="takeOrder" novalidate>
                        <div class="row">
                              <div class="form-group col-mg-2 col-mg-2 col-sm-6 col-xm-6">
                                <label for="section-name" class="form-label">Pick Cart:</label>
                                <input type="text" class="form-control" id="section-name" name="section-name" ng-model="order_id" required></input>
                            </div>
                            <div ng-if="errorFlag" style="color:red">
                              Enterd Pick Cart is not valid
                              </div>
                                                   </div>
                        <button  type="submit" ng-click="passId()" class="btn btn-primary pull-right" ng-disabled="takeOrder.$invalid&&!errorFlag">Go</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    </div>
