<div class="modal-header">
  <h4 class="modal-title text-center">Delete</h4>
</div>
<div class="modal-body">
Are you sure you want to delete ?
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()" ng-if="showCancel">Cancel</button>
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
