<div class="content-wrapper">
  <h1 class="text-center"> Account Verifying</h1>
  <h4 class="text-center" ng-show="isWaiting">Please Wait .... </h4>
  <div class="text-center" ng-show="isWaiting">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div class="text-center" ng-show="!isWaiting">
    <h2 ng-class="{'alert-danger':response.error,'alert-success':!response.error}">{{response.message}}</h2>
    <h4 ng-show="!response.error">You will be redirected in {{counter}} seconds. Please Wait....</h4>
    <h4 ng-show="response.error" class="alert alert-danger">{{response.errorMessage}}</h4>
  </div>
</div>
