<div class='content-wrapper' ng-init="init()">
  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a ui-sref="app.users.list" class="collapsed">Users </a>
      </li>
      <li class="active">
        <strong>{{userData.first_name}} {{userData.last_name}}</strong>
      </li>

    </ol>
  </div>

  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">{{userData.first_name}} {{userData.last_name}}</h2>
      </header>
      <div class="content-body">
        <div class="row">
          <uib-tabset justified="true" class="tab-container primary" active="tabIndex">
            <uib-tab>
              <uib-tab-heading>
                <i class="fa fa-home"></i>Baisc Info
              </uib-tab-heading>
              <!--User Info Table-->
              <div class="row padding-10">
                <button class="btn btn-primary pull-right" ng-click="basicInfoForm.$show()">Edit</button>
              </div>
              <table class="table">
                <thead>
                  <th></th>
                  <th>
                    <form editable-form name="basicInfoForm" onaftersave="updateUser('basic_info')" ng-show="basicInfoForm.$visible">
                      <button type="submit" ng-disabled="basicInfoForm.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                      <button type="button" ng-disabled="basicInfoForm.$waiting" ng-click="basicInfoForm.$cancel()" class="btn btn-xs btn-default">Cancel</button>
                    </form>
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">First Name</th>
                    <td><span editable-text="userData.first_name" e-name="first_name" e-form="basicInfoForm">{{userData.first_name}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Last Name</th>
                    <td><span editable-text="userData.last_name" e-name="last_name" e-form="basicInfoForm">{{userData.last_name}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">Title</th>
                    <td><span editable-text="userData.title" e-name="title" e-form="basicInfoForm">{{userData.title}}</span></td>
                  </tr>
                  <tr>
                    <th scope="row">E-Mail</th>
                    <td><span editable-text="userData.admin_email" e-name="email" e-form="basicInfoForm">{{userData.admin_email}}</span></td>
                  </tr>
                </tbody>
              </table>
            </uib-tab>
            <uib-tab ng-show="userData.user_role != 1">
              <uib-tab-heading>
                <i class="fa fa-user"></i>User Rights
              </uib-tab-heading>
              <!--User Right Table-->
              <div class="row padding-10">
                <button class="btn btn-primary pull-right" ng-click="userRightForm.$show()">Edit</button>
              </div>
              <table class="table">
                <thead>
                  <th>User Right</th>
                  <th class="v-middle">Assigned
                    <form editable-form name="userRightForm" onaftersave="updateUser('user_right')" ng-show="userRightForm.$visible">
                      <button type="submit" ng-disabled="userRightForm.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                      <button type="button" ng-disabled="userRightForm.$waiting" ng-click="userRightForm.$cancel()" class="btn btn-xs btn-default">Cancel</button>
                    </form>
                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="right in userRights">
                    <td scope="row">{{right.permission}}</td>
                    <td><span editable-select="right.status" e-name="status" e-form="userRightForm" e-ng-options="s.value as s.text for s in assign">
                       <i class="fa fa-{{right.icon}}"></i>
                      </span></td>
                  </tr>
                </tbody>
              </table>
            </uib-tab>
            <uib-tab ng-show="userData.user_role != 1">
              <uib-tab-heading>
                <i class="fa fa-user"></i>Warehouse Rights
              </uib-tab-heading>
              <!--Warehouse Table-->
              <div class="row padding-10">
                <button class="btn btn-primary pull-right" ng-click="warehouseRightForm.$show()">Edit</button>
              </div>
              <table class="table">
                <thead>
                  <th>Warehouse</th>
                  <th>Assigned
                    <form editable-form name="warehouseRightForm" onaftersave="updateUser('warehouse_right')" ng-show="warehouseRightForm.$visible">
                      <button type="submit" ng-disabled="warehouseRightForm.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                      <button type="button" ng-disabled="warehouseRightForm.$waiting" ng-click="warehouseRightForm.$cancel()" class="btn btn-xs btn-default">Cancel</button>
                    </form>
                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="warehouse in warehouseRights">
                    <td scope="row">{{warehouse.warehouse_name}}</td>
                    <td><span editable-select="warehouse.status" e-name="status" e-form="warehouseRightForm" e-ng-options="s.value as s.text for s in assign">
                       <i class="fa fa-{{warehouse.icon}}"></i>
                      </span></td>
                  </tr>
                </tbody>
              </table>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
