<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Users';">
  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>All Users</strong>
      </li>

    </ol>
  </div>
  <div class="col-lg-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">All Users</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-plus" ng-click="addUser()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpt" class="table table-striped">
              <thead>
                <tr>
                  <th class="col-lg-3 col-md-3 col-sm-3">First Name</th>
                  <th class="col-lg-3 col-md-3 col-sm-3">Last Name</th>
                  <th>Title</th>
                  <th class="col-lg-1 col-md-1 col-sm-1">Email</th>
                  <th class="col-lg-1 col-md-1 col-sm-1">Status</th>
                  <th class="col-lg-4 col-md-4 col-sm-4"></th>

                  <!--<th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th></th>-->

                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
