<div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">User Basic Info</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-0">
        <div class="row">
          <form name="UserCreate" novalidate>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <!--First Name-->
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label class="control-label" for="fname">First Name<b style="color:red">*</b></label>
                  <span class="desc"></span>
                  <div class="controls">
                    <input type="text" class="form-control" id="fname" name="firstName" ng-model="vm.first_name" required>
                  </div>
                  <div class="alert-danger" ng-show="UserCreate.firstName.$error.required && UserCreate.firstName.$touched">
                    <span>First Name is required</span>
                  </div>
                </div>
                <!--Last Name-->
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label class="control-label" for="lname">Last Name<b style="color:red">*</b></label>
                  <div class="controls">
                    <input type="text" class="form-control" id="lname" name="lastName" ng-model="vm.last_name" required>
                  </div>
                  <div class="alert-danger" ng-show="UserCreate.lastName.$error.required && UserCreate.lastName.$touched">
                    <span>Last Name is required</span>
                  </div>
                </div>
                <!--Title-->
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label class="control-label" for="title">Title<b style="color:red">*</b></label>
                  <div class="controls">
                    <input type="text" class="form-control" id="title" name="title" ng-model="vm.title" required>
                  </div>
                  <div class="alert-danger" ng-show="UserCreate.title.$error.required && UserCreate.title.$touched">
                    <span>Title is required</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <!--E-mail-->
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label class="control-label" for="email">E-mail<b style="color:red">*</b></label>
                  <div class="controls">
                    <input type="email" class="form-control" name='email' id="email" ng-model="vm.email" required ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.[a-zA-z]{2,3})+$/"
                      email-Available="vm.email">
                  </div>
                  <div>
                    <span ng-show="!UserCreate.email.$error.pattern && !UserCreate.email.$error.required && UserCreate.email.$dirty && !UserCreate.email.$error.emailAvailable"
                      class="alert-success">Email Available</span>
                    <span ng-show="!UserCreate.email.$error.pattern && UserCreate.email.$dirty && UserCreate.email.$error.emailAvailable" class="alert-danger">Email Not Available</span>
                    <span class="alert-danger" ng-show="UserCreate.email.$error.pattern && UserCreate.email.$touched">Invalid E-mail format</span>
                    <span class="alert-danger" ng-show="UserCreate.email.$error.required && UserCreate.email.$touched">E-mail is required</span>
                  </div>
                </div>
                <!--Password-->
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label class="control-label" for="passd">Password<b style="color:red">*</b></label>
                  <div class="controls">
                    <input type="password" name="pwd" class="form-control" id="passd" ng-model="vm.password" required ng-minlength="6" maxlength="10">
                  </div>
                  <div class="alert-danger" ng-show="UserCreate.pwd.$error.minlength">Password should be a minimum of 6 characters</div>
                  <div class="alert-danger" ng-show="UserCreate.pwd.$error.required && UserCreate.pwd.$touched">Password is required</div>
                </div>
              </div>
              <div class="row">
                <!--Superadmin-->
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="superadmin">SuperAdmin</label>
                  <div class="controls">
                    <label class="icheck"><input type="checkbox" name="superadmin" ng-model="vm.isSuperAdmin"/><i></i></label>
                  </div>
                </div>
                <!--Status-->
                <div class="form-group radio inputgroup col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label class="icheck">
                                <input type="radio" ng-model="vm.status" name="active" value=1 >
                                <i></i>Active
                            </label>
                  <label class="icheck">
                                <input type="radio" ng-model="vm.status" name="inactive" value=0 >
                                <i></i>Inactive
                            </label>
                </div>
              </div>
              <!--User Rights-->
              <div class="form-group" ng-if="!vm.isSuperAdmin">
                <!--<multiselect class="input-xlarge" multiple="true" ng-model="user_rights" options="right.permission for right in userRights" change="selected()"></multiselect>-->
                <label class="control-label" for="field-5">User Rights</label>
                <multiselect class="input-xlarge" multiple="true" ng-model="$parent.user_rights" options="right.permission for right in userRights"
                  name="user_rights" ng-required="!vm.isSuperAdmin">
                </multiselect>
                <div ng-show="UserCreate.user_rights.$error.required && UserCreate.user_rights.$dirty" class="alert-danger">Please select a user right</div>

              </div>
              <!--Warehouse Rights-->
              <div class="form-group " ng-if="!vm.isSuperAdmin">
                <label class="control-label " for="field-5 ">Warehouse</label>
                <multiselect ng-model="$parent.warehouse_rights" options="warehouse.warehouse_name for warehouse in warehouseRights" data-multiple="true"
                  scroll-after-rows="5" filter-after-rows="5" max-width="200 " tabindex="-1" name="warehouse_rights" value="warehouse.warehouse_id"
                  ng-required="!vm.isSuperAdmin">
                </multiselect>
                <div ng-show="UserCreate.warehouse_rights.$error.required && UserCreate.warehouse_rights.$dirty" class="alert-danger">Please select a warehouse</div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30 ">
              <div class="text-left ">
                <button type="submit " class="btn btn-primary " ng-disabled="UserCreate.$invalid" ng-click="saveUser()">Save</button>
                <input type="button" class="btn " ng-click="cancel()" value="Cancel">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
