<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Vendors';">
  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>All Vendors</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">All Vendors</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-plus" ng-click="addVendor()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-striped" ui-jq="dataTable" ui-options="dataTableOpt">
              <thead>
                <tr>
                  <th class="col-lg-2 col-md-2 col-sm-2">Name</th>
                  <th class="col-lg-2 col-md-2 col-sm-2">Address</th>
                  <th class="col-lg-2 col-md-2 col-sm-2">Contact Person</th>
                  <th class="col-lg-1 col-md-1 col-sm-1">Email</th>
                  <th class="col-lg-1 col-md-1 col-sm-1">Phone</th>
                  <th class="col-lg-1 col-md-1 col-sm-1">Status</th>
                  <th class="col-lg-3 col-md-3 col-sm-3"></th>

                  <!--<th>Name</th>
                  <th>Address</th>
                  <th>Contact Person</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Status</th>
                  <th></th>-->

                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
