<div class='content-wrapper' ng-init="init()">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Vendor Basic Info</h2>
      </header>
      <div class="content-body padding-bottom-0">
        <div class="row">
          <!--VENDOR TABLE STARTED-->
          <table class="table">
            <thead>
              <th></th>
              <th>
                <form editable-form name="VendorInfo" onaftersave="saveVendor(true)" ng-show="VendorInfo.$visible">
                  <button type="submit" ng-disabled="VendorInfo.$waiting" class="btn btn-xs btn-info margin-right-10">Save</button>
                </form>
              </th>
            </thead>
            <tbody>
              <tr>
                <th scope="row">First Name</th>
                <td><span editable-text="vm.vendor_name" e-name="name" e-form="VendorInfo">{{vm.vendor_name}}</span></td>
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td><span editable-text="vm.address_1" e-name="address" e-form="VendorInfo"></span>
                  <span editable-text="vm.address_2" e-name="address" e-form="VendorInfo"></span>
                  <span editable-text="vm.city" e-name="address" e-form="VendorInfo"></span>
                  <span editable-text="vm.zip_code" e-name="address" e-form="VendorInfo"></span>
                  <span ng-show="!VendorInfo.$visible"> {{vm.address_1}},{{vm.address_2}},{{vm.city}},{{vm.zip_code}}</span>
                </td>
              </tr>
              <tr>
                <th scope="row">E-Mail</th>
                <td><span editable-text="vm.email" e-name="email" e-form="VendorInfo">{{vm.email}}</span></td>
              </tr>
              <tr>
                <th scope="row">Contact Person</th>
                <td><span editable-text="vm.contact_person" e-name="contact" e-form="VendorInfo">{{vm.contact_person}}</span></td>
              </tr>
              <tr>
                <th scope="row">Phone</th>
                <td><span editable-text="vm.phone" e-name="phone" e-form="VendorInfo">{{vm.phone}}</span></td>
              </tr>
              <tr>
                <th scope="row">Status</th>
                <td><span editable-select="vm.status" e-name="status" e-form="VendorInfo" e-ng-options="s.value as s.text for s in active">
                    <span ng-show="vm.status == 1">Active</span>
                  <span ng-show="vm.status == 0">Inactive</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <!--VENDOR TABLE-->
        </div>
        <div class="row">
          <button class="btn btn-primary pull-left margin-bottom-5" ng-click="VendorInfo.$show()">Edit</button>
          <button class="btn  pull-right margin-bottom-5" ng-click="VendorInfo.$visible && VendorInfo.$cancel();!VendorInfo.$visible && cancel()">Cancel</button>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
