<div class='content-wrapper' ng-init="init()">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Vendor Basic Info</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-30">
        <div class="row">
          <!--FORM STARTED-->
          <form name="VendorCreate">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <!--Vendor Name-->
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="vendor_name">Name</label>
                  <div class="controls">
                    <input type="text" class="form-control" name="vendorName" id="vendor_name" ng-model="vm.vendor_name" required ng-disabled="isView">
                  </div>
                </div>

                <!--Vendor Email-->
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="vendor_email">Email</label>
                  <span class="desc"></span>
                  <div class="controls">
                    <input type="email" class="form-control" id="vendor_email" name="vendorEmail" ng-model="vm.email" required ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.[a-zA-z]{2,3})+$/"
                      vemail-Available="vm.email">
                    <span ng-show="VendorCreate.vendorEmail.$error.pattern&&VendorCreate.vendorEmail.$dirty" class="alert-danger">Invalid E-mail Format</span>
                    <span ng-show="!VendorCreate.vendorEmail.$error.pattern&&VendorCreate.vendorEmail.$dirty && VendorCreate.vendorEmail.$error.emailAvailable" class="alert-success">Email Available</span>
                    <span ng-show="!VendorCreate.vendorEmail.$error.pattern&&VendorCreate.vendorEmail.$dirty && !VendorCreate.vendorEmail.$error.emailAvailable" class="alert-danger">Email Not Available</span>
                  </div>
                  <!-- <span class="alert-danger" ng-show="VendorCreate.vendorEmail.$error.pattern">
                    Invalid E-mail Format
                  </span> -->
                </div>
              </div>
              <div ng-include="'partials/components/address.html'"></div>
              <div class="row">
                <!--Vendor Person-->
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="vendor_person">Contact Person</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="vendor_person" name="vendorContact" ng-model="vm.contact_person" required ng-disabled="isView">
                  </div>
                </div>
                <!--Vendor Phone-->
                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="vendor-phone">Phone</label>
                  <div class="controls">
                    <input type="text" id="vendor-phone" name="vendorPhone" class="form-control" required ng-model="vm.phone" ng-disabled="isView">
                  </div>
                </div>
              </div>
              <!--Status-->
              <div class="form-group radio" inputgroup>
                <label class="icheck">
                  <input type="radio" ng-model="vm.status" name="active" value=1 ng-disabled="isView"><i></i>Active</label>
                <label class="icheck">
                  <input type="radio" ng-model="vm.status" name="inactive" value=0 ng-disabled="isView"><i></i>Inactive</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30" ng-show="!isView">
              <button type="button" class="btn btn-primary" ng-click="saveVendor()">Save</button>
              <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12" ng-show="isView">
              <button type="button" class="btn btn-primary pull-left" ng-click="editVendor()">Update</button>
              <button type="button" class="btn pull-right" ng-click="cancel()">Cancel</button>
            </div>
          </form>
          <!--FORM END-->
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
