<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Warehouse Detail';init()">
  <div ui-breadcrumb-auto-hidden class="col-lg-12 col-md-12 col-xs-12 col sm-12">
    <ol class="breadcrumb auto-hidden  border">
      <li>
        <a ui-sref="app.dashboard" class="collapsed"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a ui-sref="app.warehouse.list" class="collapsed">All Warehouses </a>
        <li class="active">
          <strong>{{warehouse_name}}</strong>
        </li>

    </ol>
  </div>
  <div class="row padding-left-15">
    <h4 class="padding-left-15"><strong>Warehouse Name : {{warehouse_name}}</strong></h4>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="type in locationTypes | limitTo:4">
    <section class="box">
      <header class="panel_header">
        <h2 class="title pull-left cursor-pointer" ng-click="listLocations(type.type_id)">{{type.type_name}}</h2>
        <div class="actions panel_actions pull-right">
          <i aria-hidden="true" class="fa fa-plus" ng-click="addLocation(type.type_id)"></i>
          <i ng-if="locationCount[type.type_id -1 ].total_count!=0" aria-hidden="true" class="fa fa-minus" ng-click="deleteAllLocations(type.type_id)"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-15">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-hover">
              <tbody>
                <tr class="cursor-pointer" ng-click="listLocations(type.type_id,0)">
                  <td>Total Number of {{type.type_name}}</td>
                  <td>
                    {{locationCount[type.type_id -1 ].total_count}}
                  </td>
                </tr>
                <tr class="cursor-pointer" ng-click="listLocations(type.type_id,1)">
                  <td>{{type.type_name}} Occupied</td>
                  <td>
                    {{locationCount[type.type_id -1 ].occupied}}
                  </td>
                </tr>
                <tr class="cursor-pointer" ng-click="listLocations(type.type_id,2)">
                  <td>{{type.type_name}} Free</td>
                  <td>
                    {{locationCount[type.type_id -1 ].available}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;" src="./img/loading-image.gif" ng-show="loading" />
</div>
