<div class='content-wrapper' ng-init="init()">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Edit Warehouse</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-10">
        <div class="row">
          <form role="form" name="warehouseCreate" novalidate>
            <div class="form-group">
              <label class="form-label" for="warehouse-name">Name</label>
              <input type="test" class="form-control" id="warehouse-name" ng-model="vm.warehouse_name" value="{{vm.warehouse_name}}">
            </div>
            <!--Warehouse Address-->
            <div ng-include="'partials/components/address.html'"></div>
            <!--<div class="form-group">
      <label class="form-label" for="address">Address</label>
      <div class="controls">
        <textarea class="form-control" cols="5" id="address" ng-model="vm.address" value="{{vm.address}}"></textarea>
      </div>
    </div>-->

            <div class="form-group radio" inputgroup>
              <label class="icheck">
                                <input type="radio" ng-model="vm.status" name="active" value=1 >
                                <i></i>Active
                            </label>
              <label class="icheck">
                                <input type="radio" ng-model="vm.status" name="inactive" value=0 >
                                <i></i>Inactive
                            </label>
            </div>
            <div class="form-group margin-bottom-0">
              <button class="btn btn-primary " data-ng-click="saveWarehouse()">Update</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
  <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
