<div class='content-wrapper'>
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Create Warehouse</h2>
        <div class="actions panel_actions pull-right">
          <i class="fa fa-close" ng-click="cancel()"></i>
        </div>
      </header>
      <div class="content-body padding-bottom-10">
        <div class="row">
          <form role="form" name="warehouseCreate"  novalidate>
            <!--Warehouse Name-->
            <div class="form-group">
              <label class="form-label" for="warehouse-name">Name<b style="color:red">*</b></label>
              <input type="text" class="form-control" id="warehouse-name" name='warehouseName' placeholder="Warehouse Name" ng-model="vm.warehouse_name"
                required>
              <span class="alert-danger" ng-show="warehouseCreate.warehouseName.$touched && warehouseCreate.warehouseName.$error.required">Warehouse name is required</span>
            </div>

            <!--Warehouse Address-->
            <div ng-include="'partials/components/address.html'">
            </div>
            <span class="alert-danger" ng-show="warehouseCreate.addressLine1.$touched && warehouseCreate.addressLine1.$error.required">Address Line 1 is required</span>
            <span class="alert-danger" ng-show="warehouseCreate.addressLine2.$touched && warehouseCreate.addressLine2.$error.required">Address Line 2 is required</span>
            <span class="alert-danger" ng-show="warehouseCreate.city.$touched && warehouseCreate.city.$error.required">City is required</span>
            <span class="alert-danger" ng-show="warehouseCreate.zipCode.$touched && warehouseCreate.zipCode.$error.required">Zip code is required</span>
            <div class="form-group radio" inputgroup>
              <label class="icheck">
                <input type="radio" ng-model="vm.status" name="active" value=1><i></i>Active</label>
              <label class="icheck">
                <input type="radio" ng-model="vm.status" name="inactive" value=0><i></i>Inactive</label>
            </div>
            <div class="form-group">
              <label for="plan">Plan<b style="color:red">*</b></label>
              <select class="form-control" id="plan" ng-model="vm.plan" ng-options="plan for plan in planList" required></select>
            </div>
            <div class="form-group margin-bottom-0">
              <button class="btn btn-primary " type="submit"  ng-disabled="warehouseCreate.$invalid||isDisabled" ng-click="isDisabled=true;saveWarehouse()">Create</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
   <img style="position:absolute;top:50%;left:50%;z-index:30000;"
              src="./img/loading-image.gif" ng-show="loading" />
</div>
