<div class="dropdown">
    <button class="btn" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
    <span class="pull-left">{{header}}</span>
    <span class="pull-right"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
  </button>
    <ul class="dropdown-menu">
        <li>
            <input class="input-block-level form-control" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
        </li>
        <li ng-show="multiple">
            <button class="btn-link btn-small" ng-click="checkAll()"><i class="fa fa-check" aria-hidden="true"></i>Select all</button>
            <button class="btn-link btn-small" ng-click="uncheckAll()"><i class="fa fa-times" aria-hidden="true"></i> Clear all</button>
        </li>
        <li ng-repeat="i in items | filter:searchText">
            <a ng-click="select(i); focus()">
                <i ng-class="{'fa fa-check': i.checked, '': !i.checked}"></i>{{i.label}}</a>
        </li>
    </ul>
</div>